<ion-header>
    <!-- <ion-toolbar color="primary">
        <ion-icon name="arrow-back" class="icon-24" (click)="back()"></ion-icon>
        <ion-title>
          体检详情
        </ion-title>
        <ion-icon name="close" slot="end" class="icon-24"></ion-icon>
      </ion-toolbar> -->
      <div [style.background-image]="'url('+uploadpath+'resource/'+res.headpicture+')'" class="bg" ></div>
</ion-header>

<ion-content   *ngIf="xianqin!=null">
  <div style="background: #0F848D ;position:fixed;width:100%" class="padding-top-40 height-110">
    <div class="flex-row flex-center margin-left-30">
        <div  (click)="back()">
            <img src="{{uploadpath}}resource/{{res.leftarrow}}" class="icon-32" />
        </div>
        <div class="f12 txt-white margin-left-5" (click)="back()">上一步</div>
        <div class="f16 txt-white margin-left-200">体检详情</div>
    </div>
  </div>
  <div style="background: #0F848D;width: 100%;" class="height-40" ></div>
        <div class="card  ">
          <div class="f16 txt-bold txt-black margin-left-30">{{xianqin.orderstatus_name}}</div>
          
        </div>



    <div class="flex-row margin-top-30 margin-bottom-30">
        <div class="f16 margin-left-40">订单号:</div>
        <div class="f16 margin-left-20">{{xianqin.orderno}}</div>
    </div>
 
    <hr/>

    <div class="margin-left-30 margin-top-30">
      <div class="f16 txt-black margin-top-20">{{xianqin.ordertime_dateformat}}</div>
      <div class="f16 txt-black margin-top-20">{{xianqin.hospital_name}}</div>
      <div class="f16 txt-black margin-top-20">{{xianqin.hospital_address}}</div>
    </div>
    <hr/>

    <div class="margin-left-30 margin-top-30">
        <div class="f16 txt-black margin-top-20">体检，{{xianqin.setmeal_name}}</div>
        <div class="f16 txt-black margin-top-20">费用：￥ {{xianqin.amount}}</div>
    </div>
    <hr/>

    <div class="margin-left-30 margin-top-30 flex-row flex-center">
      <div class="f16 txt-black">体检人</div>
      <div class="f16 txt-black margin-left-540">{{xianqin.patientname}}</div>
    </div>
    <hr/>

    <div class="margin-left-30 margin-top-30 flex-row flex-center margin-bottom-30">
        <div class="f16 txt-black">手机号</div>
        <div class="f16 txt-black margin-left-400">{{xianqin.patientmobile}}</div>
    </div>

    

    <div class="margin-top-30 padding-top-30" style="background-color: #F0F2F5;">
        <div class="f12 txt-gw margin-left-30">重要提示：</div>
        <div class="f12 txt-gw margin-left-30">1. 根据医院规定，体检日当天可能无法取消预约。文字内容后台可编辑。</div>
        <div class="height-90"></div>
        <div *ngIf="xianqin.orderstatus=='A'" class="flex-row margin-top-30" style="position: fixed;bottom:0">
          <div (click)="quxiao()" style="background-color: #B9B9B9;" class="txt-white d2 text-center">取消</div>
          <div class="txt-white  d2 text-center" style="background-color: #0F848D;" >去付款</div>
        </div>
    </div>

</ion-content>
