@function rpx($px) {
    @return ($px * 100vw) / 750;
  }
  .card{
    background-color:white;    
    border-top-left-radius: rpx(37);
    border-top-right-radius: rpx(37);
    padding-top: rpx(30);
    margin-top:rpx(-40)
    
  }
.height-110{
    height: rpx(110);
  }
  .height-40{
    height: rpx(40);
    margin-top:rpx(110);
  }

.icon-32{
    width:rpx(28);
    height: rpx(28);}
.height-81{
  height: rpx(81*2);
}

.bg{
  width:100%;
  height:rpx(100);
  background-size: cover;
}
hr{
    border: #aaaaaa solid rpx(0.01*2);
    background-color: #aaaaaa;
    opacity: 0.2;
  }
  
  .d1{
    height: rpx(100);
    line-height: rpx(100);
    background:#F0F2F5;
    padding-left: rpx(30)
  
  }

  .img-124{
      width: rpx(124*2);
      height: rpx(140);
  }

  .modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1 !important;
    background-color: #000;
}

  
