<ion-header>
  <!-- <ion-toolbar color="primary">
    <ion-icon name="arrow-back" class="icon-24" (click)="back()"></ion-icon>
    <ion-title>
      报名详情
    </ion-title>
    <ion-icon name="close" slot="end" class="icon-24"></ion-icon>
  </ion-toolbar> -->
  <div [style.background-image]="'url('+uploadpath+'resource/'+res.headpicture+')'" class="bg" ></div>
  <div style="background: #0F848D ;width:100%" class="padding-top-40 height-110">
      <div class="flex-row flex-center margin-left-30">
          <div (click)="back()">
              <img src="{{uploadpath}}resource/{{res.leftarrow}}" class="icon-32" />
          </div>
          <div class="f12 txt-white margin-left-5" (click)="back()">上一步</div>
          <div class="f16 txt-white margin-left-200">报名详情</div>
      </div>
  </div>
</ion-header>

<ion-content>
    <div style="background: #0F848D;width: 100%;" class="height-40" ></div>
    <div class="card  height-81">
      <div class="f16 txt-bold txt-black margin-left-30" *ngIf='activityinfo.zhuangtai=="A"'>已报名</div>
      <div class="f16 txt-bold txt-black margin-left-30" *ngIf='activityinfo.zhuangtai=="S"'>已取消</div>
      <div class="f12 txt-bold txt-black margin-left-30 margin-top-30" *ngIf='activityinfo.zhuangtai=="A"'>{{activityinfo.activity_price==0?'免费':'付款成功，报名已完成'}}</div>
      <div class="f12 txt-bold txt-black margin-left-30 margin-top-30" *ngIf='activityinfo.zhuangtai=="S"'>报名取消成功</div>
    </div>
  


  <div class="flex-row margin-top-20 margin-bottom-40">
      <div class="f16 margin-left-30">订单号：</div>
      <div class="f16 margin-left-20">19082705068111</div>
  </div>
  
  <div class="d1">
      <div class="f16 txt-black">活动信息</div>
  </div>

  <div class="margin-left-30 margin-top-40 flex-row flex-center" (click)="activityInformation(activityinfo.id)">
    <div>
      <img alt="" class="img-124" src="{{uploadpath}}activity/{{activityinfo.activity_activitycover}}" />
    </div>
    <div class="margin-left-20">
      <div class="f16 txt-black txt-bold oneline">{{activityinfo.activity_activityname}}</div>
      <div class="h5 txt-red " *ngIf='activityinfo.activity_price>=0'>{{activityinfo.activity_price==0?'免费':'费用：￥'+activityinfo.activity_price}}</div>
    </div>
  </div>
  <hr/>

  <div class="margin-left-30 margin-top-30 flex-row flex-center">
    <div class="f16 txt-black">地址</div>
    <div class="f16 txt-black margin-left-40">{{activityinfo.activity_activitysite}}</div>
  </div>
  <hr/>

  <div class="margin-left-30 margin-top-30 flex-row flex-center margin-bottom-30">
      <div class="f16 txt-black">时间</div>
      <div class="f16 txt-black margin-left-40">{{activityinfo.activity_activitytime}}</div>
  </div>

  <div class="flex-row d1 flex-center">
    <div class="f16 txt-black">报名人信息</div>
    <div class="h5 txt-gw margin-left-20">（必填）</div>
  </div>

  <div class="margin-left-30 margin-top-40 flex-row flex-center margin-bottom-30">
      <div class="f16 txt-black flex-1">姓名</div>
      <div class="f16 txt-black margin-right">{{activityinfo.name}}</div>
  </div>
  <hr/>


  <div class="margin-left-30 margin-top-30 flex-row flex-center margin-bottom-30">
      <div class="f16 txt-black flex-1">年龄段</div>
      <div class="f16 txt-black margin-right flex-row flex-center">
        <div>{{activityinfo.age_name}}</div>
        
      </div>
  </div>
  <hr/>

  <div class="margin-left-30 margin-top-30 flex-row flex-center margin-bottom-30">
      <div class="f16 txt-black flex-1">联系方式</div>
      <div class="f16 txt-black margin-right">{{activityinfo.phone}}</div>
  </div>
  <hr/>
  

  <div class="" >
      <!-- <div class="f12 txt-gw margin-left-30">重要提示：</div>
      <div class="f12 txt-gw margin-left-30">{{activityinfo.activity_show}}</div> -->
      <!-- <div 
      class="f16 txt-white line-height-45 margin-top-30 height-90 text-center" 
      style="position: fixed;bottom:0;width:100%;background-color: #BFBFBF"
      >取消</div> -->
  </div>
  <div class="height-90" *ngIf='activityinfo.zhuangtai=="A"'></div>

  <button type="button" 
  class="f16 txt-white line-height-50 margin-top-30 height-100 text-center" 
  style="position: fixed;bottom:0;width:100%;background-color: #268B73" 
 
   *ngIf='activityinfo.zhuangtai=="A"&&show==true' (click)="confirmCancellation()">
   取消
  </button>
  <button type="button" 
  class="f16 txt-white line-height-50 margin-top-30 height-100 text-center" 
  style="position: fixed;bottom:0;width:100%;background-color: #8a8a8a" 
 
   *ngIf='activityinfo.zhuangtai=="A"&&show==false' (click)="confirmCancellation()">
   取消
  </button>

<!-- Button trigger modal -->
  <!-- <button type="button" 
  class="f16 txt-white line-height-50 margin-top-30 height-100 text-center" 
  style="position: fixed;bottom:0;width:100%;background-color: #8a8a8a" 
  data-toggle="modal" 
  data-target="#myModal"  *ngIf='activityinfo.zhuangtai=="A"'>
  取消
  </button>
  <div class="modal fade" tabindex="-1" role="dialog" id="myModal" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="text-center">
            <h4 class="txt-bold f16">取消报名</h4>
          </div>
          <div class="flex-row ">
            <div class="flex-1"></div>
            <img alt="" class="icon-100" src="{{uploadpath}}resource/{{res.cancelbaoming}}" />
            <div class="flex-1"></div>
          </div>
          <div class="flex-row  margin-top-40" style="justify-content: center;">
            <button type="button" class="f16 txt-gw " (click)="confirmCancellation()" aria-hidden="true" data-dismiss="modal">确定取消</button>
            <button type="button" class="f16 txt-red margin-left-40" data-dismiss="modal" aria-hidden="true">我点错了</button>
          </div>
        </div>
      </div>
    </div> -->






</ion-content>
