<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      {{InstInfo.name}}
    </ion-title>
    <ion-icon name="close" slot="end" class="icon-24"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="flex-row flex-center margin-top-300 margin-left-50">
    <div>
      <div class="f18 txt-g txt-bold">登录</div>
      <div class="icon-30-4 bg-p margin-top-10"></div>
    </div>
    <div class="f18 txt-gw txt-bold margin-left-80">新用户注册</div>
  </div>

  <div class="flex-row flex-column margin-top-60">
    <div class="flex-row flex-center bg-p radius-10 icon-310">
      <div class="h5 txt-white margin-left-50">+86</div>
      <div>
        <img alt="" class="icon-20 margin-left-20" />
      </div>
      <div class="h5 margin-left-50" style="color: #BFBFBF">请输入手机号码</div>
    </div>

    <div class="flex-row flex-center bg-p radius-10 icon-310 margin-top-50">
      <div class="h5 margin-left-50" style="color: #BFBFBF">请输入密码</div>
    </div>

    <div class="flex-row flex-center bg-p radius-10 icon-310 margin-top-100">
      <div class="flex-1"></div>
      <div class="f16 txt-white">登录</div>
      <div class="flex-1"></div>
    </div>

    <div class="f12 txt-black margin-top-20 margin-left-540">忘记密码</div>

    <div class="h5 txt-black margin-top-300">第三方账号登录</div>

    <div>
      <img alt="" class="icon-40 margin-top-50"/>
    </div>
    
  </div>

</ion-content>
