<ion-header>
  <!-- <ion-toolbar color="primary">
    <ion-icon name="arrow-back" class="ion-icon"></ion-icon> -->
    <!-- <ion-title>
      {{InstInfo.name}}
    </ion-title> -->
    <!-- <ion-icon name="close" slot="end" class="ion-icon"></ion-icon>
  </ion-toolbar> -->
  <div [style.background-image]="'url('+uploadpath+'resource/'+res.headpicture+')'" class="bg" >
  </div>
</ion-header>




<ion-content>

  <!-- <div class="icon-40" (click)="back()" style="z-index: 100;">
    <div class="height-50"></div>
    <img [src]="uploadpath+'resource/'+res.back" class="icon-20 margin-left-40 margin-top-10">
  </div> -->
  <!-- <ion-icon (click)="back()" class="txt-white" name="ios-arrow-back" style="font-size:px(20)"></ion-icon> -->
  
  <!-- <img  /> -->
  
  <!-- <div class=" margin-left-10 flex-center flex-row ">
    <div class="txt-white h7">登录</div>
    <div style="width:px(30)"></div>
    <div class="txt-white h7" (click)="zhuce()">新用户注册</div>
  </div> -->
  
  <!-- <div class="flex-row flex-center ">
  
    <img [src]="uploadpath+'resource/'+res.dlbg" class=" flex-1">
  
  </div> -->
  
  
  
  
  
  <div style="width:100vw;height:100vh" class="margin-top-200">
  
    <div class="padding">
  
      <div>
        <div class="height207"></div>
        <div class="flex-row   flex-center ">
          <div class="flex-column">
            <div class=" h4-6 margin-left-60 txt-g">登录</div>
            <div style="" class="icon-30-4 background margin-left-60"></div>
          </div>
          <div class=" h4-6 op margin-left-40 txt-gw" (click)="zhuce()">新用户注册</div>
        </div>
        <div class="white_block"></div>
        <div class="height-40"></div>
  
        <div>
          <div class="flex-row column">
            <!-- <div class="txt-white">手机号</div> -->
            <div class="flex-row flex-center shurukuang icon-310 background margin-left-60">
              <div class="width-16"></div>
              <div class="txt-white h5">+86</div>
              <img [src]="uploadpath+'resource/'+res.bottom" class=" icon-20 margin-left-10">
  
              <ion-input class="txt-white sjh margin-left-15" placeholder="请输入手机号码" type="tel" [(ngModel)]="mobile"
                maxlength="11">
              </ion-input>
            </div>
          </div>
        </div>
  
  
        <div class="margin-top-40">
          <div class="flex-row column">
            <!-- <div class="txt-white">密码</div> -->
            <div class="flex-row flex-center shurukuang icon-310 background margin-left-60">
              <div class="width-16"></div>
              <ion-input class="txt-white sjh padding-left-40" placeholder="请输入密码" type="password" [(ngModel)]="password"
                maxlength="30"></ion-input>
            </div>
  
            <!-- 
            <div class style="padding:0" class="flex-row flex-center">
              <ion-input class="txt-white sjh " style="padding-left:px(20)" placeholder="请输入密码" type="password" [(ngModel)]="password" maxlength="30">
              </ion-input>
            </div> -->
  
  
  
          </div>
        </div>

  
        <div class="">
          <div style="" class="height-60"></div>
          <!-- <ion-button   size="block" color="danger"  class="h4-5 dl" (click)="trylogin()" >登 录</ion-button> -->
          <ion-button size="block" color="mycolor" class="h4-5 dl icon-310 background margin-left-60 margin-top-150" (click)="trylogin()">登 录</ion-button>
        </div>
  
        <div class="margin-top-25 margin-bottom50 ">
          <div class="flex-row flex-center">
            <div class='flex-4'></div>
            <div class="h5 txt-black op flex-1" (click)="zhuce(1)">忘记密码</div>
          </div>
        </div>
  
        <div style="" class="height-87"></div>
  
        <div class="under margin-top-200">
          <!-- <div  class="under"> -->
  
  
          <div class="flex-row flex-center">
            <div class="h5 txt-black flex-1 text-center">第三方账号登录</div>
          </div>
  
          <!-- v-if="wechatInstalled==true" -->
        
  
          <div class=" flex-row flex-column">
            <!-- <img [src]="uploadpath+'resource/'+res.mobile" class="icon-30"> -->
            <img [src]="uploadpath+'resource/'+res.wechat" class="icon-40 margin-top-30" style="" type="primary" plain size="large"
              (click)="checkWechatAuth()">
          </div>
  
        </div>
  
        <div class="height-50"></div>
  
      </div>
    </div>
  </div>
  
  </ion-content>