<ion-header>
    <ion-toolbar color="primary">
        <ion-icon name="arrow-back" class="icon-24" (click)="back()"></ion-icon>
        <ion-title>
          订单详情
        </ion-title>
        <ion-icon name="close" slot="end" class="icon-24"></ion-icon>
      </ion-toolbar>
</ion-header>

<ion-content>
  <div style="background-color: #11838D" class="padding-top-15">
    <div class="card bg-p height-81">
      <div class="f16 txt-bold txt-white margin-left-30">待收货</div>
      <div class="f12 txt-bold txt-white margin-left-30 margin-top-30">商家已发货，快递小哥正在路上，请注意签收...</div>
    </div>
  </div>
  <div>
    <div class="flex-row flex-center margin-top">
      <div class="d1 margin-left-30"></div>
      <div class="f16 txt-bold txt-black margin-left-10">收货信息</div>
    </div>
    <div class="flex-row flex-center margin-left-30 margin-top-30">
      <div class="f16">刘大大</div>
      <div class="f16 margin-left-20">13838384388</div>
      <div class="bg-p txt-white d2 margin-left-20">默认</div>
    </div>
    <div class="h5 txt-gw margin-left-30 margin-top-20 margin-bottom-20">广东省深圳市罗湖区八卦一路13号XX汽修厂</div>
  </div>

  <div class="f16 txt-black d3">商品清单</div>

  <div class="flex-row flex-center margin-top-30">
      <div>
        <img alt="" class="icon-90 bg-p margin-left-40" />
      </div>
      <div class="margin-left-20">
        <div class="f16 txt-black txt-bold">999感冒灵颗粒</div>
        <div class="h5 txt-gg margin-top-30">规格：0.5g*12片</div>
        <div class="flex-row flex-center margin-top-40">
          <div class="f16 txt-bold " style="color: #F7555A">￥ 88.0</div>
          <div class="f16 txt-black flex-row flex-center margin-left-400">
                x1
          </div>
        </div>
      </div>  
  </div>
  <hr/>


  <div class="flex-row flex-center margin-top-30">
      <div>
        <img alt="" class="icon-90 bg-p margin-left-40" />
      </div>
      <div class="margin-left-20">
        <div class="f16 txt-black txt-bold">艾附暖宫丸</div>
        <div class="h5 txt-gg margin-top-30">规格：0.5g*12片</div>
        <div class="flex-row flex-center margin-top-40">
          <div class="f16 txt-bold " style="color: #F7555A">￥ 188.0</div>
          <div class="f16 txt-black flex-row flex-center margin-left-400">
                x1
          </div>
        </div>
      </div>  
  </div>
  <hr/>


  <div class="flex-row margin-top-30 margin-bottom-30">
    <div class="f16 txt-black margin-left-40">共2件，应付金额：</div>
    <div class="f16 margin-left-360" style="color:#F7555A">￥276.0</div>
  </div>
  <hr/>


  <div class="flex-row flex-center">
      <div class="d1 margin-left-40"></div>
      <div class="f16 txt-bold txt-black margin-left-10">订单信息</div>
    </div>
    <div class="flex-row margin-top-30 margin-bottom-30">
      <div class="f16 txt-gw margin-left-40">订单编号:</div>
      <div class="f16 margin-left-20">1909091231547</div>
    </div>
    <div class="flex-row margin-bottom-30">
      <div class="f16 txt-gw margin-left-40">订单日期:</div>
      <div class="f16 margin-left-20">2019/09/09 14：18</div>
    </div>
    <div class="f16 txt-black d3">备注:</div>
    <div class="f16 margin-left-30 margin-top-30" style="color: #BFBFBF">请填写买家留言</div>

    <div class="flex-row margin-top-30">
      <div style="background-color: #11838D" class="txt-white d4 text-center">查看物流</div>
      <div class="txt-white bg-p d4 text-center">确认签收</div>
    </div>
    

</ion-content>
