<ion-header>
    <!-- <ion-toolbar color="primary">
        <ion-icon name="arrow-back" class="icon-24" (click)="back()"></ion-icon>
        <ion-title>
          订单详情
        </ion-title>
        <ion-icon name="close" slot="end" class="icon-24"></ion-icon>
      </ion-toolbar> -->
      <div [style.background-image]="'url('+uploadpath+'resource/'+res.headpicture+')'" class="bg" ></div>
      <div style="background: #0F848D ;width:100%" class="padding-top-40 height-110">
        <div class="flex-row flex-center margin-left-30">
            <div  (click)="back()">
                <img src="{{uploadpath}}resource/{{res.leftarrow}}" class="icon-32" />
            </div>
            <div class="f12 txt-white margin-left-5" (click)="back()">上一步</div>
            <div class="f16 txt-white margin-left-200">订单详情</div>
        </div>
      </div>
</ion-header>

<ion-content>
  <div style="background: #0F848D;width: 100%;" class="height-40" ></div>
    <div class="card  height-81" *ngIf="orderinfo!=null">
      <div class="f16 txt-bold txt-black margin-left-30">待收货</div>
      <div class="f12 txt-bold txt-black margin-left-30 margin-top-30">商家已发货，快递小哥正在路上，请注意签收...</div>
  
 
  <div>
    <div class=" margin-top">
  
      <div class="f16 txt-bold txt-black margin-left-30">收货信息</div>
      <img src="{{uploadpath}}resource/{{res.horizontalbar}}" class="horizontalbar" />
    </div>
    <div class="flex-row flex-center margin-left-30 margin-top-30">
      <div class="f16">{{orderinfo.address_people}}</div>
      <div class="f16 margin-left-20">{{orderinfo.address_phone}}</div>
      <div class="bc txt-white d2 margin-left-20">默认</div>
    </div>
    <div class="h5 txt-gw margin-left-30 margin-top-20 margin-bottom-20">{{orderinfo.address_dizhi}}{{orderinfo.address_menpaihao}}</div>
  </div>

  <div class="f16 txt-black d3">商品清单</div>

  <div class="flex-row flex-center margin-top-30" *ngFor="let item of orderinfo.orders">
      <div>
        <img alt="" class="icon-90  margin-left-40" src="{{uploadpath}}drugs/{{item.photo}}"/>
      </div>
      <div class="margin-left-20">
        <div class="f16 txt-black txt-bold">{{item.name}}</div>
        <div class="h5 txt-gg margin-top-30">规格：{{item.guige}}</div>
        <div class="margin-top-40  flex-row ">
          <div class="f16 txt-bold flex-1 " style="color: #F7555A">￥ {{item.price}}</div>
          <div class="f16 txt-black ">
                x{{item.num}}
          </div>
        </div>
      </div>  
  </div>
  <hr/>





  <div class="flex-row margin-top-30 margin-bottom-30">
    <div class="f16 txt-black margin-left-40 flex-1">共{{orderinfo.orders.length}}件，应付金额：</div>
    <div class="f16 margin-right-40" style="color:#F7555A">￥{{orderinfo.amount}}</div>
  </div>
  <hr/>


  <div class="">
      <div class="f16 txt-bold txt-black margin-left-30">订单信息</div>
      <img src="{{uploadpath}}resource/{{res.horizontalbar}}" class="horizontalbar" />
    </div>
    <div class="flex-row margin-top-30 margin-bottom-30">
      <div class="f16 txt-gw margin-left-40">订单编号:</div>
      <div class="f16 margin-left-20">{{orderinfo.orderno}}</div>
    </div>
    <div class="flex-row margin-bottom-30">
      <div class="f16 txt-gw margin-left-40">订单日期:</div>
      <div class="f16 margin-left-20">{{orderinfo.submit_time}}</div>
    </div>
    <div class="f16 txt-black d3">备注:</div>
    <div class="f16 margin-left-30 margin-top-30" style="color: #BFBFBF">{{orderinfo.beizhu}}</div>
    <div class="height-100"></div>
    <div class=" margin-top-30 flex-row" style="position: fixed;bottom:0">
      <div class="txt-white d4 text-center"  style="background-color: #268B73" (click)="fanhui()">返回商城</div>
     
      <div  (click)="qianshou()"  class="txt-white bc d4 text-center">确认签收</div>
    </div>
    </div>

</ion-content>
