<ion-header>
    <ion-toolbar color="primary">
        <ion-icon name="arrow-back" class="icon-24" (click)="back()"></ion-icon>
        <ion-title>
          我的地址
        </ion-title>
        <ion-icon name="close" slot="end" class="icon-24"></ion-icon>
      </ion-toolbar>
</ion-header>

<ion-content>
  <div style="background-color: #11838D;height: 100%;" class="padding-top-15">
    <div class="card" style="height: 100%">
      
          <div class="flex-row flex-column" style="height: 100%;justify-content:center">
              <div>
                <img alt="" class="icon-247" />
              </div>
              <div class="f16 margin-top-30" style="color: #b9b9b9">亲，您还没有收货地址哦~</div>
          </div>
          <div class="f16 txt-white bg-p height-48 text-center" style="position: absolute;bottom:0" (click)="myAdress()">+ 添加地址</div>
              
          
         








     
    </div>
  </div>
</ion-content>
