<ion-header>
    <!-- <ion-toolbar color="primary">
        <ion-icon name="arrow-back" class="icon-24" (click)="back()"></ion-icon>
        <ion-title>
          我的地址
        </ion-title>
        <ion-icon name="close" slot="end" class="icon-24"></ion-icon>
      </ion-toolbar> -->
      <div [style.background-image]="'url('+uploadpath+'resource/'+res.headpicture+')'" class="bg" ></div>
</ion-header>

<ion-content>
    <div style="background: #0F848D ;position:fixed;width:100%" class="bg2 padding-top-40 height-110">
        <div class="flex-row flex-center margin-left-30">
            <div (click)="back()">
                <img src="{{uploadpath}}resource/{{res.leftarrow}}" class="icon-32" />
            </div>
            <div class="f12 txt-white margin-left-5" (click)="back()">上一步</div>
            <div class="f16 txt-white margin-left-200">我的地址</div>
        </div>
    </div>
    <div style="background: #0F848D;width: 100%;" class="height-40" ></div>
    <div class="card">
      
          <div class="flex-row flex-column" style="margin-top:40%"  *ngIf="address.length==0">
              <div>
                <img alt="" class="icon-247" src="{{uploadpath}}resource/{{res.noaddress}}" />
              </div>
              <div class="f16 margin-top-30" style="color: #b9b9b9">亲，您还没有收货地址哦~</div>
          </div>


          <div *ngIf="address.length>0">
            <div *ngFor="let ad of address" class="margin-top-30">
              <div class="flex-row flex-center margin-left-30">
                <div (click)="returntolast(ad.id)">
                  <div class="flex-row flex-center">
                    <div class="f16">{{ad.people}}</div>
                    <div class="f16 margin-left-20">{{ad.phone}}</div>
                    <div class="bg-p txt-white d1 margin-left-20" *ngIf="ad.isdefault_value=='Y'">默认</div>
                  </div>
                  <div class="h5 txt-gw margin-top-20 width-270">{{ad.dizhi}}{{ad.menpaihao}}</div>
                </div>
                <div>
                  <img alt="" class="icon-20 margin-left-100" src="{{uploadpath}}resource/{{res.bianji}}" (click)="myAdress(ad.id)" />
                </div> 
              </div>
              <div class="border-bw margin-top-30"></div>
            </div> 
          </div>






          <div class="f16 txt-white bg-p height-48 text-center" style="position: fixed;bottom:0" (click)="myAdress(0)">+ 添加地址</div>
              
          
         






     
    </div>
  
</ion-content>
