<ion-header>
    <ion-toolbar color="primary">
        <ion-icon name="arrow-back" class="ion-icon" (click)="back()"></ion-icon>
        <ion-title>
          港和医疗白云分部
        </ion-title>
        <ion-icon name="close" slot="end" class="ion-icon"></ion-icon>
      </ion-toolbar>
</ion-header>

<ion-content>
  <div style="background-color: #11838D" class="padding-top-15">
    <div class="card">
        <span class="span1">儿科</span>
        <span class="span2">2019年8月</span>
        <p>
            <span class="span3">日</span>  
            <span class="span4">一</span>
            <span class="span4">二</span>
            <span class="span4">三</span> 
            <span class="span4">四</span>
            <span class="span4">五</span>
            <span class="span4">六</span>
         </p> 
         <p class="p1">
            <span class="span5">1</span>  
            <span class="span6">2</span>
            <span class="span6">3</span>
            <span class="span6">4</span> 
            <span class="span6">5</span>
            <span class="span6">6</span> 
            <span class="span6">7</span> 
         </p>  
         <hr/>      
    </div>
  </div>
  <div class="div1">
    <p class="p2"></p>
    <p class="p3">预约医生</p>
  </div>
  <div class="div2">
    <img alt=""/>
    <p class="p4">医生当日无排期</p>
  </div>
</ion-content>
