<ion-header>
    <!-- <ion-toolbar color="primary">
        <ion-icon name="arrow-back" class="ion-icon" (click)="back()"></ion-icon>
        <ion-title>
         预约成功         
        </ion-title>
    </ion-toolbar> -->
    <div [style.background-image]="'url('+uploadpath+'resource/'+res.headpicture+')'" class="bg" ></div>
</ion-header>

<ion-content>
  <div style="background: #0F848D ;position:fixed;width:100%;z-index: 1;" class="bg2 padding-top-40 height-110">
    <div class="flex-row flex-center">
      <div class="marginTop margin-left-30"  (click)="tab1()">
        <img src="{{uploadpath}}resource/{{res.leftarrow}}" class="icon-32" />
      </div>
      <div class="f12 txt-white margin-left-10" (click)="tab1()">回到首页</div>
      <!-- <div class="f16 txt-white flex-1 text-center">预约成功</div> -->
      <!-- <div class="f12 txt-white mr" (click)="appointmentComplete()">查看预约详情</div> -->
    </div>
  </div>
  <div style="background: #0F848D;width: 100%;" class="height-40" ></div>
    <div class="card">
      <ion-card  class="bg1" style="overflow: hidden;">
        <img src="{{uploadpath}}resource/{{res.success}}"  class="bg1"/> 
      </ion-card>
      
      <div class="flex-row flex-center margin-left-40 margin-top-50 flex-wrap" style="width: 100%;">
        <div class="f16 txt-black ">您已预约成功，请准时前往就诊，请提前</div>
        <div class="f16" style="color: #DF4747;">30分钟 </div>
        <div class="16">到达会诊现场</div>
      </div>
      <div class="border-1 margin-top-60"></div>
      <div class="flex-row margin-top-60 margin-left-40 flex-center">
          <div class="marginTop1">
              <img src="{{uploadpath}}resource/{{res.jiuzhen}}" class="icon-10" />
          </div>
          <div class="f14 txt-gw margin-left-30">就诊人：</div>
          <div class="f14 txt-black margin-left-30">{{order.patientname}} {{order.patientmobile}}</div>
      </div>
      <div class="border-2 margin-top"></div>
      <div class="flex-row margin-top-40 margin-left-40 flex-center">
          <div class="marginTop1">
              <img src="{{uploadpath}}resource/{{res.time}}" class="icon-10" />
          </div>
          <div class="f14 txt-gw margin-left-30">时间：</div>
          <div class="f14 txt-black margin-left-30">{{order.ordertime_formatting}}</div>
      </div>
      <div class="border-2 margin-top"></div>
      <div class="flex-row margin-top-40 margin-left-40 flex-center">
          <div class="marginTop1">
              <img src="{{uploadpath}}resource/{{res.zhensuo}}" class="icon-10" />
          </div>
          <div class="f14 txt-gw margin-left-30">诊所：</div>
          <div class="f14 txt-black margin-left-30">{{order.hospital_name}}</div>
      </div>
      <div class="border-2 margin-top"></div>
      <div class="flex-row margin-top-40 margin-left-40 flex-center">
          <div class="marginTop1">
              <img src="{{uploadpath}}resource/{{res.keshi}}" class="icon-10" />
          </div>
          <div class="f14 txt-gw margin-left-30">科室：</div>
          <div class="f14 txt-black margin-left-30">儿科</div>
      </div>
      <div class="border-2 margin-top"></div>






    </div>
  
</ion-content>

<!-- <ion-content *ngIf="order!=null">
  <div style="background-color: #11838D">
      <div class="card">
        <img  src='{{uploadpath}}hospital/{{order.hospital_fmtupian}}' alt=""/>
        <p class="p1">预约成功</p>
        <p class="p2">您已预约成功，请准时前往</p>
        <p class="p2 p3">就诊当天请至少提前30分钟到达诊所现场</p>
      </div>
  </div>
<div>
  <p>
    <span class="span1">就诊人：</span>
    <span class="span2">{{order.patientname}}</span>
  </p>
  <p>
      <span class="span1">就诊时间：</span>
      <span class="span2">{{order.ordertime_formatting}}</span>
  </p>
  <p>
      <span class="span1">就诊医院：</span>
      <span class="span2">{{order.hospital_name}}</span>
  </p>
  <p>
      <span class="span1">就诊科室：</span>
      <span class="span2">儿科</span>
  </p>
  <p>
      <span class="span1">手机号码：</span>
      <span class="span2">{{order.photo}}</span>
  </p>
</div>
<p class="p4">返回首页&nbsp;&nbsp;丨&nbsp;&nbsp; 查看预约详情 </p>
</ion-content> -->
