<ion-header>
    <ion-toolbar color="primary">
        <ion-icon name="arrow-back" class="ion-icon" (click)="back()"></ion-icon>
        <ion-title>
         预约成功         
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
  <div style="background-color: #11838D" class="padding-top-15">
      <div class="card">
        <img alt=""/>
        <p class="p1">预约成功</p>
        <p class="p2">您已预约成功，请准时前往</p>
        <p class="p2 p3">就诊当天请至少提前30分钟到达诊所现场</p>
      </div>
  </div>
<div>
  <p>
    <span class="span1">就诊人：</span>
    <span class="span2">张三</span>
  </p>
  <p>
      <span class="span1">就诊时间：</span>
      <span class="span2">2019/8/27（周四）11：30 - 12：00</span>
  </p>
  <p>
      <span class="span1">就诊医院：</span>
      <span class="span2">港和医疗白云分部</span>
  </p>
  <p>
      <span class="span1">就诊科室：</span>
      <span class="span2">儿科</span>
  </p>
  <p>
      <span class="span1">手机号码：</span>
      <span class="span2">13838384388</span>
  </p>
</div>
<div class="flex-row p4">
  <div class="flex-1"></div>
  <div (click)="tab1()">返回首页</div>
  <div class="margin-left-30 margin-right-30">|</div>
  <div (click)="appointmentComplete()">查看预约详情</div>
  <div class="flex-1"></div>
</div>

</ion-content>
