<ion-header>
    <ion-toolbar color="primary">
        <ion-icon name="arrow-back" class="icon-24" (click)="back()"></ion-icon>
        <ion-title>
          我的地址
        </ion-title>
        <ion-icon name="close" slot="end" class="icon-24"></ion-icon>
      </ion-toolbar>
</ion-header>

<ion-content>
  <div style="background-color: #11838D">
    <div class="card">
      <div class="flex-row flex-center margin-left-30">
        <div>
          <div class="flex-row flex-center">
            <div class="f16">刘大大</div>
            <div class="f16 margin-left-20">13838384388</div>
            <div class="bg-p txt-white d1 margin-left-20">默认</div>
          </div>
          <div class="h5 txt-gw margin-top-20">广东省深圳市罗湖区八卦一路13号XX汽修厂</div>
        </div>
        <div>
          <img alt="" class="icon-20 margin-left-160"/>
        </div>
      </div>
      <div class="border-bw margin-top-30"></div>
      <div class="f16 txt-white bg-p height-48 text-center" style="position: absolute;bottom:0" (click)="myAdress()">+ 添加地址</div>









    </div>
  </div>

</ion-content>
