@function rpx($px) {
    @return ($px * 100vw) / 750;
  }
  .card{
    background-color:white;    
    border-top-left-radius: rpx(37);
    border-top-right-radius: rpx(37);
    padding-top: rpx(30);
    margin-top:rpx(-40)
    
  }
.height-110{
    height: rpx(110);
  }
  .height-40{
    height: rpx(40);
  }

.icon-32{
    width:rpx(28);
    height: rpx(28);
}
.border-bottom {
  border-bottom: rgba(#AAAAAA, 0.2) solid rpx(2)
}
.bg{
  width:100%;
  height:rpx(100);
  background-size: cover;
}
.tt{
  width:rpx(304*2);
  height: rpx(163);
  margin-top:rpx(5)
}