<ion-header>
    <ion-toolbar color="primary">
        
        <ion-title>
          个人中心
        </ion-title>
      
        <ion-icon name="close" slot="end" class="ion-icon"></ion-icon>
      </ion-toolbar>
</ion-header>

<ion-content>
    <div style="background-color: #11838D">
        <div class="card">
          <div class="flex-row margin-left-40">
            <div>
              <img alt="" class="icon-50"/>
            </div>
            <div class="f16 txt-black txt-bold margin-left-20">陈XX</div>
            <div>
              <img alt=""/>
            </div>
          </div>
        </div>
    </div>
</ion-content>
