
@function rpx($px) {
    @return ($px * 100vw) / 750;
  }
  .ion-icon{
    height:rpx(24*2);
    width:rpx(24*2)
  }
  .card{
    background-color:white;    
    border-top-left-radius: rpx(37);
    border-top-right-radius: rpx(37);
    padding-top: rpx(37);
    margin-top:rpx(-40)
    
  }
  .height-110{
    height: rpx(110);
  }
  .height-40{
    height: rpx(40);
  }

  .icon-32{
    width:rpx(28);
    height: rpx(28);
  }
  .icon-131{
    height: rpx(131*2);
  }
  .bg{
    width:100%;
    height:rpx(100);
    background-size: cover;
  }
.d1{
  width:rpx(6);
  height: rpx(30);
  background-color:#11838D;
}
.box {
  justify-content: space-around;
}
.icon-185{
  height: rpx(185*2);
}
.icon-10{
  width: rpx(60);
  height:rpx(60);
  margin-left:rpx(15)
}

.icon-11{
  width: rpx(60);
  height:rpx(60);
  margin-left:rpx(5)
}
.r{
  border-radius: rpx(20);
}
.icon-64{
  width:rpx(64*2);
  height:rpx(64*2);
}
.marginTop{
  margin-top:rpx(-30)
}

.horizontalbar{
  display: block;
  margin-top:rpx(5);
  width:rpx(50*2);
  height:rpx(6);
  margin-left:rpx(30);
}
.red{
  width: rpx(40);
  height: rpx(40);
  line-height: rpx(40);
  border-radius: 50%;
  background: red;
  text-align: center;
  color:white;
  z-index: 999;
}
.mglt{
  margin-left: rpx(50);
  margin-top:rpx(-105);
}