<ion-header>
    <!-- <ion-toolbar color="primary">
        
        <ion-title>
          个人中心
        </ion-title>
      
        <ion-icon name="close" slot="end" class="ion-icon"></ion-icon>
      </ion-toolbar> -->
      <div [style.background-image]="'url('+uploadpath+'resource/'+res.headpicture+')'" class="bg" ></div>
</ion-header>

<ion-content>
  <div style="background: radial-gradient(#268B73,#0F848D) ;position:fixed;width:100% ;text-align: center; " class="padding-top-40 height-110 f16 txt-white">
    
        
    个人中心
       

 </div>
 <div style="background: #0F848D;width: 100%;" class="height-40" ></div>
        <div class="card">
          <div class="flex-row flex-center margin-left-40">
            <div class="flex-row flex-center flex-1">
              <div>
               
                <img *ngIf='MemberInfo!=undefined&&MemberInfo.photo!=""' src='{{uploadpath}}member/{{MemberInfo.photo}}'   class="icon-64 r"/>
       
                <img *ngIf='!(MemberInfo!=undefined&&MemberInfo.photo!="")' src='{{uploadpath}}resource/{{res.photo}}'   class="icon-64 r"/>

              </div>
              <div *ngIf='MemberInfo!=null' class="f16 txt-black txt-bold margin-left-50">
                <div class="" >
                 {{MemberInfo.name}}
                 
                </div>
                <div class="flex-row flex-center margin-top-20" >
                  <img src='{{uploadpath}}resource/{{res.dianhua}}' class="icon-24" />
                  <div class="txt-gw margin-left-20">{{MemberInfo.mobile}}</div>
                </div>
              </div>
            </div>
              <div class="margin-right-30 marginTop" routerLink='/memberinfo'>
                <img src='{{uploadpath}}resource/{{res.shezhi}}' class="icon-24" />
              </div>
         
           
          </div>
          <div>
            <div class=" margin-top-80"> 
              <div class="txt-black f16 txt-bold margin-left-30">医疗服务</div>
              <img src="{{uploadpath}}resource/{{res.horizontalbar}}" class="horizontalbar"/>
            </div>
            <div class="flex-row box margin-top-40">
              <div (click)="MyAppointment()">
                <div>
                  <img src='{{uploadpath}}resource/{{res.wodeyuyue}}' alt="" class="icon-10"/>
                </div>
                <div class="f12 txt-black margin-top-10">我的预约</div>
              </div>
              <div (click)="myPhysicalExamination()">
                <div>
                  <img src='{{uploadpath}}resource/{{res.wodetijian}}' alt="" class="icon-10"/>
                </div>
                <div class="f12 txt-black margin-top-10">我的体检</div>
              </div>
              <div (click)="myActivity()">
                <div>
                  <img src='{{uploadpath}}resource/{{res.wodehuodon}}' class="icon-10"/>
                </div>
                <div class="f12 txt-black margin-top-10">我的活动</div>
              </div>




              <div>
                <div>
                  <img  src='{{uploadpath}}resource/{{res.wodewenzhen}}' class="icon-10"/>
                </div>
                <div class="f12 txt-black margin-top-10">我的问诊</div>
              </div>
            </div>
          </div>





          <div>
            <div class="margin-top-60 flex-row felx-center">
              <div class="flex-1">
                <div class="txt-black f16 txt-bold margin-left-30">我的订单</div>
                <img src="{{uploadpath}}resource/{{res.horizontalbar}}" class="horizontalbar"/>
              </div>
              
              <div class="txt-gw f12 margin-right-30" (click)="myOrder()">查看更多</div>
            </div>
            <div class="flex-row box margin-top-40">
                <div  (click)="gouwuche()">
                  <div>
                    <img  src='{{uploadpath}}resource/{{res.gouwuche}}' class="icon-10"/>
                  </div>
                  <div class="f12 txt-black margin-top-10">购物车</div>
                </div>
                <div>
                  <div>
                    <img (click)="daifukuan()" src='{{uploadpath}}resource/{{res.daifukuan}}' class="icon-10"/>
                  </div>
                  <div class="f12 txt-black margin-top-10">待付款</div>
                </div>
                <div>
                  <div>
                    <img  (click)="daishouhuo()" src='{{uploadpath}}resource/{{res.daishouhuo}}' class="icon-10"/>
                  </div>
                  <div class="f12 txt-black margin-top-10">待收货</div>
                </div>
                <div>
                  <div>
                    <img (click)="yiwanchen()" src='{{uploadpath}}resource/{{res.yiwanchen}}' class="icon-10"/>
                  </div>
                  <div class="f12 txt-black margin-top-10">已完成</div>
                </div>
              </div>
            </div>
          <div class="margin-top-60">
              <div class="txt-black f16 txt-bold margin-left-30">其他</div>
              <img src="{{uploadpath}}resource/{{res.horizontalbar}}" class="horizontalbar"/>
              <div class="flex-row box margin-top-40">
                  <div (click)="address()">
                    <div>
                      <img src='{{uploadpath}}resource/{{res.wodedizhi}}' class="icon-10"/>
                    </div>
                    <div class="f12 txt-black margin-top-10">我的地址</div>
                  </div>
                  <div (click)="myNews()">
                    <div>
                      <img src='{{uploadpath}}resource/{{res.wodexiaoxi}}'class="icon-10"/>
                    </div>
                    <div class="f12 txt-black margin-top-10">我的消息</div>
                  </div>
                  <div routerLink='/aboutus'>
                    <div>
                      <img src='{{uploadpath}}resource/{{res.guanyuwomen}}' class="icon-10"/>
                    </div>
                    <div class="f12 txt-black margin-top-10">关于我们</div>
                  </div>
                  <div routerLink='/feedback'>
                    <div>
                      <img src='{{uploadpath}}resource/{{res.yijianfnakui}}' class="icon-10"/>
                    </div>
                    <div class="f12 txt-black margin-top-10">意见反馈</div>
                  </div>
                </div>
                <div class="flex-row box margin-top-60" *ngIf='issales_value=="Y"'>
                    <div (click)="myCustomer()">
                      <div>
                        <img src='{{uploadpath}}resource/{{res.wodekehu}}' class="icon-10"/>
                      </div>
                      <div class="f12 txt-black margin-top-10">我的客户</div>
                    </div>
                    <div (click)="xianshi()">
                      <div>
                        <img src='{{uploadpath}}resource/{{res.yiliaozenson}}' class="icon-10"/>
                      </div>
                      <div class="f12 txt-black margin-top-10">医疗赠送</div>
                    </div>
                    <div (click)="wenzhantuison()">
                      <div>
                        <img src='{{uploadpath}}resource/{{res.wenzhantuison}}' class="icon-10"/>
                      </div>
                      <div class="f12 txt-black margin-top-10">文章推送</div>
                    </div>
                    <div class="icon-50"></div>
                  </div>
                  <div class="flex-row box margin-top-60" *ngIf='issales_value!="Y"'>
                      <div (click)="xianshi()">
                        <div>
                          <img src='{{uploadpath}}resource/{{res.yiliaozenson}}' class="icon-10"/>
                        </div>
                        <div class="f12 txt-black margin-top-10">医疗赠送</div>
                      </div>
                      <div (click)="wenzhantuison()">
                        <div>
                          <img src='{{uploadpath}}resource/{{res.wenzhantuison}}' class="icon-10"/>
                        </div>
                        <div class="f12 txt-black margin-top-10">文章推送</div>
                      </div>
                      <div class="icon-150"></div>
                    </div>
                </div>
        </div>
    
</ion-content>
