
@function rpx($px) {
    @return ($px * 100vw) / 750;
  }
  .ion-icon{
    height:rpx(24*2);
    width:rpx(24*2)
  }
.card{
    background-color:white;    
    border-top-left-radius: rpx(37);
    border-top-right-radius: rpx(37);
    padding-top: rpx(37);
}
.icon-131{
  height: rpx(131*2);
}
.d1{
  width:rpx(6);
  height: rpx(30);
  background-color:#6B3689;
}
.box {
  justify-content: space-around;
}
.icon-185{
  height: rpx(185*2);
}