<ion-header>
<!--   
  <ion-toolbar color="primary">
    <ion-icon name="arrow-back" class="icon-24" (click)="back()"></ion-icon>
    <ion-title>
      我的订单
    </ion-title>
    <ion-icon name="close" slot="end" class="icon-24"></ion-icon>
  </ion-toolbar> -->
  <div [style.background-image]="'url('+uploadpath+'resource/'+res.headpicture+')'" class="bg" ></div>
  <div style="background: #0F848D ;width:100%;z-index: 11;" class="padding-top-40 height-110">
    <div class="flex-row flex-center margin-left-30">
        <div  (click)="back()">
            <img src="{{uploadpath}}resource/{{res.leftarrow}}" class="icon-32" />
        </div>
        <div class="f12 txt-white margin-left-5" (click)="back()">上一步</div>
        <div class="f16 txt-white  margin-left-200">我的订单</div>
    
    </div>
  </div>
</ion-header>

<ion-content>
  <!-- <div style="background: #0F848D;width: 100%;" class="height-40" ></div> -->
    <div   class="card padding-top-20">
      <div class="flex-row flex-center margin-left-30">
        <div (click)='qiehuan=0'>
          <div class="txt-bold" [class.f18]='qiehuan==0' [class.cg]='qiehuan==0'>全部</div>
          <div class="icon-26 bg-pp margin-top-10" *ngIf='qiehuan==0'></div>
        </div>
        <div class="flex-row flex-column margin-left-80" (click)='qiehuan=1'>
          <div class="txt-bold" [class.f18]='qiehuan==1' [class.cg]='qiehuan==1'>待付款</div>
          <div class="icon-26 bg-pp margin-top-10" *ngIf='qiehuan==1'></div>
        </div>
        <div class="flex-row flex-column margin-left-80" (click)='qiehuan=2'>
          <div class="txt-bold" [class.f18]='qiehuan==2' [class.cg]='qiehuan==2'>待收货</div>
          <div class="icon-26 bg-pp margin-top-10" *ngIf='qiehuan==2'></div>
        </div>
        <div class="flex-row flex-column margin-left-80" (click)='qiehuan=3'>
          <div class="txt-bold" [class.f18]='qiehuan==3' [class.cg]='qiehuan==3'>待评价</div>
          <div class="icon-26 bg-pp margin-top-10" *ngIf='qiehuan==3'></div>
        </div>
        <div class="flex-row flex-column margin-left-80" (click)='qiehuan=4'>
          <div class="txt-bold" [class.f18]='qiehuan==4' [class.cg]='qiehuan==4'>已完成</div>
          <div class="icon-26 bg-pp margin-top-10" *ngIf='qiehuan==4'></div>
        </div>
    </div>
    <div *ngIf="qiehuan==0">
      <div *ngFor="let item of order">
        <ion-card *ngIf="item.status=='E'" class="padding-20" (click)="orderCancelled(item.id)">
          <div class="margin-left-10 ">
            <div class="flex-row flex-center">
              <div class="h5 txt-black flex-1">{{item.submit_time_formatting}}</div>
              <div class="h5 txt-gw ">已取消</div>
            </div>
            <div *ngFor="let orders of item.orders" class="flex-row flex-center margin-top-30">
              <div>
                <img  src="{{uploadpath}}drugs/{{orders.drugsphoto}}"alt="" class="icon-60" />
              </div>
              <div class="f16 txt-black margin-left-30 flex-1">{{orders.drugsname}}</div>
              <div class="f16 txt-black ">x{{orders.num}}</div>
            </div>
            <div class="h5 txt-black margin-top">共{{item.orders.length}}件，合计：￥{{item.amount}}</div>
          </div>
        </ion-card>


        <ion-card *ngIf="item.status=='B'" class="padding-20" (click)="orderPayment(item.id)">
          <div class="margin-left-10">
            <div class="flex-row flex-center">
              <div class="h5 txt-black flex-1">{{item.submit_time_formatting}}</div>
              <div class="h5 txt-gw " style="color: #F7555A">待付款</div>
            </div>
            <div *ngFor="let orders of item.orders" class="flex-row flex-center margin-top-30">
              <div>
                <img src="{{uploadpath}}drugs/{{orders.drugsphoto}}" alt="" class="icon-60" />
              </div>
              <div class="f16 txt-black margin-left-30 flex-1">{{orders.drugsname}}</div>
              <div class="f16 txt-black ">x{{orders.num}}</div>
            </div>

            <div class="flex-row flex-center margin-top-30">
              <div class="h5 txt-black flex-1">共{{item.orders.length}}件，合计：￥{{item.amount}}</div>
              <div class="f12 border-pg text-center" style="color: #F7555A">去付款</div>
            </div>
          </div>
        </ion-card>


        <ion-card *ngIf="item.status=='C'" class="padding-20" (click)="orderSign(item.id)">
          <div class="margin-left-10 ">
            <div class="flex-row flex-center">
              <div class="h5 txt-black flex-1">{{item.submit_time_formatting}}</div>
              <div class="h5 txt-gw ">待收货</div>
            </div>
            <div *ngFor="let orders of item.orders" class="flex-row flex-center margin-top-30">
              <div>
                <img  src="{{uploadpath}}drugs/{{orders.drugsphoto}}"alt="" class="icon-60" />
              </div>
              <div class="f16 txt-black margin-left-30 flex-1 flex-wrap w-212">{{orders.drugsname}}</div>
              <div class="f16 txt-black ">x{{orders.num}}</div>
            </div>
            <div class="flex-row flex-center">
              <div class="h5 txt-black flex-1">共{{item.orders.length}}件，合计：￥{{item.amount}}</div>
           
              <div class="f12 border-pg text-center " style="color: #F7555A">确认签收</div>
            </div>
          </div>
        </ion-card>



        <ion-card *ngIf="item.status=='F'" class="padding-20" (click)="orderComplete(item.id)">
          <div class="margin-left-10">
            <div class="flex-row flex-center">
              <div class="h5 txt-black flex-1">{{item.submit_time_formatting}}</div>
              <div class="h5 " style="color: #11838D">已完成</div>
            </div>
            <div *ngFor="let orders of item.orders" class="flex-row flex-center margin-top-30">
              <div>
                <img  src="{{uploadpath}}drugs/{{orders.drugsphoto}}"alt="" class="icon-60" />
              </div>
              <div class="f16 txt-black margin-left-30 w-212 flex-1 flex-wrap w-212">{{orders.drugsname}}</div>
              <div class="f16 txt-black ">x{{orders.num}}</div>
            </div>
            <div class="flex-row flex-center">
              <div class="h5 txt-black flex-1">共{{item.orders.length}}件，合计：￥{{item.amount}}</div>
              <div *ngIf="item.status=='F'"  class="f12 border-pg text-center " style="color: #F7555A">去评价</div>
            </div>
          </div>
        </ion-card>

        <ion-card *ngIf="item.status=='G'" class="padding-20" (click)="orderComplete(item.id)">
          <div class="margin-left-10">
            <div class="flex-row flex-center">
              <div class="h5 txt-black flex-1">{{item.submit_time_formatting}}</div>
              <div class="h5 " style="color: #11838D">已完成</div>
            </div>
            <div *ngFor="let orders of item.orders" class="flex-row flex-center margin-top-30">
              <div>
                <img  src="{{uploadpath}}drugs/{{orders.drugsphoto}}"alt="" class="icon-60" />
              </div>
              <div class="f16 txt-black margin-left-30 w-212 flex-1 flex-wrap w-212">{{orders.drugsname}}</div>
              <div class="f16 txt-black ">x{{orders.num}}</div>
            </div>
            <div class="">
              <div class="h5 txt-black flex-1">共{{item.orders.length}}件，合计：￥{{item.amount}}</div>
            </div>
          </div>
        </ion-card>

      </div>
    </div>
  <div *ngIf="qiehuan==1">
    <div *ngFor="let item of order">
  


      <ion-card *ngIf="item.status=='B'" class="padding-20" (click)="orderPayment(item.id)">
        <div class="margin-left-10 ">
          <div class="flex-row flex-center">
            <div class="h5 txt-black flex-1">{{item.submit_time_formatting}}</div>
            <div class="h5 txt-gw " style="color: #F7555A">待付款</div>
          </div>
          <div *ngFor="let orders of item.orders" class="flex-row flex-center margin-top-30">
            <div>
              <img src="{{uploadpath}}drugs/{{orders.drugsphoto}}" alt="" class="icon-60" />
            </div>
            <div class="f16 txt-black margin-left-30 flex-1">{{orders.drugsname}}</div>
            <div class="f16 txt-black">x{{orders.num}}</div>
          </div>

          <div class="flex-row flex-center margin-top-30">
            <div class="h5 txt-black flex-1">共{{item.orders.length}}件，合计：￥{{item.amount}}</div>
            <div class="f12 border-pg text-center " style="color: #F7555A">去付款</div>
          </div>
        </div>
      </ion-card>


     

    </div>

  </div>

  <div *ngIf="qiehuan==2">
    <div *ngFor="let item of order">
   




      <ion-card *ngIf="item.status=='C'" class="padding-20" (click)="orderSign(item.id)">
        <div class="margin-left-10 ">
          <div class="flex-row flex-center">
            <div class="h5 txt-black flex-1">{{item.submit_time_formatting}}</div>
            <div class="h5 txt-gw ">待收货</div>
          </div>
          <div *ngFor="let orders of item.orders" class="flex-row flex-center margin-top-20">
            <div>
              <img alt="" src="{{uploadpath}}drugs/{{orders.drugsphoto}}" class="icon-60" />
            </div>
            <div class="f16 txt-black margin-left-30 flex-1 flex-wrap w-212">{{orders.drugsname}}</div>
            <div class="f16 txt-black">x{{orders.num}}</div>
          </div>
          <div class="flex-row flex-center">
            <div class="h5 txt-black flex-1">共{{item.orders.length}}件，合计：￥{{item.amount}}</div>
  
            <div class="f12 border-pg text-center " style="color: #F7555A">确认签收</div>
          </div>
        </div>
      </ion-card>




    </div>
    
  </div>

  <div *ngIf="qiehuan==3">
    <div *ngFor="let item of order">
   


      <ion-card *ngIf="item.status=='F'" class="padding-20" (click)="orderComplete(item.id)">
        <div class="margin-left-10 ">
          <div class="flex-row flex-center">
            <div class="h5 txt-black flex-1">{{item.submit_time_formatting}}</div>
            <div class="h5 " style="color: #11838D">已完成</div>
          </div>
          <div *ngFor="let orders of item.orders" class="flex-row flex-center margin-top-30">
            <div>
              <img  src="{{uploadpath}}drugs/{{orders.drugsphoto}}"alt="" class="icon-60" />
            </div>
            <div class="f16 txt-black margin-left-30 flex-1 flex-wrap w-212">{{orders.drugsname}}</div>
            <div class="f16 txt-black ">x{{orders.num}}</div>
          </div>
          <div class="flex-row flex-center">
            <div class="h5 txt-black flex-1">共{{item.orders.length}}件，合计：￥{{item.amount}}</div>
            <div class="f12 border-pg text-center " style="color: #F7555A">去评价</div>
          </div>
        </div>
      </ion-card>

    </div>
    
  </div>


  <div *ngIf="qiehuan==4">
    <div *ngFor="let item of order">
   


      <ion-card *ngIf="item.status=='G'" class="padding-20" (click)="orderComplete(item.id)">
        <div class="margin-left-10 ">
          <div class="flex-row flex-center">
            <div class="h5 txt-black flex-1">{{item.submit_time_formatting}}</div>
            <div class="h5 " style="color: #11838D">已完成</div>
          </div>
          <div *ngFor="let orders of item.orders" class="flex-row flex-center margin-top-30">
            <div>
              <img  src="{{uploadpath}}drugs/{{orders.drugsphoto}}"alt="" class="icon-60" />
            </div>
            <div class="f16 txt-black margin-left-30 flex-1 flex-wrap w-212">{{orders.drugsname}}</div>
            <div class="f16 txt-black ">x{{orders.num}}</div>
          </div>
          <div class="">
            <div class="h5 txt-black ">共{{item.orders.length}}件，合计：￥{{item.amount}}</div>
          </div>
        </div>
      </ion-card>

    </div>
    
  </div>
    </div>

</ion-content>