<ion-header>
    <ion-toolbar color="primary">
        <ion-icon name="arrow-back" class="ion-icon" (click)="back()"></ion-icon>
        <ion-title>
          确认预约
        </ion-title>
        <ion-icon name="close" slot="end" class="ion-icon"></ion-icon>
      </ion-toolbar>
</ion-header>

<ion-content *ngIf="hospital.name==undefined">
  <div style="background-color: #11838D" class="padding-top-15;">
    <div class="card">
      <div class="p1">{{d.d}}（周{{d.d4}}）</div>
      <div class="p1">{{hospital.name}}</div>
      <div class="p1">
        A套餐，男性
        <div class="span0">￥288.00</div>
      </div>
    </div>
  </div>
  <div class="div2">
      <span class="span1">体检人信息</span>
      <span class="span4">（必填）</span>
  </div>
  <div class="div1 flex-row flex-center">
    <span class="span1 flex-1">姓名</span>
    <input class="span2" placeholder="请输入体检人姓名"/>
  </div>
  <hr/>
  <div class="div1 flex-row flex-center">
    <span class="span1 flex-1">身份证号码</span>
    <input class="span3" placeholder="请输入身份证号码" />
  </div>
  <hr/>
  <div class="div1 flex-row flex-center">
    <span class="span1 flex-1">联系方式</span>
    <input class="span2" placeholder="请输入手机号码"/>
  </div>
  <hr/>
  <div>
      <span class="span1">备注</span>
      <span class="span4">（非必填）</span>
      <p class="p0">请填写需要特别注意的事项</p>
  </div>
  <div class="div2">
    <span class="span1">图片资料</span>
    <span class="span4">（非必填）</span>
  </div>
  <div>
    <p class="p2">上传能体现病情的病历照片、患处照片、检验结果等</p>
    <img class="img1" />
  </div>
  <div class="div3">
    <div class="p4" style="position: absolute;bottom:0">确认预约</div>
  </div>

</ion-content>
