<ion-header>
  <!-- <ion-toolbar color="primary">
    <ion-icon name="arrow-back" class="ion-icon" (click)="back()"></ion-icon>
    <ion-title>
      确认预约
    </ion-title>
    <ion-icon name="close" slot="end" class="ion-icon"></ion-icon>
  </ion-toolbar> -->
  <div [style.background-image]="'url('+uploadpath+'resource/'+res.headpicture+')'" class="bg" ></div>
</ion-header>

<ion-content >
  <div style="background: #0F848D ;position:fixed;width:100%" class="padding-top-40 height-110">
    <div class="flex-row flex-center margin-left-30">
        <div  (click)="back()">
            <img src="{{uploadpath}}resource/{{res.leftarrow}}" class="icon-32" />
        </div>
        <div class="f12 txt-white margin-left-5" (click)="back()">上一步</div>
        <div class="f16 txt-white  margin-left-200">确认预约</div>
        
    </div>
  </div>
  <div style="background: #0F848D;width: 100%;" class="height-40" ></div>
    <div class="card " *ngIf="hospital!=null&&setmealinfo!=null">
      <div class="p1">{{d}}</div>
      <div class="p1">{{hospital.name}}</div>
      <div class="flex-row flex-center padding-bottom-20">
        <div class="p1 flex-1">
          {{setmealinfo.name}},{{setmealinfo.biaoqian}}

        </div>
        
        <div class="span0 margin-right">￥{{setmealinfo.price}}</div>
      </div>
    
  
  <div class="div2">
    <span class="span1">体检人信息</span>
    <span class="span4">（必填）</span>
  </div>
  <div class="div1 flex-row flex-center">
    <span class="span1 flex-1">姓名</span>
    <input [(ngModel)]='canshu.name' class="span2" placeholder="请输入体检人姓名" />
  </div>
  <hr />
  <div class="div1 flex-row flex-center">
    <span class="span1 flex-1">身份证号码</span>
    <input [(ngModel)]='canshu.id' class="span2" placeholder="请输入身份证号码" />
  </div>
  <hr />
  <div class="div1 flex-row flex-center">
    <span class="span1 flex-1">联系方式</span>
    <input [(ngModel)]='canshu.shouji' class="span2" placeholder="请输入手机号码" />
  </div>
  <hr />
  <div>
    <div>
      <span class="span1">备注</span>
      <span class="span4">（非必填）</span>
    </div>
    <textarea [(ngModel)]='canshu.beizhu'  placeholder="请填写需要特别注意的事项,最多200个字哦" maxlength="200" ></textarea>
    <div class="zj">{{canshu.beizhu.length}}/200</div>
  </div>

</div>
  <!-- <div class="div2">
    <span class="span1">图片资料</span>
    <span class="span4">（非必填）</span>
  </div>
  <div>
    <p class="p2">上传能体现病情的病历照片、患处照片、检验结果等</p>

  </div> 
   <div class="flex-row flex-wrap margin-top-40">
    <div class="margin-left-30" *ngFor="let item of photolist">
      <img src="{{uploadpath}}appointment/{{item}}" class="icon-50" />
    </div>
    <div class="margin-left-30" *ngIf="photolist<9">
      <img src="{{uploadpath}}resource/{{res.upload}}" class="icon-50" />
      <input type="file" (change)='upload($event)' class="fileupload icon-50" />
    </div>
  </div> -->
  <!-- <div class="height-100"></div>
  <div class="div3">
    <div class="p4" (click)="yuyue()" style="position: fixed;bottom:0">确认预约</div>
  </div> -->

</ion-content>

  <div class="p4" (click)="yuyue()" style="">确认预约</div>
