<ion-header>
  <ion-toolbar color="primary">
    <ion-icon name="arrow-back" class="ion-icon" (click)="back()"></ion-icon>
    <ion-title>
      确认预约
    </ion-title>
    <ion-icon name="close" slot="end" class="ion-icon"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="hospital!=null&&setmealinfo!=null">
  <div style="background-color: #11838D" class="padding-top-15;">
    <div class="card padding-20">
      <div class="p1">{{d}}</div>
      <div class="p1">{{hospital.name}}</div>
      <div class="flex-row flex-center ">
        <div class="p1">
          {{setmealinfo.name}},{{setmealinfo.biaoqian}}

        </div>
        <div class="flex-1"></div>
        <div class="span0">￥{{setmealinfo.price}}</div>
      </div>
    </div>
  </div>
  <div class="div2">
    <span class="span1">体检人信息</span>
    <span class="span4">（必填）</span>
  </div>
  <div class="div1 flex-row flex-center">
    <span class="span1 flex-1">姓名</span>
    <input [(ngModel)]='canshu.name' class="span2" placeholder="请输入体检人姓名" />
  </div>
  <hr />
  <div class="div1 flex-row flex-center">
    <span class="span1 flex-1">身份证号码</span>
    <input [(ngModel)]='canshu.id' class="span3" placeholder="请输入身份证号码" />
  </div>
  <hr />
  <div class="div1 flex-row flex-center">
    <span class="span1 flex-1">联系方式</span>
    <input [(ngModel)]='canshu.shouji' class="span2" placeholder="请输入手机号码" />
  </div>
  <hr />
  <div>
    <div>
      <span class="span1">备注</span>
      <span class="span4">（非必填）</span>
    </div>
    <input [(ngModel)]='canshu.beizhu' class="span2" placeholder="请填写需要特别注意的事项" />
  </div>
  <!-- <div class="div2">
    <span class="span1">图片资料</span>
    <span class="span4">（非必填）</span>
  </div>
  <div>
    <p class="p2">上传能体现病情的病历照片、患处照片、检验结果等</p>

  </div> 
   <div class="flex-row flex-wrap margin-top-40">
    <div class="margin-left-30" *ngFor="let item of photolist">
      <img src="{{uploadpath}}appointment/{{item}}" class="icon-50" />
    </div>
    <div class="margin-left-30" *ngIf="photolist<9">
      <img src="{{uploadpath}}resource/{{res.upload}}" class="icon-50" />
      <input type="file" (change)='upload($event)' class="fileupload icon-50" />
    </div>
  </div> -->
  <div class="div3">
    <div class="p4" (click)="yuyue()" style="position: absolute;bottom:0">确认预约</div>
  </div>

</ion-content>