<div class="flex-row fullscreen">
  <div class="flex-1 fullheightpercent">
    <video class='fullpercent'></video>
  </div>
  <div class="bg-gray padding-20">
    <div class="h3 mt-4 text-gray-800"><b>设备设置</b></div>
    <div class="h5 mt-4 txt-bold">音频设置</div>
    <div class="form-group card border-bottom-primary">
      <select type="text" class="form-control form-control-user no-border" [(ngModel)]='setting'>
        <option value="1">内置麦克风和头戴式设备</option>
        <!-- <option  value="2">自定义安装</option> -->
      </select>
    </div>
    <div class="h5 mt-4 txt-bold">扬声器</div>
    <div class="form-group card border-bottom-primary">
      <select type="text" class="form-control form-control-user no-border" [(ngModel)]='mic'>
        <option *ngFor='let mic of miclist'>内置麦克风和头戴式设备</option>
        <!-- <option  value="2">自定义安装</option> -->
      </select>
    </div>
    <div class="h5 mt-4 txt-bold">麦克风</div>
    <div class="form-group card border-bottom-primary">
      <select type="text" class="form-control form-control-user no-border" [(ngModel)]='mic'>
        <option *ngFor='let mic of miclist'>内置麦克风和头戴式设备</option>
        <!-- <option  value="2">自定义安装</option> -->
      </select>
    </div>
    <div class="h5 mt-4 txt-bold">摄像头</div>
    <div class="form-group card border-bottom-primary">
      <select type="text" class="form-control form-control-user no-border" [(ngModel)]='mic'>
        <option *ngFor='let mic of miclist'>内置麦克风和头戴式设备</option>
        <!-- <option  value="2">自定义安装</option> -->
      </select>
    </div>
    <div class="h5 mt-4 txt-bold">
      <button (click)='refreshDevices()' class="btn  btn-user btn-block btn-primary">
        刷新设备列表
      </button>
    </div>

  </div>
</div>
