

<div   [class.hide]="inmeeting==true" class="flex-row margin-top-60" style="width: 90%"> 
    <div class="flex-3 text-right">
      <img src="{{uploadpath}}resource/{{res.huizhen}}" />
      <div class="fixhui">患者正在进入中，请耐心等候...</div>
    </div>
    <div class="waiting flex-1">
        <div class="">
          <div class="houzhen">
            <div class="f20">候诊室</div>
          </div>
          <div class="bg-white border-bottom orderinfoheader">
            <div class="text-center">
              <img class="bigphoto  mt-5" src="{{uploadpath}}doctor/{{doctorinfo.photo}}" />
            </div>
            <div class="f20 txt-bold text-center margin-top">{{doctorinfo.name}}</div>
            <div class="text-center margin-top"> {{doctorinfo.title}}</div>
            <div class="margin-top"></div>
            <div class="h70"></div>
          </div>
          
          <div class="bg-white padding-20">
            <!-- <h4>预约信息</h4>
            <h5>排版1</h5>
            <div class="row">
              <div class="col-md-2 txt-gray f14">预约人：</div>
              <div class="col-md-4 f14">{{orderinfo.patientname}}</div>
              <div class="col-md-2 txt-gray f14">预约性别：</div>
              <div class="col-md-4 f14">{{orderinfo.patientsexual_name}}</div>
              <div class="col-md-2 txt-gray f14">预约时间：</div>
              <div class="col-md-4 f14">{{orderinfo.ordertime_formatting}}</div>
              <div class="col-md-2 txt-gray f14">预约状态：</div>
              <div class="col-md-4 f14">{{orderinfo.orderstatus_name}}</div>
            </div> -->
            <div class="f18 txt-bold margin-bottom-10 xinxi">预约信息</div>
            <div class="flex-row margin-bottom-10 xinxi"> 
              <div class="">预约时间：</div>
              <div class="flex-1">{{orderinfo.ordertime_formatting}}</div>
            </div>
            <div class="flex-row margin-bottom-10 xinxi"> 
              <div class="">就诊人：</div>
              <div class="flex-1" style='margin-left: 14px;'>{{orderinfo.patientname}}</div>
            </div>
            <!-- <div class="flex-row"> 
              <div class="txt-gray f14">预约性别：</div>
              <div class="f14 flex-1">{{orderinfo.patientsexual_name}}</div>
            </div> -->
            
            <div class="flex-row margin-bottom-10 xinxi"> 
                <div class="">手机号码：</div>
                <div class=" flex-1">{{orderinfo.patientmobile}}</div>
              </div>
            <!-- <div class="flex-row"> 
              <div class="txt-gray f14">预约状态：</div>
              <div class="f14 flex-1">{{orderinfo.orderstatus_name}}</div>
            </div> -->
          </div>
          <div class="padding-29 text-center bg-blue-28 txt-white txt-bold " (click)='startmeeting()'>
            开始会诊
          </div>
          
        </div>
    </div>
  </div>
  
  
  
  
  
  <!---------------------------------->
  <!-------------下面是和视频会诊有关的功能了--------------------->
  <!---------------------------------->
  <!---------------------------------->
  
  <div [class.hide]="inmeeting==false" class="flex-row fullscreen">
    <div class="flex-3 fullheightpercent margin-top-20">
      <div class="menu">
        <div class="menuopt firstmenuopt">
          00:47
        </div>
        <div class="menuopt" [tooltip]="cameraopen==true?'打开摄像头':'关闭摄像头'" placement="right" (click)="toggleCamera()">
          <i class="fas fa-fw fa-video"></i>
          <i class="fa fa-ban fa-stack-1x text-danger" *ngIf="cameraopen==true"></i>
          <div class="h6">视频</div>
        </div>
        <div class="menuopt" [tooltip]="micopen==true?'打开麦克风':'关闭麦克风'" placement="right" (click)="toggleMic()">
          <i class="fas fa-fw fa-microphone"></i>
          <i class="fa fa-ban fa-stack-1x text-danger" *ngIf="micopen==true"></i>
          <div class="h6">声音</div>
        </div>
        <div class="menuopt" tooltip="病人信息" placement="right" (click)="showtype=1">
          <i class="fas fa-fw fa-users"></i>
          <div class="h6">病历</div>
        </div>
        <!-- <div class="menuopt" tooltip="聊天记录" placement="right" (click)="showtype=2">
          <i class="fas fa-fw fa-comments"></i>
          <div class="h6">聊天记录</div>
        </div> -->
        <div class="menuopt" tooltip="设备设置" placement="right" (click)="showtype=3">
          <i class="fas fa-fw fa-cog"></i>
          <div class="h6">设置</div>
        </div>
        <!-- <div class="menuopt lastmenuopt" [tooltip]="play==true?'停止直播':'开始直播'" placement="right">
          <i class="fas fa-fw fa-play" *ngIf="play==false" (click)='startlive()'></i>
          <i class="fas fa-fw fa-stop" *ngIf="play==true" (click)='stoplive()'></i>
          <div class="h6">直播</div>
        </div> -->
      </div>
      <video class='fullpercent' id="remotevideo"></video>
      <video class="localvideo" muted controls="controls" id="localvideo"></video>
    </div>
    <div class="flex-1">
      <div class="bg-white padding-20">
        <div *ngIf="showtype==1">
  
           <div class="houzhen">
            <div class="f20">病历</div>
          </div>
          <div class="jiuzhenxinxi">
              <div class="txt-bold margin-bottom-20 ">就诊人信息</div>
              <div class="flex-row margin-bottom-10 "> 
                <div class="">就诊人：</div>
                <div class="flex-1" style='margin-left: 14px;'>{{orderinfo.patientname}}</div>
              </div>
      
              <div class="flex-row margin-bottom-10 "> 
                <div class="">预约时间：</div>
                <div class="flex-1">{{orderinfo.ordertime_formatting}}</div>
              </div>
              <div class="flex-row margin-bottom-20 "> 
                <div class="">手机号码：</div>
                <div class=" flex-1">{{orderinfo.patientmobile}}</div>
              </div>
              <div class=" "> 
                <div class="txt-bold margin-bottom-10">图片资料</div>
                <div  style="float: left;" class="" *ngFor='let img of orderinfo.photolist'>
                    <img *ngIf='img.photo!=""'  data-toggle="modal" data-target="#myModal2" src="{{uploadpath}}appointment/{{img.photo}}" class="images margin-bottom-10" (click)='changbig(img)'/>
                </div>
                <div style="clear: both;"></div>
              </div>
          </div>
          <div class="flex-row" style="width: 80%; margin-left: 10%;">
            <div class="padding-24 flex-5 text-center txt-white txt-bold " (click)='startmeeting()' style="background: #009688;">
              继续会诊
            </div>
            <div class="flex-1"></div>
            <div class="padding-24 flex-5 text-center  txt-white txt-bold " data-toggle="modal" data-target="#myModal" style="background: #FF9800;">
              结束会诊
            </div>
          </div>
        </div>
  
        <div class="modal fade" tabindex="-1" role="dialog" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">
                 <div class="modal-header">
                  <h4 class="modal-title">结束会诊提示</h4>
                  <button type="button" class="close" data-dismiss="modal">×</button>
                 </div>
                 <div class="modal-body">
                  确定要结束会诊吗？
                 </div>
                 <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
                  <button type="button" class="btn btn-default" (click)='determine()' data-dismiss="modal">确定</button>
                 </div>
                </div>
              </div>
        </div>
       
        
      <div class=" padding-20" *ngIf="showtype==3">
            <div class="h3 mt-4 text-gray-800"><b>设备设置</b></div>
            <div class="h5 mt-4 txt-bold">扬声器</div>
            <div class="form-group card border-bottom-primary padding-10 h6">
              {{speaker==null?"找不到设备":speaker.label}}
            </div>
            <div class="h5 mt-4 txt-bold">麦克风</div>
            <div class="form-group card border-bottom-primary padding-10 h6">
              {{mic==null?"找不到设备":mic.label}}
            </div>
            <div class="">
              <progressbar [value]="volume" [max]="0.5"></progressbar>
            </div>
            <div class="h5 mt-4 txt-bold">摄像头</div>
            <div class="form-group card border-bottom-primary padding-10 h6">
              {{camera==null?"找不到设备":camera.label}}
            </div>
            <div class="h5 mt-4 txt-bold">
              <button (click)='refreshDevices()' class="btn  btn-user btn-block btn-primary">
                刷新设备列表
              </button>
            </div>
      </div>
  
    </div>
  </div>
  </div>
  


  <div  class="modal fade " id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div  class="modal-dialog photoimg " role="img" *ngFor='let item of imgs;let i=index'>
          <div class="modal-content" style="background: transparent; border: none;width: 800px; height: 600px">

              <div id="demo" class="carousel slide" style="width: 900px; height: 700px" >
                  <!-- 指示符 -->
                  <ul class="carousel-indicators" >
                  <!-- <li data-target="#demo" data-slide-to="i" class="active"></li> -->
                  <!-- <li data-target="#demo"  *ngIf='1<item.length' data-slide-to="1"></li>
                  <li data-target="#demo"  *ngIf='2<item.length' data-slide-to="2"></li>
                  <li data-target="#demo"  *ngIf='3<item.length' data-slide-to="3"></li>
                  <li data-target="#demo"  *ngIf='4<item.length' data-slide-to="4"></li> -->
              </ul>
              
                  <!-- 轮播图片 -->
                  <div class="carousel-inner " style="height: 100%;">
                      <div class="carousel-item active" style="height: 100%;" >
                          <img src="{{uploadpath}}appointment/{{item.photo}}">
                      </div>
                      <!-- <div class="carousel-item" style="height: 100%;" *ngIf='item.photo2!=""&&item.photo2!="undefined"'>
                          <img src="{{uploadpath}}fittings/{{item.photo2}}">
                      </div>
                      <div class="carousel-item" style="height: 100%;" *ngIf='item.photo3!=""&&item.photo3!="undefined"'>
                          <img src="{{uploadpath}}fittings/{{item.photo3}}">
                      </div>
                      <div class="carousel-item" style="height: 100%;" *ngIf='item.photo4!=""&&item.photo4!="undefined"'>
                          <img src="{{uploadpath}}fittings/{{item.photo4}}">
                      </div>
                      <div class="carousel-item" style="height: 100%;" *ngIf='item.photo5!=""&&item.photo5!="undefined"'>
                          <img  src="{{uploadpath}}fittings/{{item.photo5}}">
                      </div> -->
                  </div>
              
                  <!-- 左右切换按钮 -->
                  <!-- <a class="carousel-control-prev" href="#demo" data-slide="prev">
                      <span class="carousel-control-prev-icon"></span>
                  </a>
                  <a class="carousel-control-next" href="#demo" data-slide="next">
                      <span class="carousel-control-next-icon"></span>
                  </a> -->
              
              </div>
      
      
          </div>
      </div> 
</div>




<!-- <div class="flex-row fullscreen">
  <div class="flex-1 fullheightpercent">
    <div class="menu">
      <div class="menuopt firstmenuopt">
        {{currentorder==null?"--:--":currentorder.timestr}}
      </div>
      <div class="menuopt" [tooltip]="cameraopen==true?'关闭摄像头':'打开摄像头'" placement="right" (click)="toggleCamera()">
        <i class="fas fa-fw fa-video"></i>
        <i class="fa fa-ban fa-stack-1x text-danger" *ngIf="cameraopen==true"></i>
      </div>
      <div class="menuopt" [tooltip]="micopen==true?'关闭麦克风':'打开麦克风'" placement="right" (click)="toggleMic()">
        <i class="fas fa-fw fa-microphone"></i>
        <i class="fa fa-ban fa-stack-1x text-danger" *ngIf="micopen==true"></i>
      </div>
      <div class="menuopt" tooltip="病人信息" placement="right" (click)="showtype=1">
        <i class="fas fa-fw fa-users"></i>
      </div>
      <div class="menuopt" tooltip="聊天记录" placement="right" (click)="showtype=2">
        <i class="fas fa-fw fa-comments"></i>
      </div>
      <div class="menuopt lastmenuopt" tooltip="设备设置" placement="right" (click)="showtype=3">
        <i class="fas fa-fw fa-cog"></i>
      </div>
      <div *ngIf="false" class="menuopt lastmenuopt" [tooltip]="play==true?'停止直播':'开始直播'" placement="right">
        <i class="fas fa-fw fa-play" *ngIf="play==false" (click)='startlive()'></i>
        <i class="fas fa-fw fa-stop" *ngIf="play==true" (click)='stoplive()'></i>
      </div>
    </div>
    <video controls="controls" class='fullpercent' id="remotevideo"></video>
    <video class="localvideo" muted=“muted” controls="controls" id="localvideo"></video>
  </div>

  <div class="fullheightpercent scroll">
    <div class=" padding-20" *ngIf="showtype==1">
      <div *ngIf="currentorder==null">
        <div class="h3 mt-4 text-gray-800"><b>我的病人</b></div>
        <div class="order padding-20 bg-white margin-top" *ngFor="let order of orderlist">
          <div class="flex-row">
            <div class="txt-gray f12 margin-right">预约人姓名：</div>
            <div class="f12">{{order.patientname}}</div>
          </div>
          <div class="flex-row">
            <div class="txt-gray f12 margin-right">预约人性别：</div>
            <div class="f12">{{order.patientgender_name}}</div>
          </div>
          <div class="flex-row">
            <div class="txt-gray f12 margin-right">预约时间：</div>
            <div class="f12">{{order.ordertime_formatting}}</div>
          </div>
          <div class="flex-row">
            <div class="txt-gray f12 margin-right">预约状态：</div>
            <div class="f12">{{order.orderstatus_name}}</div>
          </div>
          <div class="flex-row" *ngIf="order.orderstatus=='B'||order.orderstatus=='C'">
              <div class="txt-gray f12 margin-right">开始时间：</div>
              <div class="f12">{{order.meetingstart_formatting}}</div>
          </div>
          <div class="flex-row" *ngIf="order.orderstatus=='C'">
              <div class="txt-gray f12 margin-right">结束时间：</div>
              <div class="f12">{{order.meetingend_formatting}}</div>
          </div>
          <div class="flex-row" *ngIf="order.orderstatus=='B'">
            <div class="flex-1 margin-right"><button class="btn btn-primary btn-sm btn-block"
                (click)="startmeeting(order)">继续会诊</button></div>
            <div class="flex-1 margin-left"><button class="btn btn-warning btn-sm btn-block"
                (click)="endmeeting(order)">结束会诊</button></div>
          </div>
          <div *ngIf="order.orderstatus=='A'">
            <button class="btn btn-warning btn-sm btn-block" (click)="startmeeting(order)">开始会诊</button>
          </div>
        </div>
      </div>
      <div *ngIf="currentorder!=null">
        <div class="h3 mt-4 text-gray-800"><b>我的病人</b></div>
        <div class="order padding-20 bg-white margin-top">
          <div class="flex-row">
            <div class="txt-gray f12 margin-right">预约人姓名：</div>
            <div class="f12">{{currentorder.patientname}}</div>
          </div>
          <div class="flex-row">
            <div class="txt-gray f12 margin-right">预约人性别：</div>
            <div class="f12">{{currentorder.patientgender_name}}</div>
          </div>
          <div class="flex-row">
            <div class="txt-gray f12 margin-right">预约时间：</div>
            <div class="f12">{{currentorder.ordertime_formatting}}</div>
          </div>
          <div class="flex-row">
            <div class="txt-gray f12 margin-right">预约状态：</div>
            <div class="f12">{{currentorder.orderstatus_name}}</div>
          </div>
          <div class="flex-row" *ngIf="currentorder.orderstatus=='B'||currentorder.orderstatus=='C'">
              <div class="txt-gray f12 margin-right">开始时间：</div>
              <div class="f12">{{currentorder.meetingstart_formatting}}</div>
          </div>
          <div class="flex-row" *ngIf="currentorder.orderstatus=='C'">
              <div class="txt-gray f12 margin-right">结束时间：</div>
              <div class="f12">{{currentorder.meetingend_formatting}}</div>
          </div>
          <div class="flex-row">
            <div class="flex-1 margin-left"><button class="btn btn-warning btn-sm btn-block"
                (click)="endmeeting(currentorder)">结束会诊</button></div>
          </div>
        </div>
      </div>
    </div>
    <div class=" padding-20" *ngIf="showtype==2">
      <div class="h3 mt-4 text-gray-800"><b>聊天记录</b></div>
    </div>
    <div class=" padding-20" *ngIf="showtype==3">
      <div class="h3 mt-4 text-gray-800"><b>设备设置</b></div>
      <div class="h5 mt-4 txt-bold">扬声器</div>
      <div class="form-group card border-bottom-primary padding-10 h6">
        {{speaker==null?"找不到设备":speaker.label}}
      </div>
      <div class="h5 mt-4 txt-bold">麦克风</div>
      <div class="form-group card border-bottom-primary padding-10 h6">
        {{mic==null?"找不到设备":mic.label}}
      </div>
      <div class="">
        <progressbar [value]="volume" [max]="0.5"></progressbar>
      </div>
      <div class="h5 mt-4 txt-bold">摄像头</div>
      <div class="form-group card border-bottom-primary padding-10 h6">
        {{camera==null?"找不到设备":camera.label}}
      </div>
      <div class="h5 mt-4 txt-bold">
        <button (click)='refreshDevices()' class="btn  btn-user btn-block btn-primary">
          刷新设备列表
        </button>
      </div> -->
