.fullscreen{
    height: calc( 100vh  - 70px   - 76px ) 
}
.fullheightpercent{
    
    height:100%;
}
.fullpercent{
    width:100%;
    height:100%;
    background: black;
}
.localvideo{
    width:240px;
    height:180px;
    position: absolute;
    z-index: 100;
    margin-left:-250px;
    margin-top: calc( 100vh  - 340px )  
}