<ion-header>
  <div [style.background-image]="'url('+uploadpath+'resource/'+res.headpicture+')'" class="bg" ></div>
</ion-header>

<ion-content>

    <div style="background: #0F848D ;position:fixed;width:100%" class="bg2 padding-top-40 height-110">
        <div class="flex-row flex-center margin-left-30">
            <div  (click)="back()">
                <img src="{{uploadpath}}resource/{{res.leftarrow}}" class="icon-32" />
            </div>
            <div class="f12 txt-white margin-left-5" (click)="back()">上一步</div>
            <div class="f16 txt-white margin-left-200">关于我们</div>
        </div>
      </div>
      <div style="background: #0F848D;width: 100%;" class="height-40" ></div>

      <div class="height-92 card"></div>
      <div class="flex-row flex-column">
        <img [src]="uploadpath+'resource/'+res.logo" class="icon-280 " style="">
        <div style="" class="height-20"> </div>
        <div class="txt-bold h4-6">港和医疗</div>
        <div class="height-1"></div>
        <div class="height-1"></div>
        <div class="h5">{{InstInfo.version}}</div>
        <div class="height-110"></div>
        <div style=" width:90vw;background:#D6D7D9;" class="height-1"></div>
      </div>
    
    
    
      <div class="flex-row flex-center margin-left-40 margin-right-40 pd" style="">
        <div class="flex-row column flex-1">
          <div class="h5">港和医疗官方邮箱</div>
          <div class="height-1"></div>
          <div class="h5" style="color:#D6D7D9">{{email}}</div>
        </div>
        <div style="color:#0F848D" class="h5" (click)="copy()" >复制</div>
      </div>
      <div style="width:90vw;background:#D6D7D9;" class="margin-left-40 margin-right-40 height-1"></div>
    
    
      <div class="flex-row flex-center margin-left-40 margin-right-40 pd">
        <div class="flex-row column flex-1">
          <div class="h5">违法和不良信息举报</div>
          <div class="height-1"></div>
          <div class="h5" style="color:#D6D7D9">{{phone}}</div>
        </div>
        <div (click)='call()'  style="color:#0F848D" class="h5"><img src="{{uploadpath}}resource/{{res.call}}" class="icon-20"/></div>
      </div>
      <div style="width:90vw;background:#D6D7D9;" class="margin-left-40 margin-right-40 height-1"></div>
    
    
      <div class="height-70"></div>
    
      <div class="bot">
        <div class="flex-row flex-column ">
          <div class="h5 opa text-center" style='white-space: pre-wrap;'>{{InstInfo.copyright}}</div>
        </div>
      </div>
    
      <div class="height-40"></div>
    

</ion-content>
