@function rpx($px) {
    @return ($px * 100vw) / 750;
  }
  .bg{
    width:100%;
    height:rpx(100);
    background-size: cover;
  }
  .card{
    background-color:white;    
    border-top-left-radius: rpx(37);
    border-top-right-radius: rpx(37);
    padding-top: rpx(30);
    margin-top:rpx(-40)
    
  }
.height-110{
    height: rpx(110);
  }
  .height-40{
    height: rpx(40);
  }

.icon-32{
    width:rpx(28);
    height: rpx(28);
}
.icon-26{
    width: rpx(26*2);
    height: rpx(6);
}

.icon-312{
    width:rpx(312*2)
}


.margin-left-550 {
    margin-left: rpx(550)
}
.bc{
    background-color: #0F848D;
}
.c{
    color:#0F848D;
}
.mll{
  margin-left: rpx(-60);
}