<ion-header>
    <!-- <ion-toolbar color="primary">
        <ion-icon name="arrow-back" class="icon-24" (click)="back()"></ion-icon>
        <ion-title>
          我的消息
        </ion-title>
        <ion-icon name="close" slot="end" class="icon-24"></ion-icon>
      </ion-toolbar> -->
      <div [style.background-image]="'url('+uploadpath+'resource/'+res.headpicture+')'" class="bg" ></div>
</ion-header>

<ion-content>
  <div style="background: #0F848D ;position:fixed;width:100%" class="padding-top-40 height-110">
    <div class="flex-row flex-center margin-left-30">
        <div  (click)="back()">
            <img src="{{uploadpath}}resource/{{res.leftarrow}}" class="icon-32" />
        </div>
        <div class="f12 txt-white margin-left-5" (click)="back()">上一步</div>
        <div class="f16 txt-white margin-left-200">我的消息</div>
    </div>
  </div>
  <div style="background: #0F848D;width: 100%;" class="height-40" ></div>
    <div class="card">
      <div class="flex-row flex-center margin-left-30">
        <div  (click)='show=0'>
          <div class=" txt-bold" [class.f18]='show==0' [class.c]='show==0' [class.h5]='show!=0' >全部</div>
          <div class="icon-26 bc margin-top-10" *ngIf='show==0'></div>
        </div>
        <div class="margin-left-80"  (click)='show=1'>
          <div class=" txt-bold " [class.f18]='show==1' [class.c]='show==1' [class.h5]='show!=1'>系统</div>
          <div class="icon-26 bc margin-top-10" *ngIf='show==1'></div>
        </div>
        <div class="margin-left-80"  (click)='show=2'>
          <div class=" txt-bold " [class.f18]='show==2' [class.c]='show==2' [class.h5]='show!=2'>预约</div>
          <div class="icon-26 bc margin-top-10" *ngIf='show==2'></div>
        </div>
        <div class=" margin-left-80"  (click)='show=3'>
          <div class=" txt-bold "[class.f18]='show==3' [class.c]='show==3' [class.h5]='show!=3'>活动</div>
          <div class="icon-26 bc margin-top-10" *ngIf='show==3'></div>
        </div>
      </div>


      <div *ngIf='show==0'>
          <div class="margin-left-30" >
              <div  *ngIf='huodong!=null'>   
                  <div *ngFor='let hd of huodong'  class="margin-top-40">
                    <div class="flex-row flex-center">
                      <img alt="" class="icon-24"  src="{{uploadpath}}resource/{{res.huodong}}"/>
                      <div class="h5 txt-black margin-left-30">{{hd}}</div>
                    </div>
                    <div class="f12 margin-top-20 margin-left-550" style="color: #6C6969">{{year}}/{{month}}/{{day}}</div>
                    <div class="border-bw margin-top-30 mll" style="opacity: 0.4"></div>
                  </div>
              
              </div>
              
            </div>
           

            <div class="margin-left-30 margin-top-40">
                <div class="flex-row flex-center">
                  <img alt="" class="icon-24" src="{{uploadpath}}resource/{{res.gonggao}}" />
                  <div class="h5 txt-black icon-312 margin-left-30">XXXXXXXXXX</div>
                </div>
                <div class="f12 margin-top-20 margin-left-550" style="color: #6C6969">2019/09/03</div>
                <div class="border-bw margin-top-30 mll" style="opacity: 0.4"></div>
              </div>
            
              
      </div>



      <div class="margin-left-30 margin-top-40" *ngIf='show==1'>
        <div class="flex-row flex-center">
          <img alt="" class="icon-24" src="{{uploadpath}}resource/{{res.gonggao}}" />
          <div class="h5 txt-black icon-312 margin-left-30">XXXXXXXXXX</div>
        </div>
        <div class="f12 margin-top-20 margin-left-550" style="color: #6C6969">2019/09/03</div>
        <div class="border-bw margin-top-30 mll" style="opacity: 0.4"></div>
      </div>
      


 
     
    
  
      <div class="margin-left-30"  *ngIf='show==3'>
          <div  *ngIf='huodong!=null'>   
              <div *ngFor='let hd of huodong.name'  class="margin-top-40">
                <div class="flex-row flex-center">
                  <img alt="" class="icon-24"  src="{{uploadpath}}resource/{{res.huodong}}" />
                  <div class="h5 txt-black margin-left-30">{{hd}}</div>
                </div>
                <div class="f12 margin-top-20 margin-left-550" style="color: #6C6969">{{year}}/{{month}}/{{day}}</div>
                <div class="border-bw margin-top-30 mll" style="opacity: 0.4"></div>
              </div>
             
          </div>
          
        </div>





    </div>
 

</ion-content>

