<div class="container-fluid">

    <!-- Page Heading -->
    <div class="flex-row flex-bottom">
      <div class="flex-1">
        <h1 class="h3 mb-4 mt-5 text-gray-800">今日会诊</h1>
      </div>
      <div>
        {{clock}}
      </div>
    </div>
  
    <div class="margin-top-20 bg-white padding-20 flex-row" style="width: 100%">
      <div class=" btns btn-active" (click)='waiting($event)'> 待会诊 </div>
      <div class=" btns" (click)='progress($event)'> 会诊中</div>
      <div class=" btns" (click)='over($event)'>已结束</div>
      <div class=" btns" (click)='pass($event)'>已过号</div>
      <div class="btns" (click)='all($event)'> 全部</div>
    </div>
  
  
    <div class="margin-10 " style="width: 100%;">
             
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead class="text-center" style="background: #D2D2D2;">
                <tr>
                  <th>预约时间</th>
                  <th>患者姓名</th>
                  <th>电话</th>
                  <th>患者备注信息</th>
                  <th>图片</th>
                  <th>状态</th>
                </tr>
            </thead>
            <tbody class="h5 text-center">
                <tr *ngFor='let item of orders'>
                   <td>{{item.schedule_id_name}}</td>
                   <td>{{item.patientname}}</td>
                   <td>{{item.patientmobile}}</td>
                   <td>{{item.department_id_name}}</td>
                   <td>
                      <div *ngFor='let img of item.photolist;let i=index'>
                          <span *ngIf="i==0" class="margin-left">
                              <img *ngIf='img.photo!="" ' src="{{uploadpath}}appointment/{{img.photo}}" class="icon-50"/>
                              <div *ngIf='item.photolist.length>1' class="box">{{item.photolist.length}}</div>
                            </span>
                       </div>
                    </td>
                   <td (click)="gotoConference(item)" style="cursor: pointer;">
                     <div *ngIf='item.orderstatus=="A"' style="color:#2850C3">{{item.orderstatus_name}}</div>
                     <div *ngIf='item.orderstatus=="B"' style="color:#FF9800">{{item.orderstatus_name}}...</div>
                     <div *ngIf='item.orderstatus=="C"'>{{item.orderstatus_name}}</div>
                     <div *ngIf='item.orderstatus=="D"' style="color:#8A8A8A">{{item.orderstatus_name}}</div>
                    </td>
                </tr>
                
            </tbody>
        </table>
      </div>
                     
    </div>
  
  
  </div>
  