<ion-header>
    <ion-toolbar color="primary">
      <ion-title>
        {{InstInfo.name}}
      </ion-title>
      <ion-icon name="close" slot="end" class="icon-24"></ion-icon>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    
    <div class="f18 txt-black txt-bold margin-top-300 margin-left-50">设置密码</div>
    
  
    <div class="width-308 margin-left-50">
      <div class="margin-top-100">
        <div class="h5 txt-gw">请输入密码</div>
      </div>
      <hr/>


      <div class="margin-top-50">
        <div class="h5 txt-gw">请再次输入密码确认</div>
      </div>
      <hr/>
  
      <div class="flex-row flex-center">
        <div class="flex-row flex-center flex-1">
          <img alt="" class="icon-15"/>
          <div class="f12 txt-gw margin-left-10">温馨提示：密码需要 6 ~ 20位字符</div>
        </div>
        
        <div class="flex-row flex-center">
          <img alt="" class="icon-20" />
          <div class="f12 txt-gw margin-left-10">显示密码</div>
        </div>
      </div>
  


      <div class="flex-row flex-center bg-p radius-10 icon-310 margin-top-100">
        <div class="flex-1"></div>
        <div class="f16 txt-white">登 录</div>
        <div class="flex-1"></div>
      </div>
  
      
     
      
    </div>
  
  </ion-content>
  