@function rpx($px) {
    @return ($px * 100vw) / 750;
  }
.ion-icon{
    height:rpx(24*2);
    width:rpx(24*2)
}
.card{
    background-color:white;    
    border-top-left-radius: rpx(37);
    border-top-right-radius: rpx(37);
    padding-top: rpx(30);
    margin-top:rpx(-40)
    
  }
.height-110{
    height: rpx(110);
  }
  .height-40{
    height: rpx(40);
    margin-top:rpx(110);
  }

.icon-32{
    width:rpx(28);
    height: rpx(28);
}
  
.bg{
    width:100%;
    height:rpx(100);
    background-size: cover;
  }

.icon-32{
    width:rpx(28);
    height: rpx(28);
}
.d1{
    width:rpx(6);
    height: rpx(30);
    background-color:#0F848D;
}
.horizontalbar{
    display: block;
    margin-top:rpx(5);
    width:rpx(50*2);
    height:rpx(6);
    margin-left:rpx(40);
    // margin-bottom: rpx(-30);
  }
.ion-icon-r{
    margin-right:rpx(15)
}
.w-h{
    height: rpx(120);
    line-height: rpx(120);
}
.margin-left-750{
    margin-left:rpx(350);
}
hr{
    border: #aaaaaa solid rpx(0.01*2);
    background-color: #aaaaaa;
    opacity: 0.2;
}
.img1{
  z-index: 1;
  width: rpx(100);
  height: rpx(100);
  position: fixed;
  bottom:rpx(100);
  right: rpx(50);
  border-radius: 50%;
  background:#11838D;
}
.icon-255{
    width:rpx(255*2);
    height: rpx(100);
    line-height: rpx(100);
}

.icon-120{
    width:rpx(120*2);
    height: rpx(100);
    line-height: rpx(100);
}
.bg{
    width:100%;
    height:rpx(100);
    background-size: cover;
  }
  textarea{
      width:rpx(335*2);
      height: rpx(380);
      outline: none;
      border:rpx(0.5) solid #aaaaaa;
  }
  .zj{
    color:rgba($color: #aaa, $alpha: 1);
    font-size: rpx(14);
    position:absolute;
    top:rpx(345);
    right:rpx(55)
  }
  .d7{
    width: rpx(53*2);
    height: rpx(40);
    line-height: rpx(40);
    text-align: center;
    border-radius: rpx(40);
    background-color:#0F848D;
  }
  .width-270{
    width:rpx(270*2)
  }