<ion-header>
    <!-- <ion-toolbar color="primary">
        <ion-icon name="arrow-back" class="ion-icon" (click)="back()"></ion-icon>
        <ion-title *ngIf="hospital!=null">
            {{hospital.name}}
        </ion-title>
        <ion-icon name="close" slot="end" class="ion-icon"></ion-icon>
    </ion-toolbar> -->
    <div [style.background-image]="'url('+uploadpath+'resource/'+res.headpicture+')'" class="bg">

    </div>
</ion-header>

<ion-content>
    <div style="background: #0F848D ;position:fixed;width:100%" class="padding-top-40 height-110">
        <div class="flex-row flex-center">
            <div class="marginTop" (click)="back()">
                <img src="{{uploadpath}}resource/{{res.leftarrow}}" class="icon-32" />
            </div>
            <div class="f12 txt-white margin-left-5" (click)="back()">上一步</div>
            <div class="f16 txt-white  flex-1 text-center">{{hospital.name}}</div>
            <div class="f12 txt-white  margin-right-15" (click)="clinic()">诊所介绍</div>
        </div>
    </div>
    <div style="background: #0F848D;width: 100%;" class="height-40"></div>
    <div class="card">
        <div class="txt-black f16 txt-bold margin-left-30">预约信息</div>
        <img src="{{uploadpath}}resource/{{res.horizontalbar}}" class="horizontalbar" />
        <div class="flex-row margin-top-40">
            <div class="marginTop1">
                <img src="{{uploadpath}}resource/{{res.zhensuo}}" class="icon-10" />
            </div>
            <div class="f12 txt-gw margin-left-30">诊所：</div>
            <div class="f12 txt-black margin-left-30">{{hospital.name}}</div>
        </div>
        <div class="flex-row margin-top-40">
            <div class="marginTop1">
                <img src="{{uploadpath}}resource/{{res.keshi}}" class="icon-10" />
            </div>
            <div class="f12 txt-gw margin-left-30">科室：</div>
            <div class="f12 txt-black margin-left-30">{{params.fuwuleibie}}</div>
        </div>
        <div class="flex-row margin-top-40">
            <div class="marginTop1">
                <img src="{{uploadpath}}resource/{{res.riqi}}" class="icon-10" />
            </div>
            <div class="f12 txt-gw margin-left-30">日期：</div>
            <div class="f12 txt-black margin-left-30">{{myear}}年{{mmonth}}月{{myday}}日</div>
            <div class="f12 txt-gw margin-left-200" (click)="zhankai=true" *ngIf="zhankai==false">展开修改</div>
            <div class="f12 txt-gw margin-left-260" (click)="zhankai=false" *ngIf="zhankai==true">收起</div>

            <div class="marginTopLeft" (click)="zhankai=true" *ngIf="zhankai==false">
                <img src="{{uploadpath}}resource/{{res.bottomarrow}}" class="icon-10" />
            </div>
            <div class="marginTopLeft" (click)="zhankai=false" *ngIf="zhankai==true">
                <img src="{{uploadpath}}resource/{{res.toparrow}}" class="icon-10" />
            </div>
        </div>

        <div *ngIf="zhankai==true">
            <div class="">
                <div>

                    <div class="tabbody padding-20 ">
                        <div>
                            <div class="flex-row flex-center ">
                                <img src="{{uploadpath}}resource/{{res.left}}"  class="h3 padding-20 icon-20" (click)="addMonth(-1)">
                                 
                                <div class="flex-1 text-center" style="color: #0F848D;">{{myear}}年{{mmonth}}月</div>
                                <img src="{{uploadpath}}resource/{{res.rightArrow}}"  class="h3 padding-20  icon-20" (click)="addMonth(1)">
                                  
                               
                            </div>
                        </div>
                        <div class="border-1"></div>
                        <div class="flex-row  txt-gw">
                            <div class="flex-1 h6 txt-bold padding-20 text-center">日</div>
                            <div class="flex-1 h6 txt-bold padding-20 text-center">一</div>
                            <div class="flex-1 h6 txt-bold padding-20 text-center">二</div>
                            <div class="flex-1 h6 txt-bold padding-20 text-center">三</div>
                            <div class="flex-1 h6 txt-bold  padding-20 text-center">四</div>
                            <div class="flex-1 h6 txt-bold padding-20 text-center">五</div>
                            <div class="flex-1 h6 txt-bold padding-20 text-center">六</div>
                        </div>
                        <div class="border-1"></div>

                        <div class="flex-row " *ngFor="let w of mcal">
                            <div class="flex-1" *ngFor="let d of w;let i=index;">
                                <div class="mdate padding-20 text-center margin-left-10 yuanquan margin-top-30"
                                    (click)='asd(d,i)' [class.issat]="i==6" [class.xzrq]='d.d==xzrq&&d.f==xzy'
                                    [class.pass]='d.pass==true' [class.today]='d.today==true'>
                                    <div class="">{{d.d}}</div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>







        <div class="txt-black f16 txt-bold margin-left-30 margin-top-40">预约医生</div>
        <img src="{{uploadpath}}resource/{{res.horizontalbar}}" class="horizontalbar" />

        <div *ngFor="let item of doctorlist;let i=index">

            <div class="flex-row flex-center" (click)='doctor(item.id)'>
                <div>
                    <img src="{{uploadpath}}doctor/{{item.photo}}" class="icon-128" />
                    <div class="f12 txt-white beijin">有号</div>
                </div>
                <div class="flex-column margin-left-70">
                    <div class="flex-row flex-center margin-top">
                        <div style="color: #11838D;" class="f18 margin-top-40">{{item.name}}</div>
                        <div class="f12 txt-white margin-left-40 biaoqian margin-top-40">{{item.title}}</div>
                    </div>
                    <div class="f12 txt-black margin-top">{{item.hospital}}</div>
                    <div class="f12 txt-gw margin-top">{{item.summary}}</div>
                    <div class="flex-row flex-center margin-top">
                        <div class="f12 txt-gw">费用：</div>
                        <div class="f16 txt-bold" style="color: #DF4747;">￥{{item.price}}</div>
                    </div>
                </div>
            </div>

        </div>



    </div>










    <!-- <div style="background-color: #11838D" *ngIf="qiansantian.length!=0&&housantian.length!=0">
        <div class="card">
            <div class="flex-row flex-center">
                <span class="span1">{{fuwuleibie}}</span>
                <span class="span2">2019年9月</span>
                <span class="span8" (click)="clinic()">诊所介绍</span>
            </div>



            <div class="flex-row flex-center margin-top-40">
                <div class="flex-1"></div>
                <div class="rq  bb1">{{qiansantian[2].d4}}</div>
                <div class="flex-1"></div>
                <div class="rq  bb1 ">{{qiansantian[1].d4}}</div>
                <div class="flex-1"></div>
                <div class="rq  bb1 ">{{qiansantian[0].d4}}</div>
                <div class="flex-1"></div>
                <div class="rq   bb1 ">{{jintian.d4}}</div>
                <div class="flex-1"></div>
                <div class="rq  bb1 ">{{housantian[0].d4}}</div>
                <div class="flex-1"></div>
                <div class="rq  bb1 ">{{housantian[1].d4}}</div>
                <div class="flex-1"></div>
                <div class="rq  bb1 ">{{housantian[2].d4}}</div>
                <div class="flex-1"></div>
            </div>





            <div class="flex-row flex-center margin-top">
                <div class="flex-1"></div>
                <div (click)="clickdate(qiansantian[2]);jt=0" [class.jt]="jt==0" class="rq bb ">{{qiansantian[2].d3}}
                </div>
                <div class="flex-1"></div>
                <div (click)="clickdate(qiansantian[1]);jt=1" [class.jt]="jt==1" class="rq bb ">{{qiansantian[1].d3}}
                </div>
                <div class="flex-1"></div>
                <div (click)="clickdate(qiansantian[0]);jt=2" [class.jt]="jt==2" class="rq bb ">{{qiansantian[0].d3}}
                </div>
                <div class="flex-1"></div>
                <div (click)="clickdate(jintian);jt=3" [class.jt]="jt==3" class="rq bb  jt">{{jintian.d3}}</div>
                <div class="flex-1"></div>
                <div (click)="clickdate(housantian[0]);jt=4" [class.jt]="jt==4" class="rq bb ">{{housantian[0].d3}}
                </div>
                <div class="flex-1"></div>
                <div (click)="clickdate(housantian[1]);jt=5" [class.jt]="jt==5" class="rq bb ">{{housantian[1].d3}}
                </div>
                <div class="flex-1"></div>
                <div (click)="clickdate(housantian[2]);jt=6" [class.jt]="jt==6" class="rq bb ">{{housantian[2].d3}}
                </div>
                <div class="flex-1"></div>
            </div>
            <hr />
        </div>
    </div>
    <div>
        <p class="p2"></p>
        <p class="p3">预约医生</p>
        <ion-card *ngFor="let item of doctorlist;let i=index" class="flex-row flex-center">
            <div>
                <img src='{{uploadpath}}doctor/{{item.photo}}' style="border-radius: 50%" />
                <div class="span7">约满</div>
            </div>
            <div (click)="doctor(item.id)">
                <div class="p4">
                    <span class="xingMing">{{item.name}}</span>
                    <span class="zhiWei">{{item.title}}</span>
                </div>
                <ion-button color="primary" class="fee">费用：￥{{item.price}}</ion-button>
                <div class="address">中山大学第一附属医院</div>
                <div class="shanChang">{{item.description}}</div>
            </div>
        </ion-card>

    </div> -->
</ion-content>