@function rpx($px) {
    @return ($px * 100vw) / 750;
  }
.ion-icon{
    height:rpx(24*2);
    width:rpx(24*2)
  }
// .card{
//     background-color:white;
//     border-top-left-radius: rpx(37);
//     border-top-right-radius: rpx(37);
//     padding-top: rpx(37);
// }
.bg{
  width:100%;
  height:rpx(100);
  background-size: cover;
}
.span1{
    font-size: rpx(16*2);
    color:black;
    font-weight: bold;
    margin-left: rpx(30);
}
.span2{
    font-size:rpx(16*2);
    color:black;
    margin-left: rpx(160)
}
.span3{
    color:#aaaaaa;
    margin-left: rpx(38);
    font-size: rpx(28)
  }
.span4{
    color:#aaaaaa;
    margin-left: rpx(40*2);
    font-size: rpx(28)
  }
.span5{
    color:black;
    margin-left: rpx(38);
    font-size: rpx(28);
    width:rpx(60);
    height: rpx(60);
    border:solid #aaaaaa rpx(2);
    border-radius: 50%;
    padding:rpx(4)
  }
  .rq{
    text-align: center;
  }
  .bb{
  width:rpx(60);
  height: rpx(60);
  line-height: rpx(60);
  border:solid #aaaaaa rpx(2);
  border-radius: 50%;
  }
  .bb1{

    width:rpx(60);
    height: rpx(60);
    line-height: rpx(60);
    
  }
  .jt{
 background: #6B3689;
 color:white;
  }
.span6{
    color:black;
    font-size: rpx(28);
    width:rpx(20);
    height: rpx(20);
    border:solid #aaaaaa rpx(2);
    border-radius: 50%;
    padding:rpx(4)
  }
.p1{
    margin-bottom: rpx(50)
  }
hr{
    border: #aaaaaa solid rpx(0.01*2);
    background-color: #aaaaaa;
    opacity: 0.2;
  }
.p2{
    width:rpx(6);
    height:rpx(30);
    background-color: #6B3689;
    margin-top:rpx(36);
    margin-left:rpx(24);
    display: inline-block;
    margin-bottom:0
  }
.p3{
    font-size: rpx(16*2);
    font-weight:bold;
    color:black;
    display: inline-block;
    margin-left:rpx(10);
    margin-bottom: rpx(-35)
  }
  ion-card{
      height: rpx(123*2);
  }
  .div1{
    margin-top:rpx(-20)  
  }
  img{
    margin-left: rpx(35);
    margin-top:rpx(35);
    height: rpx(60*2);
    width: rpx(60*2);
  }
  .span7{
    color:white;
    background-color:#6B3689;
    margin-left: rpx(25*2);
    font-size: rpx(28);
    z-index: 1;
    width:rpx(100);
    height: rpx(40);
    border-radius: rpx(40);
    padding-left:rpx(16);
    padding-right: rpx(16);
    padding-bottom:rpx(4);
    padding-top:rpx(4)
  }
  .xingMing{
      font-size: rpx(16*2);
      color:black;
      font-weight: bold;
      margin-left: rpx(20);     
  }
  .zhiWei{
    font-size: rpx(12*2);
    color:#8A8A8A;
    margin-left:rpx(20) 
  }
  .fee{
      width: rpx(94*2);
      height: rpx(25*2);
      font-size:rpx(24);
      position: absolute;
      right:rpx(22);
      top:rpx(35)
  }
  .address{
      font-size:rpx(12*2);
      color:black;
      margin-left: rpx(20);
      margin-top:rpx(20)
  }
  .shanChang{
      font-size: rpx(24);
      color: #8A8A8A;
      margin-left: rpx(20);
      margin-top:rpx(20);
  }
  .p4{
    padding-top: rpx(6)
  }
  .span8{
    color:#6b3689;
    font-size: rpx(32);
    font-weight: bold;
    margin-left: rpx(150)
  }
  .icon-32{
    width:rpx(32);
    height: rpx(32);
  }
  .marginTop{
    margin-top:rpx(-32)
  }
  .card{
    background-color:white;    
    border-top-left-radius: rpx(37);
    border-top-right-radius: rpx(37);
    padding-top: rpx(30);
    margin-top:rpx(40)
    
  }
  .horizontalbar{
    display: block;
    margin-top:rpx(0);
    width:rpx(50*2);
    height:rpx(6);
    margin-left:rpx(30);
    // margin-bottom: rpx(-30);
  }
  .icon-10{
    width:rpx(40);
    height: rpx(40);
    
  }
  .marginTop1{
    margin-top:rpx(-42)
  }
  .marginTopLeft{
    margin-top:rpx(-38);
    margin-left:rpx(-16)
  }
  .icon-128{
    width:rpx(250);
    height: rpx(120*2);
    border-radius: rpx(10);
  }
  .beijin{
    position: relative;
    margin-left:rpx(35);
    margin-top:rpx(-60);
    width:rpx(60);
    z-index: 1111;
    background-color:#DF4747;
  }
  .biaoqian{
    background: #11838D;
    border-radius:20px;
    padding:rpx(4) rpx(8) rpx(4) rpx(8)
  }

  .border-1{
    border:#dee2e6 solid rpx(1);
  }
  .tabbody{
    background: white;
    // border:#dee2e6 solid 1px;
    border-radius: 0.25rem;
    border-top: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
  .mdate{
    height:rpx(80);
    // border-left: #dee2e6 solid 1px;
    // border-bottom: #dee2e6 solid 1px;
  }
  // .issat{
  //   border-right: #dee2e6 solid 1px;
  // }
  .xzrq{
    width: rpx(80);
    height: rpx(80);
    // line-height: rpx(80);
    // border-radius: 50%;
    background: #0F848D;
  }
  .pass{
    width: rpx(80);
    height: rpx(80);
    // line-height: rpx(80);
    // border-radius: 50%;
    background: #dee2e6;
  }
  .today{
    width: rpx(80);
    height: rpx(80);
    // line-height: rpx(80);
    // border-radius: 50%;
    background: red;
  }
  .yuanquan{
    width: rpx(80);
    height: rpx(80);
    // line-height: rpx(80);
    border:#dee2e6 solid rpx(1);
    border-radius: 50%;
  }
