<ion-header>
    <!-- <ion-toolbar color="primary">
        <ion-icon name="arrow-back" class="ion-icon" (click)="back()"></ion-icon>
        <ion-title>
          交易成功
        </ion-title>
      </ion-toolbar> -->
      <div [style.background-image]="'url('+uploadpath+'resource/'+res.headpicture+')'" class="bg" ></div>
</ion-header>

<ion-content>
  <div style="background: #0F848D ;position:fixed;width:100%" class="padding-top-40 height-110">
    <div class="flex-row flex-center margin-left-30">
        <div (click)="tab3()">
            <img src="{{uploadpath}}resource/{{res.leftarrow}}" class="icon-32" />
        </div>
        <div class="f12 txt-white margin-left-5" (click)="tab3()">返回首页</div>
        <div class="f16 txt-white margin-left-160">交易成功</div>
        <!-- <div class="f12 txt-white margin-left-160" (click)="orderComplete()">查看订单详情</div> -->
    </div>
  </div>
  <div style="background: #0F848D;width: 100%;" class="height-40" ></div>
    <div class="card">
      <div class="flex-row flex-column">
        <div class="margin-top-100">
          <img alt="" src="{{uploadpath}}resource/{{res.zhifuwanchen}}" class="icon-197"/>
        </div>
        <div class="f20 txt-bold txt-black margin-top">支付成功</div>
        <div class="h5 txt-gw margin-top-60">您已成功支付，支付金额为：</div>
        <div class="f28 txt-bold  margin-top" style="color: #F7555A">￥276.0</div>
        <!-- <div class="h5 txt-g margin-top-80 flex-row">
          <div class="flex-1"></div>
          <div (click)="tab1()">返回首页</div>
          <div class="margin-left-30 margin-right-30">|</div>
          <div (click)="orderComplete()">查看订单详情</div>
          <div class="flex-1"></div>
        </div> -->

      </div>
    </div>
  
</ion-content>
