<ion-header>
    <ion-toolbar color="primary">
        <ion-icon name="arrow-back" class="ion-icon" (click)="back()"></ion-icon>
        <ion-title>
          交易成功
        </ion-title>
      </ion-toolbar>
</ion-header>

<ion-content>
  <div style="background-color: #11838D">
    <div class="card">
      <div class="flex-row flex-column">
        <div class="margin-top-100">
          <img alt="" class="icon-197 bg-p"/>
        </div>
        <div class="f20 txt-bold txt-black margin-top">支付成功</div>
        <div class="h5 txt-gw margin-top-60">您已成功支付，支付金额为：</div>
        <div class="f28 txt-bold  margin-top" style="color: #F7555A">￥276.0</div>
        <div class="h5 txt-g margin-top-80">返回首页 丨 查看订单详情 </div>

      </div>
    </div>
  </div>
</ion-content>
