@function rpx($px) {
    @return ($px * 100vw) / 750;
  }
.ion-icon{
    height:rpx(24*2);
    width:rpx(24*2)
}
// .card{
//     background-color:white;    
//     border-top-left-radius: rpx(37);
//     border-top-right-radius: rpx(37);
//     padding-top: rpx(37);
// }
.bg{
  width:100%;
  height:rpx(100);
  background-size: cover;
}
.ion-icon1{
  width:rpx(35);
  height: rpx(35);
  position: relative;
  left:rpx(38);
  top:rpx(-56)
}
.card{
  background-color:white;    
  border-top-left-radius: rpx(37);
  border-top-right-radius: rpx(37);
  padding-top: rpx(30);
  margin-top:rpx(-40);
  margin-bottom: rpx(-80);
  
}
input{
  height: rpx(33*2);
  width:rpx(344*2);
  border-radius: rpx(40);
  font-size: rpx(13*2);
  margin-left: rpx(15*2);
  padding-left:rpx(55);
  background-color: #EBEBEB;
  border-style: none;
}

.height-240{
  height: rpx(240)
}

.height-40{
  height: rpx(40); 
  margin-top:rpx(240);
}
.ion-icon1{
  position: relative;
  left:rpx(-338*2);
  top:rpx(3*2)
}
.p1{
  font-weight: bold;
  font-size: rpx(32);
  color:#11838D;
 
}
.p2{
  width: rpx(90); 
  height: rpx(6);
  background-color: #11838D;
  margin-left: rpx(15);
  margin-top:rpx(-15)
}
.p3{
  font-size: rpx(28);
  color:black;

}
.div0{
  position: relative;
  top:rpx(55)
}
.div1{

  margin-left: rpx(54);
  margin-top:rpx(-35)
}
img{
  width: rpx(76*2);
  height: rpx(78*2);
  margin-left: rpx(22);
  margin-top:rpx(20);
  border-top-left-radius: rpx(20);
  border-top-right-radius: rpx(20)
}
.ion-card1{
  width: 28%;
  height: rpx(160*2);
  display: inline-block;
  margin-left: rpx(0);
  margin-top:rpx(-30)
}
.p4{
  font-size: rpx(28);
  font-weight: bold;
  color: black;
  margin-left: rpx(10);
  margin-top:rpx(20)
}
.p5{
  color: #F7555A;
  font-weight: bold;
  font-size: rpx(28);
  margin-left: rpx(10);
  margin-top:rpx(-23)
}
.div2{
  margin-left: rpx(40);
}
.div3{
  margin-left: rpx(24);
  margin-top:rpx(-70)
}
.img1{
  z-index: 1;
  width: rpx(100);
  height: rpx(100);
  position: fixed;
  bottom:rpx(100);
  right: rpx(50);
  border-radius: 50%;
  // background: #11838D ;
  // opacity: 0.7;

}
.margin-tl{
  text-decoration:line-through;
  color: #bfbfbf;
  margin-top:rpx(-20);
  margin-left: rpx(10)
}
.ion-card2{
  padding:rpx(0);
  margin-top: rpx(0)
}
.img2{
  width: rpx(120*2);
  height: rpx(98*2);
  border-radius: rpx(20);
  // margin-top:rpx(30)
}
.div4{
  margin-top: rpx(30);
  margin-left: rpx(30);
  width:rpx(181*2)
}

.line{
  overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

.img3{
  z-index: 1;
  width: rpx(100);
  height: rpx(100);
  position:fixed;
  bottom:rpx(100);
  right: rpx(50);
  border-radius: 50%;
  // background: #11838D ;
  // opacity: 0.7;
}
.div-340{
  width:rpx(340*2);
  height:rpx(166*2);
  border-radius:rpx(20);
  margin-left:rpx(35);
}
.marginLeft{
  margin-left: rpx(-30)
}
.margin-left-10{
  margin-left: rpx(10)
}
.img-340{
  width:rpx(340*2);
  height:rpx(166*2);
  border-radius:rpx(20);
  margin:0;
}

.marginTop{
  margin-top:rpx(2)
}

.slidelist{
  width:100vw;
  // height: rpx(100);
}

.f10 {
  font-size: rpx(20);
}


.marginRight{
  width: 20vw;
  margin-right: rpx(35)
}
.mt{
  margin-top:rpx(-28)
}



