<ion-header>
    <ion-toolbar color="primary">
        <ion-icon name="arrow-back" class="ion-icon"></ion-icon>
        <ion-title>
          健康商城
        </ion-title>
        <ion-icon name="close" slot="end" class="ion-icon"></ion-icon>
      </ion-toolbar>
</ion-header>

<ion-content>
    <div style="background-color: #11838D" class="padding-top-15">
        <div class="card">
          <input placeholder="搜索&nbsp;科室/药品" />
          <ion-icon name="search" style="color:#6B3689;" class="ion-icon1"></ion-icon>  


          <div id="carousel-example-generic" class="carousel slide margin-top-30 margin-left-40" data-ride="carousel">
              <div class="carousel-inner" role="listbox">
                <div class="item active div-340">
                  1
                </div>
                <div class="item div-340" >                  
                  2
                </div>
                <div class="item div-340">            
                  3
                </div>
              </div> 
              <ol class="carousel-indicators">
                  <li data-target="#carousel-example-generic" data-slide-to="0" class="active marginLeft"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="1" class="margin-left-10"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="2" class="margin-left-10"></li>
              </ol>        
            </div>




           
        <div class="flex-row  flex-center margin-top-30">
          <div class="div1" (click)="qiehuan=1">
            <p class="p1">常用药品</p>
            <p class="p2"></p>
          </div>
          <div class="div1" (click)="qiehuan=2">
            <p class="p3">滋补保健</p>
          </div>
          <div class="div1" (click)="qiehuan=3">
            <p class="p3">医疗器械</p>
          </div>
          <div class="div1" (click)="qiehuan=4">
            <p class="p3">医疗器械</p>
          </div>
         
        </div>
        
        <div class="div0" *ngIf="tab3==true&&qiehuan==1">
          <div class="div2 flex-row flex-center">
            <ion-card class="ion-card1">
              <img alt=""/>
              <p class="p4">小儿止咳糖浆</p>
              <p class="p5">￥ 68.0</p>
              <p class="f12 margin-tl">原价 ￥ 78.0</p>
            </ion-card>
            <ion-card class="ion-card1">
              <img alt=""/>
              <p class="p4">艾附暖宫丸</p>
              <p class="p5">￥ 68.0</p>
              <p class="f12 margin-tl">原价 ￥ 78.0</p>
            </ion-card>
            <ion-card class="ion-card1">
              <img alt=""/>
              <p class="p4">999感冒灵...</p>
              <p class="p5">￥ 68.0</p>
              <p class="f12 margin-tl">原价 ￥ 78.0</p>
            </ion-card>
          </div>
          <div class="div3 flex-row flex-center">
            <ion-card class="ion-card1">
              <img alt=""/>
              <p class="p4">维生素D</p>
              <p class="p5">￥ 68.0</p>
              <p class="f12 margin-tl">原价 ￥ 78.0</p>
            </ion-card>
            <ion-card class="ion-card1">
              <img alt=""/>
              <p class="p4">维生素D</p>
              <p class="p5">￥ 68.0</p>
              <p class="f12 margin-tl">原价 ￥ 78.0</p>
            </ion-card>
            <ion-card class="ion-card1">
              <img alt=""/>
              <p class="p4">钙镁片</p>
              <p class="p5">￥ 68.0</p>
              <p class="f12 margin-tl">原价 ￥ 78.0</p>
            </ion-card>
          </div>
          <div class="div3 flex-row flex-center">
            <ion-card class="ion-card1">
              <img alt=""/>
              <p class="p4">维生素D</p>
              <p class="p5">￥ 68.0</p>
              <p class="f12 margin-tl">原价 ￥ 78.0</p>
            </ion-card>
            <ion-card class="ion-card1">
              <img alt=""/>
              <p class="p4">维生素D</p>
              <p class="p5">￥ 68.0</p>
              <p class="f12 margin-tl">原价 ￥ 78.0</p>
            </ion-card>
            <ion-card class="ion-card1">
              <img alt=""/>
              <p class="p4">钙镁片</p>
              <p class="p5">￥ 68.0</p>
              <p class="f12 margin-tl">原价 ￥ 78.0</p>
            </ion-card>
          </div>
          <img alt="" class="img1" (click)="list=true;tab3=false"/> 
         
        </div>



        <div *ngIf="list==true&&qiehuan==1">
            <ion-card class="ion-card2" (click)="CommodityDetails()">
              <div class="flex-row flex-center">
                <div>
                  <img alt="" class="img2"/>
                </div>
                <div class="div4">
                  <p class="h5 txt-black txt-bold margin-left-30">999感冒灵颗粒</p>
                  <p class="f12 txt-gw margin-left-30">上臂式智能加压全自动量血压器 家用高精准老人血压测量仪器医用测压仪器</p>
                  <p class="margin-left-30">
                    <span style="color:#F7555A" class="h5 txt-bold">￥ 68.0</span>
                    <span style="text-decoration:line-through;color: #BFBFBF;" class="margin-left-30 f12">原价 ￥ 78.0</span>
                  </p>
                </div>
              
              </div>
            </ion-card>
            <ion-card class="ion-card2">
                <div class="flex-row flex-center">
                  <div>
                    <img alt="" class="img2"/>
                  </div>
                  <div class="div4">
                    <p class="h5 txt-black txt-bold margin-left-30">艾附暖宫丸</p>
                    <p class="f12 txt-gw margin-left-30">上臂式智能加压全自动量血压器 家用高精准老人血压测量仪器医用测压仪器</p>
                    <p class="margin-left-30">
                        <span style="color:#F7555A" class="txt-bold h5">￥ 368.0</span>
                        <span style="text-decoration:line-through;color: #BFBFBF;" class="margin-left-30 f12">原价 ￥ 78.0</span>
                    </p>
                  </div>
                </div>
              </ion-card>
              <ion-card class="ion-card2">
                  <div class="flex-row flex-center">
                    <div>
                      <img alt="" class="img2"/>
                    </div>
                    <div class="div4">
                      <p class="h5 txt-black txt-bold margin-left-30">欧姆龙HEM-7209</p>
                      <p class="f12 txt-gw margin-left-30">上臂式智能加压全自动量血压器 家用高精准老人血压测量仪器医用测压仪器</p>
                      <p class="margin-left-30">
                          <span style="color:#F7555A" class="txt-bold h5">￥ 368.0</span>
                          <span style="text-decoration:line-through;color: #BFBFBF;" class="margin-left-30 f12">原价 ￥ 78.0</span>
                      </p>
                    </div>
                   
                  </div>
                </ion-card>
                <img alt="" class="img3" (click)="tab3=true;list=false"/>
          </div>


          <div *ngIf="qiehuan==2"></div>
          <div *ngIf="qiehuan==3"></div>
          <div *ngIf="qiehuan==4"></div>
          


























        
        </div>
    </div>
</ion-content>
