<ion-header>
    <ion-toolbar color="primary">
        <ion-icon name="arrow-back" class="ion-icon" (click)='back()'></ion-icon>
        <ion-title>
          健康商城
        </ion-title>
        <ion-icon name="close" slot="end" class="ion-icon"></ion-icon>
      </ion-toolbar>
</ion-header>

<ion-content>
    <div style="background-color: #11838D" class="padding-top-15">
        <div class="card">
          <input placeholder="搜索&nbsp;科室/药品" (click)="search()"/>
          <ion-icon name="search" style="color:#6B3689;" class="ion-icon1"></ion-icon>  


            <ion-slides loop="true" autoplay="3000" #hhh auto-play="true" class="div-340">
              <ion-slide  *ngFor="let lb of lunbo;let i=index;">
                <div class="flex-wrap">
                  <img src="{{uploadpath}}marketlunbo/{{lb.photo}}" class="img-340" />    
                </div>
              </ion-slide>
            </ion-slides>


            <div class="  margin-top-30 margin-left-40 slidelist scroll-x" >
       
              <div class="flex-row flex-center"  [ngStyle]="{'width.px': drugstype.length*95*rad }">
              <div *ngFor="let ds of drugstype;let i=index;" (click)="qiehuan=(i+1)" class="marginRight">
                 <div [class.p1]="qiehuan==(i+1)">{{ds.name}}</div>
                <div class="marginTop" [class.p2]="qiehuan==(i+1)"></div> 

               
              </div>
            </div>
            </div>



           
      
        
        <div class="div0" *ngIf="tab3==true&&qiehuan==1">
          <div class="div2">
            <ion-card class="ion-card1" *ngFor="let i of drugs" (click)="CommodityDetails(i.id)">
              <img alt="" src="{{uploadpath}}drugs/{{i.photo}}"/>
              <p class="p4 oneline">{{i.name}}</p>
              <p class="p5">￥ {{i.price}}</p>
              <p class="f12 margin-tl">原价 ￥ {{i.onprice}}</p>
            </ion-card>
          </div>
          <img alt="" class="img1" (click)="list=true;tab3=false" src="{{uploadpath}}resource/{{res.list}}"/> 
         
        </div>



        <div *ngIf="list==true&&qiehuan==1" class="margin-top-30">
            <ion-card class="ion-card2" *ngFor="let i of drugs;let a=index" (click)="CommodityDetails(i.id)">
              <div class="flex-row flex-center">
                <div>
                  <img alt="" class="img2" src="{{uploadpath}}drugs/{{i.photo}}"/>
                </div>
                <div class="div4">
                  <p class="h5 txt-black txt-bold margin-left-30">{{i.name}}</p>
                  <p class="f12 txt-gw margin-left-30">{{i.introduce}}</p>
                  <p class="margin-left-30">
                    <span style="color:#F7555A" class="h5 txt-bold">￥ {{i.price}}</span>
                    <span style="text-decoration:line-through;color: #BFBFBF;" class="margin-left-30 f12">原价 ￥ {{i.onprice}}</span>
                  </p>
                </div>
              
              </div>
            </ion-card>
            
                <img alt="" class="img3" (click)="tab3=true;list=false" src="{{uploadpath}}resource/{{res.list2}}" />
          </div>


          <div *ngIf="qiehuan==2">2</div>
          <div *ngIf="qiehuan==3">3</div>
          <div *ngIf="qiehuan==4">4</div>
          


























        
        </div>
    </div>
</ion-content>
