@function rpx($px) {
    @return ($px * 100vw) / 750;
  }
.ion-icon{
    height:rpx(24*2);
    width:rpx(24*2)
}
.card{
    background-color:white;    
    border-top-left-radius: rpx(37);
    border-top-right-radius: rpx(37);
    padding-top: rpx(37);
}
.ion-card{
  margin-top: rpx(20);
  height:rpx(166*2);
}
input{
  height: rpx(33*2);
  width:rpx(344*2);
  text-align: center;
  border-radius: rpx(40);
  font-size: rpx(13*2);
  margin-left: rpx(15*2);
  background-color: #EBEBEB;
  border-style: none;
  margin-bottom: rpx(30)
}
.ion-icon1{
  position: relative;
  left:rpx(-338*2);
  top:rpx(3*2)
}
.p1{
  font-weight: bold;
  font-size: rpx(32);
  color:#6b3689;
 
}
.p2{
  width: rpx(90);
  height: rpx(6);
  background-color: #6b3689;
  margin-left: rpx(15);
  margin-top:rpx(-15)
}
.p3{
  font-size: rpx(28);
  color:black;

}
.div0{
  position: relative;
  top:rpx(55)
}
.div1{

  margin-left: rpx(54);
  margin-top:rpx(-35)
}
img{
  width: rpx(76*2);
  height: rpx(78*2);
  margin-left: rpx(22);
  margin-top:rpx(20);
  border-top-left-radius: rpx(20);
  border-top-right-radius: rpx(20)
}
.ion-card1{
  width: 28%;
  height: rpx(160*2);
  display: inline-block;
  margin-left: rpx(0);
  margin-top:rpx(-30)
}
.p4{
  font-size: rpx(28);
  font-weight: bold;
  color: black;
  margin-left: rpx(10);
  margin-top:rpx(20)
}
.p5{
  color: #F7555A;
  font-weight: bold;
  font-size: rpx(28);
  margin-left: rpx(10);
  margin-top:rpx(-23)
}
.div2{
  margin-left: rpx(40);
}
.div3{
  margin-left: rpx(24);
  margin-top:rpx(-70)
}
.img1{
  width: rpx(120);
  height: rpx(120);
  position:absolute;
  top:rpx(750);
  right: rpx(50);
  border-radius: 50%;
  background: linear-gradient(to bottom, #6b3689 0%,#11838D 100%);

}
.margin-tl{
  text-decoration:line-through;
  color: #bfbfbf;
  margin-top:rpx(-30);
  margin-left: rpx(10)
}
.ion-card2{
  height: rpx(130*2);
  margin-top: rpx(0)
}
.img2{
  width: rpx(120*2);
  height: rpx(98*2);
  border-radius: rpx(20);
}
.div4{
  margin-top: rpx(35);
  margin-left: rpx(30)
}

.img3{
  width: rpx(120);
  height: rpx(120);
  position:absolute;
  top:rpx(1370);
  right: rpx(50);
  border-radius: 50%;
  background: linear-gradient(to bottom, #6b3689 0%,#11838D 100%);
}
.div-340{
  width:rpx(340*2);
  height:rpx(166*2);
  border-radius:rpx(20);
  margin-left:rpx(35);
}
.marginLeft{
  margin-left: rpx(-30)
}
.margin-left-10{
  margin-left: rpx(10)
}
.img-340{
  width:rpx(340*2);
  height:rpx(166*2);
  border-radius:rpx(20);
  margin:0;
}

.marginTop{
  margin-top:rpx(2)
}