<ion-header>
    <!-- <ion-toolbar color="primary">
        <ion-icon name="arrow-back" class="ion-icon" (click)='back()'></ion-icon>
        <ion-title>
          健康商城
        </ion-title>
        <ion-icon name="close" slot="end" class="ion-icon"></ion-icon>
      </ion-toolbar> -->
      <div [style.background-image]="'url('+uploadpath+'resource/'+res.headpicture+')'" class="bg" ></div>

</ion-header>

<ion-content>
  <div style="background: radial-gradient(#268B73,#0F848D) ;position:fixed;z-index: 2;" class="padding-top-40 height-240">
    <div (click)="search()">
      <input  (blur)="scrollToTop()"  placeholder="搜索科室/药品名称"/>
      <img src="{{uploadpath}}resource/{{res.sousuo}}" class="ion-icon1"/>
    </div>
    <div class="txt-white f18 text-center margin-top-10">健康商城</div>
  </div>
  <div style="background: #0F848D;width: 100%;" class="height-40"></div>
        <div class="card">
           


            <ion-slides loop="true" autoplay="3000" #hhh auto-play="true" class="div-340">
              <ion-slide  *ngFor="let lb of lunbo;let i=index;">
                <div class="flex-wrap">
                  <img src="{{uploadpath}}marketlunbo/{{lb.photo}}" (click)='openGallary([uploadpath+"marketlunbo/"+lb.photo])' class="img-340" />    
                </div>
              </ion-slide>
            </ion-slides>


            <div class="  margin-top-30 margin-left-40 slidelist scroll-x" >
       
              <div class="flex-row flex-center"  [ngStyle]="{'width.px': drugstype.length*100*rad }">
              <div *ngFor="let ds of drugstype;let i=index;" (click)="qiehuan=(i+1);getdrugs(ds.id)" class="marginRight">
                 <div [class.p1]="qiehuan==(i+1)">{{ds.name}}</div>
                <div class="marginTop" [class.p2]="qiehuan==(i+1)"></div> 

               
              </div>
            </div>
            </div>



           
      
        
        <div class="div0" *ngIf="tab3==true">
          <div class="div2" >
            <ion-card class="ion-card1" *ngFor="let i of drugs" (click)="CommodityDetails(i.id)">
              <img alt="" src="{{uploadpath}}drugs/{{i.photo}}"/>
              <p class="p4 oneline">{{i.name}}</p>
              <p class="p5">￥ {{i.price}}</p>
              <p class="f10 margin-tl">原价 ￥ {{i.onprice}}</p>
            </ion-card>
          </div>
          <div *ngIf='drugs.length==0' class="margin-left-40 mt">暂无此类别的药品。</div>
          <img alt="" class="img1" (click)="list=true;tab3=false" src="{{uploadpath}}resource/{{res.list}}"/> 
         
        </div>



        <div *ngIf="list==true" class="margin-top-30">
            <div >
              <ion-card class="ion-card2" *ngFor="let i of drugs;let a=index" (click)="CommodityDetails(i.id)">
                <div class="flex-row flex-center">
                  <div>
                    <img alt="" class="img2" src="{{uploadpath}}drugs/{{i.photo1}}"/>
                  </div>
                  <div class="div4">
                    <p class="h5 txt-black txt-bold oneline">{{i.name}}</p>
                    <p class="f12 txt-gw  line">{{i.introduce}}</p>
                    <p>
                      <span style="color:#F7555A" class="h5 txt-bold">￥ {{i.price}}</span>
                      <span style="text-decoration:line-through;color: #BFBFBF;" class="margin-left-30 f10">原价 ￥ {{i.onprice}}</span>
                    </p>
                  </div>
                
                </div>
              </ion-card>
            </div>
            <div *ngIf='drugs.length==0' class="margin-left-40">暂无此类别的药品。</div>
            
                <img alt="" class="img3" (click)="tab3=true;list=false" src="{{uploadpath}}resource/{{res.list2}}" />
          </div>


       
    
        
        </div>
    
</ion-content>
