<ion-header>
    <ion-toolbar color="primary">
        <ion-icon name="arrow-back" class="ion-icon" (click)="back()"></ion-icon>
        <ion-title>
         
        </ion-title>
        <ion-icon name="close" slot="end" class="ion-icon"></ion-icon>
      </ion-toolbar>
</ion-header>

<ion-content>
  <div style="background-color: #11838D" class="padding-top-15">
      <div class="card">
        <div class="div1">  
          <img/>
        </div>
        <div class="div1">
            <p>
                <span class="name">张XX</span>
                <span class="zhiWei">主任医师</span>
              </p>
              <p class="address">中山大学第一附属医院</p>
        </div>
        <div style="clear: both"></div>
        <hr/>
      <div>
        <p class="p1">专业擅长</p>
        <p class="p2">支持多行文字，文字内容后台编辑。支持多行文字，文字内容后台编辑。支持多行文字，文字内容后台编辑。支持多行文字，文字内容后台编辑。</p>
        <p style="clear: both"></p>
        <hr/>
      </div>
      </div>
  </div>
  <div class="div2">
    <span class="span1">预约诊所</span>
    <span class="span2">港和医疗白云分部</span>
  </div>
  <hr/>
  <div>
    <p class="p3">2019年8月</p>
    <hr/>
    <p>
        <span class="span3">日</span>  
        <span class="span4">一</span>
        <span class="span4">二</span>
        <span class="span4">三</span> 
        <span class="span4">四</span>
        <span class="span4">五</span>
        <span class="span4">六</span>
     </p> 
     <p class="p4">
        <span class="span5">1</span>  
        <span class="span6">2</span>
        <span class="span6">3</span>
        <span class="span6">4</span> 
        <span class="span6">5</span>
        <span class="span6">6</span> 
        <span class="span6">7</span> 
     </p>  
     <hr/>
  </div>
  <div>
  <div class="div3">
    <p class="p5" style="color:#6b3689;border-color:#6b3689;background-color: #eed1ff">预约上午</p>
    <p class="p5">预约下午</p>
    <p style="clear:both"></p>
  </div>
  <table class="table1">
    <tr>
      <td>
        <span class="span7">08:00</span>
        <span class="span8">至08:30</span>
      </td>
      <td>
        <span class="span7">08:30</span>
        <span class="span8">至09:00</span>
      </td>
      <td>
        <span class="span7">09:00</span>
        <span class="span8">至09:30</span>
      </td>
    </tr>
    <tr>
        <td>
          <span class="span7">09:30</span>
          <span class="span8">至10:00</span>
        </td>
        <td>
          <span class="span7">10:00</span>
          <span class="span8">至10:30</span>
        </td>
        <td>
          <span class="span7">10:30</span>
          <span class="span8">至11:00</span>
        </td>
      </tr>
      <tr>
          <td>
            <span class="span7">11:00</span>
            <span class="span8">至11:30</span>
          </td>
          <td (click)="appointment()">
            <span class="span7">11:30</span>
            <span class="span8">至12:00</span>
          </td>
      </tr>
  </table>
  </div>
</ion-content>
