@function rpx($px) {
    @return ($px * 100vw) / 750;
  }
.ion-icon{
    height:rpx(18*2);
    width:rpx(18*2);
    margin-top:rpx(27)
}
.card{
  background-color:white;    
  border-top-left-radius: rpx(37);
  border-top-right-radius: rpx(37);
  padding-top: rpx(30);
  margin-top:rpx(-40)
  
}
.height-110{
  height: rpx(110);
}
.height-40{
  height: rpx(40);
  margin-top:rpx(110);
}
.height-180 {
  margin-top:rpx(-60);
  height: rpx(180*2);
  background-size: cover;
  background-repeat: no-repeat;
}
.margin-top-50{
  margin-top:rpx(50*2)
}

.padding-top-50{
  padding-top:rpx(50*2)
}
.icon-32{
  width:rpx(28);
  height: rpx(28);
  margin-top:rpx(30)
}
.bg{
  width:100%;
  height:rpx(100);
  background-size: cover;
}
  .marginTop{
    margin-top:rpx(-32)
  }
  .marginTop1{
    margin-top:rpx(-10)
  }
  .dibu{
    width:rpx(175*2);
    height:rpx(70);
    line-height: rpx(70);
    text-align: center;
    border-top: rpx(2) #11838D solid;
    border-bottom: rpx(2) #11838D solid;
    border-left: rpx(2) #11838D solid;
    border-top-left-radius: rpx(10);
    border-bottom-left-radius: rpx(10);
  }
  .bc{
    background-color: #11838D;
  }
  .c{
    color:#11838D;
  }
  .dibu1{
    width:rpx(175*2);
    height:rpx(70);
    line-height: rpx(70);
    text-align: center;
    border-top: rpx(2) #11838D solid;
    border-bottom: rpx(2) #11838D solid;
    border-right: rpx(2) #11838D solid;
    border-top-right-radius: rpx(10);
    border-bottom-right-radius: rpx(10);
  }
  .kuangao{
    width: rpx(330);
    height: rpx(90);
    line-height: rpx(90);
    text-align: center;
    margin:0;
    border:2px solid lightgray;
  }





  hr{
    border: #aaaaaa solid rpx(0.01*2);
    background-color: #aaaaaa;
    opacity: 0.2;
  }
  .rq{
    text-align: center;
  }
  .bb{
  width:rpx(60);
  height: rpx(60);
  line-height: rpx(60);
  border:solid #aaaaaa rpx(2);
  border-radius: 50%;
  }
  .bb1{

    width:rpx(60);
    height: rpx(60);
    line-height: rpx(60);
    
  }
  .biaoqian{
    background: #11838D;
    width:rpx(70*2);
    border-radius:20px;
    padding:rpx(4) rpx(8) rpx(4) rpx(12)
  }
  .jt{
 background: #6B3689;
 color:white;
  }
  .horizontalbar{
    display: block;
    margin-top:rpx(5);
    width:rpx(50*2);
    height:rpx(6);
    margin-left:rpx(30);
    // margin-bottom: rpx(-30);
  }
  img{
      height: rpx(120);
      width: rpx(120);
      margin-left: rpx(30);
      margin-top: rpx(20)
  }
  .name{
      font-size: rpx(32);
      color:black;
      font-weight: bold;
      margin-left: rpx(30);
      margin-top: rpx(-30)
  }
  .zhiWei{
    font-size: rpx(24);
    color:black;
    margin-left: rpx(10);
  }
  .address{
    font-size: rpx(24);
    color:black;
    margin-left: rpx(30)
  }
  
  .p1{
      font-size: rpx(24);
      color:#8a8a8a;
      margin-left: rpx(30)
  }
  .p2{
    font-size: rpx(24);
    color:#8a8a8a;
    width:rpx(284*2);
    margin-left: rpx(20)
  }
  .div2{
      margin-top:rpx(40);
      margin-bottom:rpx(40)
  }
  .span1{
      font-size: rpx(32);
      color: black;
      margin-left: rpx(30);
  }
  .span2{
    font-size: rpx(32);
    color: black;
    margin-left: rpx(300)
  }
  .p3{
    font-size: rpx(16*2);
    color:black;
    text-align: center;
  
  }
  .span3{
    color:#aaaaaa;
    margin-left: rpx(38);
    font-size: rpx(28)
  }
  .span4{
    color:#aaaaaa;
    margin-left: rpx(40*2);
    font-size: rpx(28)
  }
  .p4{
    margin-bottom: rpx(40)
  }
  .span5{
    color:black;
    margin-left: rpx(38);
    font-size: rpx(28);
    width:rpx(60);
    height: rpx(60);
    border:solid #aaaaaa rpx(2);
    border-radius: 50%;
    padding:rpx(4)
  }
  .span6{
    color:black;
    margin-left: rpx(40*2);
    font-size: rpx(28);
    width:rpx(60);
    height: rpx(60);
    border:solid #aaaaaa rpx(2);
    border-radius: 50%;
    padding:rpx(4)
  }
  .div3{
      margin-left:rpx(70) 
  }
  .p5{
      width:rpx(150*2);
      height: rpx(90);
      color:black;
      font-weight: bold;
      font-size: rpx(32);
      text-align: center;
      float: left;
      line-height:rpx(90);
      border:#d2d2d2 solid rpx(4);
  }
  .table1{
    border:#d2d2d2 solid rpx(4);
    color:#6b3689;
    text-align: center;
    vertical-align: middle;
    margin-left:rpx(40);
    margin-top:rpx(40)
  }
  .cxc
  {
    color:#6b3689;border-color:#6b3689;background-color: #eed1ff

  }
  .kx{
    background: #8a8a8a;
  }
.span7{
    font-size: rpx(32);
    display: block;
}
.span8{
    font-size: rpx(24);
    display: block;
}
td{
    border:#d2d2d2 solid rpx(4);
    width: rpx(220);
    height: rpx(120);
}


.border-1{
  border:#dee2e6 solid rpx(1);
}
.tabbody{
  background: white;
  // border:#dee2e6 solid 1px;
  border-radius: 0.25rem;
  border-top: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.mdate{
  height:rpx(80);
  // border-left: #dee2e6 solid 1px;
  // border-bottom: #dee2e6 solid 1px;
}
// .issat{
//   border-right: #dee2e6 solid 1px;
// }
.xzrq{
  width: rpx(80);
  height: rpx(80);
  color:white;
  // line-height: rpx(80);
  // border-radius: 50%;
  background: #0F848D;
}
.pass{
  width: rpx(80);
  height: rpx(80);
  // line-height: rpx(80);
  // border-radius: 50%;
  color:#8a8a8a;
  background: #dee2e6;
}
.today{
  width: rpx(80);
  height: rpx(80);
  color:black;
  // line-height: rpx(80);
  // border-radius: 50%;
  background: red;
}
.yuanquan{
  width: rpx(80);
  height: rpx(80);
  // line-height: rpx(80);
  border:#dee2e6 solid rpx(1);
  border-radius: 50%;
}