@function rpx($px) {
    @return ($px * 100vw) / 750;
  }
.card{
    background-color:white;    
    border-top-left-radius: rpx(37);
    border-top-right-radius: rpx(37);
    padding-top: rpx(37);
}

.icon-200{
    width: rpx(400);
    height: rpx(400);
}

.margin-top-300{
    margin-top: rpx(300);
}

.icon-26{
    width: rpx(26*2);
    height: rpx(6);
}