<ion-header>
    <ion-toolbar color="primary">
        <ion-icon name="arrow-back" class="ion-icon" (click)="back()"></ion-icon>
        <ion-title>
          活动详情         
        </ion-title>
        <ion-icon name="close" slot="end" class="ion-icon"></ion-icon>
      </ion-toolbar>
</ion-header>

<ion-content>
  <div style="background-color: #11838D" class="padding-top-15">
    <div class="card">
      <ion-card class="ion-card">
      <img src='' />
      </ion-card>
      <div class="p1">第二届医疗健康知识讲座肿瘤篇</div>
      <div class="p2">
          活动时间
      </div>
      <div class="p3"></div>
      <div class="p4">2019年8月27日（周四） 09：00</div>
      <hr/>
      <div class="p2">
          活动地点
      </div>
      <div class="p3"></div>
      <div class="p4">广东省广州市白云区白云五路1111号港和大厦</div>
      <hr/>
      <div class="p2">
          活动简介
      </div>
      <div class="p3"></div>
      <div class="p4 p5">   
          港和医疗白云分部始建于2016年，医院拥有内容后台管理员可自行编辑，
          内容后台管理员可自行编辑，内容后台管理员可自行编辑，内容后台管理员可自行编辑，
          内容后台管理员可自行编辑，内容后台管理员可自行编辑，内容后台管理员可自行编辑，
          内容后台管理员可自行编辑，内容后台管理员可自行编辑，内容后台管理员可自行编辑。</div>
      <hr/>
      <div class="p2">
          报名须知
      </div>
      <div class="p3"></div>
      <div class="p4">本次报名人数限制：200人</div>
      <div class="p4">内容后台管理员可自行编辑，内容后台管理员可自行编辑。
        内容后台管理员可自行编辑，内容后台管理员可自行编辑。
        内容后台管理员可自行编辑，内容后台管理员可自行编辑。内容后台管理员可自行编辑，内容后台管理员可自行编辑。</div>
      <div class="height-90"></div>


    </div>
  </div>
</ion-content>
<div class="div1 flex-row flex-center">
    <div class="p6">费用：￥188</div>
    <div class="p7">已报名</div>
</div>


