<ion-header>
    <!-- <ion-toolbar color="primary">
        <ion-icon name="arrow-back" class="ion-icon" (click)="back()"></ion-icon>
        <ion-title>
          搜索
        </ion-title>
      </ion-toolbar> -->
      <div [style.background-image]="'url('+uploadpath+'resource/'+res.headpicture+')'" class="bg" ></div>
  </ion-header>
  
  <ion-content>
      <div style="background: #0F848D ;position:fixed;width:100%" class="padding-top-40 height-110">
          <div class="flex-row flex-center margin-left-30">
              <div (click)="back()">
                  <img src="{{uploadpath}}resource/{{res.leftarrow}}" class="icon-32" />
              </div>
              <div class="f12 txt-white margin-left-5" (click)="back()">上一步</div>
              <div class="f16 txt-white margin-left-160">搜索</div>
          </div>
      </div>
      <div style="background: #0F848D;width: 100%;" class="height-40" ></div>
          <div class="card">
              <div class="flex-row flex-center">
                <div>
                    <input placeholder="搜索科室/药品名称"/>
                    <img src="{{uploadpath}}resource/{{res.sousuo}}" class="ion-icon1"/>
                </div>
                <div class="cancel">取消</div>
              </div>
              <div class="flex-center flex-row margin-top-40">
                  <div class="p1">搜索历史</div>
                  <ion-icon name="trash" class="ion-icon2"></ion-icon>
              </div>
              <div></div>
              <!-- <p>
                  <span class="span1">内科</span>
                  <span class="span2">艾附暖宫丸</span>
                  <span class="span2">妇科</span>
                  <span class="span2">男科</span>               
                </p>
                <p>
                    <span class="span1">布诺芬</span>
                    <span class="span2">999感冒灵颗粒</span>
                    <span class="span2">产科</span>
                    <span class="span2">体检</span>
                  </p>
                  <p>
                    <span class="span1">氨麻苯美片</span>
                  </p> -->
                  <hr/>
                  <div class="f13 margin-left-30">搜索结果</div>
                  <ion-card class="flex-row flex-center height-260 marginTop">
      
   
                      <div>
                        <img alt="" class="icon-120 bg-p margin-left-30" />
                      </div>
                      <div class="margin-left-20">
                        <div class="h5 txt-black txt-bold">艾附暖宫丸</div>
                        <div class="f12 txt-gw margin-top-20 width-181">上臂式智能加压全自动量血压器 家用高精准老人血压测量仪器医用测压仪器</div>
                      
                        <div class="h5 txt-bold margin-top-20" style="color: #F7555A">￥ 368.0</div>
     
                      </div>  
                    </ion-card>
          </div>
      
  </ion-content>
  