<ion-header>
    <ion-toolbar color="primary">
        <ion-icon name="arrow-back" class="ion-icon" (click)="back()"></ion-icon>
        <ion-title>
          搜索
        </ion-title>
      </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <div style="background-color: #11838D" class="padding-top-15">
          <div class="card">
              <input placeholder="艾附暖宫丸" />
              <ion-icon name="search" style="color:#6B3689;" class="ion-icon1"></ion-icon>
              <span class="cancel">取消</span>
              <p class="p1">搜索历史</p>
              <ion-icon name="trash" class="ion-icon2"></ion-icon>
              <p>
                  <span class="span1">内科</span>
                  <span class="span2">艾附暖宫丸</span>
                  <span class="span2">妇科</span>
                  <span class="span2">男科</span>               
                </p>
                <p>
                    <span class="span1">布诺芬</span>
                    <span class="span2">999感冒灵颗粒</span>
                    <span class="span2">产科</span>
                    <span class="span2">体检</span>
                  </p>
                  <p>
                    <span class="span1">氨麻苯美片</span>
                  </p>
                  <hr/>
                  <div class="f13 margin-left-30">搜索结果</div>
                  <ion-card class="flex-row flex-center height-260 marginTop">
      
   
                      <div>
                        <img alt="" class="icon-120 bg-p margin-left-30" />
                      </div>
                      <div class="margin-left-20">
                        <div class="h5 txt-black txt-bold">艾附暖宫丸</div>
                        <div class="f12 txt-gw margin-top-20 width-181">上臂式智能加压全自动量血压器 家用高精准老人血压测量仪器医用测压仪器</div>
                      
                        <div class="h5 txt-bold margin-top-20" style="color: #F7555A">￥ 368.0</div>
     
                      </div>  
                    </ion-card>
          </div>
      </div>
  </ion-content>
  