<ion-header>
    <ion-toolbar color="primary">
        <ion-icon name="arrow-back" class="icon-24" (click)="back()"></ion-icon>
        <ion-title>
          我的地址
        </ion-title>
        <ion-icon name="close" slot="end" class="icon-24"></ion-icon>
      </ion-toolbar>
</ion-header>

<ion-content>
  <div style="background-color: #11838D" class="padding-top-15">
    <div class="card">
      <div >
        <div class="flex-row margin-left-30">
          <div style="color: #B9B9B9" class="f16 flex-1">收货人</div>
          <input class="f16 margin-right-30" [value]='people' (change)='people=$event.target.value' placeholder="请输入收货人"/>
        </div>
        <div class="border-bw margin-top-30"></div>
        <div class="flex-row margin-left-30 margin-top-30">
          <div style="color: #B9B9B9" class="f16 flex-1">手机号码</div>
          <input class="f16 margin-right-30" [value]='phone' (change)='phone=$event.target.value' placeholder="请输入手机号码" />
        </div>
        <div class="border-bw margin-top-30"></div>
        <div class="flex-row margin-left-30 margin-top-30">
            <div style="color: #B9B9B9" class="f16 flex-1">地址</div>
            <input class="f16 margin-right-30" [value]='dizhi' (change)='dizhi=$event.target.value' placeholder="请输入地址" />
          </div>
          <div class="border-bw margin-top-30"></div>
          <div class="flex-row margin-left-30 margin-top-30">
              <div style="color: #B9B9B9" class="f16 flex-1">门牌号</div>
              <input class="f16 margin-right-30" [value]='menpaihao' (change)='menpaihao=$event.target.value' placeholder="请输入门牌号" />
            </div>
            <div class="border-bw margin-top-30"></div>
            <div class="flex-row margin-left-30 margin-top-30">
                <div style="color: #B9B9B9" class="f16">设置为默认地址</div>
                <div class="margin-left-500 icon-24">
                  <img alt="" src="{{uploadpath}}resource/{{res.dagou}}"/>
                </div>
              </div>
              <div class="border-bw margin-top-30"></div>
              <div style="position: absolute;bottom:0" class="flex-row">
                <div style="background-color: #B9B9B9" (click)="delete()" class="txt-white d1 text-center">删除</div>
                <div class="txt-white bg-p d1 text-center" (click)="address()">保存</div>
              </div>
      </div>



      








            











    </div>
  </div>

</ion-content>
