<ion-header>
    <ion-toolbar color="primary">
        <ion-icon name="arrow-back" class="icon-24" (click)="back()"></ion-icon>
        <ion-title>
          我的地址
        </ion-title>
        <ion-icon name="close" slot="end" class="icon-24"></ion-icon>
      </ion-toolbar>
</ion-header>

<ion-content>
  <div style="background-color: #11838D">
    <div class="card">
      <div class="flex-row margin-left-30">
        <div style="color: #B9B9B9" class="f16">收货人</div>
        <div class="f16 margin-left-540">刘大大</div>
      </div>
      <div class="border-bw margin-top-30"></div>
      <div class="flex-row margin-left-30 margin-top-30">
        <div style="color: #B9B9B9" class="f16">手机号码</div>
        <div class="f16 margin-left-400">13838384388</div>
      </div>
      <div class="border-bw margin-top-30"></div>
      <div class="flex-row margin-left-30 margin-top-30">
          <div style="color: #B9B9B9" class="f16">地址</div>
          <div class="f16 margin-left-260">深圳市罗湖区东门中路2110号</div>
        </div>
        <div class="border-bw margin-top-30"></div>
        <div class="flex-row margin-left-30 margin-top-30">
            <div style="color: #B9B9B9" class="f16">门牌号</div>
            <div class="f16 margin-left-360">东方大厦11楼1111</div>
          </div>
          <div class="border-bw margin-top-30"></div>
          <div class="flex-row margin-left-30 margin-top-30">
              <div style="color: #B9B9B9" class="f16">设置为默认地址</div>
              <div class="f16 margin-left-500 txt-white bg-p icon-24 radius-50 text-center">√</div>
            </div>
            <div class="border-bw margin-top-30"></div>
            <div style="position: absolute;bottom:0" class="flex-row">
              <div style="background-color: #B9B9B9" class="txt-white d1 text-center">删除</div>
              <div class="txt-white bg-p d1 text-center" (click)="preservedAddress()">保存</div>
            </div>











    </div>
  </div>

</ion-content>
