@function rpx($px) {
    @return ($px * 100vw) / 750;
  }
  .card{
    background-color:white;    
    border-top-left-radius: rpx(37);
    border-top-right-radius: rpx(37);
    padding-top: rpx(30);
    margin-top:rpx(-40)
    
  }
.height-110{
    height: rpx(110);
  }
  .height-40{
    height: rpx(40);
    margin-top:rpx(110);
  }

.icon-32{
    width:rpx(28);
    height: rpx(28);}
.d1{
  width:rpx(187.5*2);
  height: rpx(48*2);
  line-height: rpx(48*2);
}
.bg-p{
  background-color: #0F848D;  
  
}
.img1{
  z-index: 1;
  width: rpx(100);
  height: rpx(100);
  position: fixed;
  bottom:rpx(100);
  right: rpx(50);
  border-radius: 50%;
  background:#11838D;
}

.hl{
  height: rpx(48*2);
  line-height: rpx(48*2)
}

.bg{
  width:100%;
  height:rpx(100);
  background-size: cover;
}
input{
  text-align: right;
  outline: none;
  border:none
}