@function rpx($px) {
    @return ($px * 100vw) / 750;
  }
.card{
    background-color:white;    
    border-top-left-radius: rpx(37);
    border-top-right-radius: rpx(37);
    padding-top: rpx(37);
}
.d1{
  width:rpx(187.5*2);
  height: rpx(48*2);
  line-height: rpx(48*2);
}