<ion-header>
  <!-- <ion-toolbar color="primary">
        <ion-icon name="arrow-back" class="icon-24" (click)="back()"></ion-icon>
        <ion-title>
          我的地址
        </ion-title>
        <ion-icon name="close" slot="end" class="icon-24"></ion-icon>
      </ion-toolbar> -->
  <div [style.background-image]="'url('+uploadpath+'resource/'+res.headpicture+')'" class="bg"></div>
  <div style="background: #0F848D ;width:100%" class="padding-top-40 height-110">
    <div class="flex-row flex-center margin-left-30">
      <div (click)="back()">
        <img src="{{uploadpath}}resource/{{res.leftarrow}}" class="icon-32" />
      </div>
      <div class="f12 txt-white margin-left-5" (click)="back()">上一步</div>
      <div class="f16 txt-white margin-left-200">我的地址</div>
    </div>
  </div>
</ion-header>

<ion-content>
  <div style="background: #0F848D;width: 100%;" class="height-40"></div>
  <div class="card">
    <div>
      <div class="flex-row margin-left-30">
        <div style="color: #B9B9B9" class="f16 flex-1">收货人</div>
        <input  (blur)="scrollToTop()" class="f16 margin-right-30" [(ngModel)]='address.people'
          placeholder="请输入收货人" />
      </div>
      <div class="border-bw margin-top-30"></div>
      <div class="flex-row margin-left-30 margin-top-30">
        <div style="color: #B9B9B9" class="f16 flex-1">手机号码</div>
        <input  (blur)="scrollToTop()" class="f16 margin-right-30" [(ngModel)]='address.phone'  placeholder="请输入手机号码"
          maxlength="11" />
      </div>
      <div class="border-bw margin-top-30"></div>
      <div class="flex-row margin-left-30 margin-top-30">
        <div style="color: #B9B9B9" class="f16 flex-1">地址</div>
        <input  (blur)="scrollToTop()" class="f16 margin-right-30" [(ngModel)]='address.dizhi'  placeholder="请输入地址" />
      </div>
      <div class="border-bw margin-top-30"></div>
      <div class="flex-row margin-left-30 margin-top-30">
        <div style="color: #B9B9B9" class="f16 flex-1">门牌号</div>
        <input  (blur)="scrollToTop()" class="f16 margin-right-30" [(ngModel)]='address.menpaihao' placeholder="请输入门牌号" />
      </div>
      <div class="border-bw margin-top-30"></div>
      <div class="flex-row margin-left-30 margin-top-30 flex-center">
        <div style="color: #B9B9B9" class="f16">设置为默认地址</div>
        <ion-toggle color="primary"  [checked]='address.isdefault=="Y"' (ionChange)="toggleFun($event)" class="margin-left-400">
        </ion-toggle>
        <!-- <div class="margin-left-500 icon-24">
                  <img alt="" src="{{uploadpath}}resource/{{res.dagou}}"/>
                </div> -->
      </div>
      <div class="border-bw margin-top-30"></div>
      <div style="position: fixed;bottom:0;width:100vw;;" class="flex-row ">
        <div style="background-color: #B9B9B9" class="txt-white hl flex-1 text-center" (click)="shanchu()" *ngIf="address.primary_id>0">删除</div>
        <div class="txt-white bg-p flex-1 hl text-center" (click)="saveaddress()" >保存</div>
      </div>
    </div>



  </div>
  <img alt="" class="img1"  src="{{uploadpath}}resource/{{res.souye}}" (click)='fanhui()' />

</ion-content>