@function px($px) {
  @return ($px * 100vw) / 414;
}

.codeinput {
  font-size: px(40);
  text-align: center;
  width: px(50);
  border: 0px;
  border-bottom: gray px(2) solid;
}

.height-28 {
  height: px(28)
}

.h24 {
  font-size: px(24);
}

.tx {
  width: px(88);
  height: px(88);
  border-radius: px(20);
}

.height-36 {
  height: px(26);
}

.padding-bottom-10 {
  padding-bottom: px(10);
}

.border-bottom {
  border-bottom: px(1) solid #D6D7D9 {}
}

.h60 {
  height: px(60);
}

.height-48 {
  height: px(48);
}

.ion-color-mycolor {
  --ion-color-base: #11838D;
  --ion-color-base-rgb: 255, 96, 13;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #11838D;
  --ion-color-tint: #11838D;
}

.opa80{
  opacity: 0.8;
}

.margin-right-11{
  margin-right: px(11);
}
.opa5{
  opacity: 0.5;
}