<ion-header>
  <ion-toolbar color="primary">
      <ion-icon name="arrow-back" class="ion-icon" (click)="back()"></ion-icon>
      <ion-title>
        搜索
      </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div style="background-color: #11838D" class="padding-top-15">
        <div class="card">
            <input placeholder="搜索&nbsp;科室/药品" (click)="searchDrugs()"/>
            <ion-icon name="search" style="color:#6B3689;" class="ion-icon1"></ion-icon>
            <span class="cancel">取消</span>
            <p class="p1">搜索历史</p>
            <ion-icon name="trash" class="ion-icon2"></ion-icon>
            <p>
                <span class="span1">内科</span>
                <span class="span2">艾附暖宫丸</span>
                <span class="span2">妇科</span>
                <span class="span2">男科</span>               
              </p>
              <p>
                  <span class="span1">布诺芬</span>
                  <span class="span2">999感冒灵颗粒</span>
                  <span class="span2">产科</span>
                  <span class="span2">体检</span>
                </p>
                <p>
                  <span class="span1">氨麻苯美片</span>
                </p>
        </div>
    </div>
</ion-content>
