<ion-header>
  <!-- <ion-toolbar color="primary">
      <ion-icon name="arrow-back" class="ion-icon" (click)="back()"></ion-icon>
      <ion-title>
        搜索
      </ion-title>
    </ion-toolbar> -->
    <div [style.background-image]="'url('+uploadpath+'resource/'+res.headpicture+')'" class="bg" ></div>
</ion-header>

<ion-content>
    <div style="background: #0F848D ;position:fixed;width:100%" class="padding-top-40 height-110">
        <div class="flex-row flex-center margin-left-30">
            <div class="marginTop" (click)="back()">
                <img src="{{uploadpath}}resource/{{res.leftarrow}}" class="icon-32" />
            </div>
            <div class="f12 txt-white margin-left-5" (click)="back()">上一步</div>
            <div  class="f16 txt-white margin-left-200">搜索</div>
        </div>
    </div>
    <div style="background: #0F848D;width: 100%;" class="height-40" ></div>
        <div class="card">
            <div class="flex-row flex-center">
              <div >
                  <input  [(ngModel)]='name'   (blur)="scrollToTop()"  placeholder="搜索药品名称"/>
                  <img src="{{uploadpath}}resource/{{res.sousuo}}" class="ion-icon1"/>
              </div>
              <div (click)="sousuo()" class="cancel">确定</div>
            </div>
            <div class="flex-row flex-center margin-top-40">
              <div class="p1">搜索历史</div>
              <ion-icon name="trash"  (click)="qinkon()" class="ion-icon2"></ion-icon>
            </div>
            <div></div>
              <div class="flex-row flex-center flex-wrap">

          <div  (click)="guanjianzisousuo(item.name)"   *ngFor="let item of biaoqian;let a=index"  class="span1">{{item.name}}</div>
             
              </div>
                
                   
            
          
        </div>

        <div >

            <div class="p1 margin-top-20">搜索结果</div>

          <ion-card class="ion-card2 margin-top-20" *ngFor="let i of drugs;let a=index" (click)="CommodityDetails(i.id)">
            <div class="flex-row flex-center">
              <div>
                <img alt="" class="img2" src="{{uploadpath}}drugs/{{i.photo1}}"/>
              </div>
              <div class="div4">
                <p class="h5 txt-black txt-bold oneline">{{i.name}}</p>
                <p class="f12 txt-gw  line">{{i.introduce}}</p>
                <p>
                  <span style="color:#F7555A" class="h5 txt-bold">￥ {{i.price}}</span>
                  <span style="text-decoration:line-through;color: #BFBFBF;" class="margin-left-30 f10">原价 ￥ {{i.onprice}}</span>
                </p>
              </div>
            
            </div>
          </ion-card>
        </div>
    
</ion-content>
