@function px($px) {
    @return ($px * 100vw ) / 414;
  }
  
  .codeinput {
      font-size: px(40);
      text-align: center;
      width: px(50);
      border:0px;
      border-bottom: gray px(2) solid;
    }
    .fillc {
      border-bottom: #6badff px(2) solid;
    }
    .height-28{
      height:px(28)
    }
    .padding{
      padding-left: px(42);
      padding-right: px(42);
    }
    .height-60{
      height: px(60);
    }
    .btn{
      font-size:px(16);
      height: px(48);
    }
    .h5{
      font-size: px(18);
    }
    .icon-13{
      height: px(18);
      width: px(18);
    }
    .margin-left-10{
      margin-left: px(10)
    }
    .opa{
      opacity: 0.5;
    }
  