@function rpx($px) {
  @return ($px * 100vw) / 750;
}


  
.icon-32{
  width:rpx(28);
  height: rpx(28);
  margin-top:rpx(30)
}

.marginTop{
  margin-top:rpx(-32)
}

.card{
  background-color:white;    
  border-top-left-radius: rpx(37);
  border-top-right-radius: rpx(37);
  padding-top: rpx(30);
  margin-top:rpx(-40)
  
}
.height-110{
  height: rpx(110);
}
.height-40{
  height: rpx(40);
}

.bg{
width:100%;
height:rpx(100);
background-size: cover;
}
  .codeinput {
      font-size: rpx(80);
      text-align: center;
      width: rpx(100);
      border:0px;
      border-bottom: gray rpx(4) solid;
    }
    .fillc {
      border-bottom: #6badff rpx(4) solid;
    }
    .height-28{
      height:rpx(56)
    }
    .padding{
      padding-left: rpx(42*2);
      padding-right: rpx(42*2);
    }
    .height-60{
      height: rpx(120);
    }
    .btn{
      font-size:rpx(16*2);
      height: rpx(48*2);
    }
    .h5{
      font-size: rpx(18*2);
    }
    .icon-13{
      height: rpx(18*2);
      width: rpx(18*2);
    }
    .margin-left-10{
      margin-left: rpx(10*2)
    }
    .opa{
      opacity: 0.5;
    }
  