@function rpx($px) {
    @return ($px * 100vw) / 750;
  }
.ion-icon{
    height:rpx(24*2);
    width:rpx(24*2)
}
.card{
    background-color:white;    
    border-top-left-radius: rpx(37);
    border-top-right-radius: rpx(37);
    padding-top: rpx(37);
}

.bg{
    width:100%;
    height:rpx(100);
    background-size: cover;
  }

.margin-top-100{
    margin-top:rpx(100);
}

.width-250 {
    width: rpx(500)
}
.card{
    background-color:white;    
    border-top-left-radius: rpx(37);
    border-top-right-radius: rpx(37);
    padding-top: rpx(30);
    margin-top:rpx(-40)
    
  }
.height-110{
    height: rpx(110);
  }
  .height-40{
    height: rpx(40);
    margin-top:rpx(110);
  }

.icon-32{
    width:rpx(28);
    height: rpx(28);}