<ion-header>
    <ion-toolbar color="primary">
        <ion-icon name="arrow-back" class="ion-icon" (click)="back()"></ion-icon>
        <ion-title>
          报名成功
        </ion-title>
      </ion-toolbar>
</ion-header>

<ion-content>
  <div style="background-color: #11838D">
    <div class="card">
      <div class="flex-row flex-column">
        <div class="margin-top-100">
          <img alt="" class="icon-150 bg-p"/>
        </div>
        <div class="f20 txt-bold txt-black margin-top">报名成功</div>
        <div class="h5 txt-gw margin-top-60">您已报名成功，请准时前往</div>
        <div class="h5 txt-gw margin-top-20">活动当天请至少提前30分钟到达现场</div>
      </div>

      <div class="margin-left-80 margin-top-80">
        <div class="flex-row flex-center">
          <div class="h5 txt-black">报名人：</div>
          <div class="h5 txt-black margin-left-80">张三</div>
        </div>
        <div class="flex-row flex-center margin-top-40">
          <div class="h5 txt-black">活动时间：</div>
          <div class="h5 txt-black margin-left-50">2019/8/27（周四）09：00</div>
        </div>
        <div class="flex-row flex-center margin-top-40">
          <div class="h5 txt-black">活动地点：</div>
          <div class="h5 txt-black width-250 margin-left-50">广东省广州市白云区白云五路1111号港和大厦</div>
        </div>
        <div class="flex-row flex-center margin-top-40">
          <div class="h5 txt-black">手机号码：</div>
          <div class="h5 txt-black margin-left-50">13838384388</div>
        </div>
      </div>



      
      <div class="flex-row" style="justify-content: center">
        <div class="h5 txt-g margin-top-80">返回首页 丨 查看订单详情 </div>
      </div>


    </div>
  </div>
</ion-content>
