<ion-header>
  <!-- <ion-toolbar color="primary">
        <ion-icon name="arrow-back" class="ion-icon" (click)="back()"></ion-icon>
        <ion-title>
          健康商城
        </ion-title>
        <ion-icon name="close" slot="end" class="ion-icon"></ion-icon>
      </ion-toolbar> -->
  <div [style.background-image]="'url('+uploadpath+'resource/'+res.headpicture+')'" class="bg"></div>
</ion-header>

<ion-content>
  <div style="background: #0F848D ;position:fixed;width:100%;z-index: 1;" class="padding-top-40 height-110">
    <div class="flex-row flex-center margin-left-30">
      <div class="marginTop" (click)="back()">
        <img src="{{uploadpath}}resource/{{res.leftarrow}}" class="icon-32" />
      </div>
      <div class="f12 txt-white margin-left-5" (click)="back()">上一步</div>
      <div class="f16 txt-white margin-left-200">健康商城</div>
    </div>
  </div>
  <div style="background: #0F848D;width: 100%;" class="height-40"></div>
  <div class="card">
    <img alt="" class="ion-card" src="{{uploadpath}}drugs/{{drugsinfo.photo}}" />
    <ion-card class="ion-card1">
      <p class="p1">￥ {{drugsinfo.price}}<span style="text-decoration:line-through;color: #BFBFBF;"
          class="margin-left-30 f12">原价 ￥{{drugsinfo.onprice}}</span></p>
      <p class="p2">{{drugsinfo.name}}</p>
      <p class="p3">{{drugsinfo.introduce}}</p>
      <p class="p4">
        商品详情
      </p>
      <p class="p5"></p>
      <div class="flex-row">
        <div class="h6 txt-gray margin-left-30">【药品名称】</div>
        <div class="h6 flex-1 txt-black">{{drugsinfo.name}}</div>
      </div>
      <div class="flex-row margin-top-10">
        <div class=" h6 txt-gray margin-left-30">【成分】</div>
        <div class="h6 flex-1 txt-black">{{drugsinfo.component}}</div>
      </div>
      <div class="flex-row margin-top-10">
        <div class=" h6 txt-gray margin-left-30">【药理作用】</div>
        <div class="h6 flex-1 txt-black">{{drugsinfo.pharmacology}}</div>
      </div>
    </ion-card>
    <ion-card class="ion-card2">
      <p class="p4">
        用户评价
      </p>
      <p class="p5"></p>

      <div *ngFor="let item of pinlun">
      <div class="flex-row margin-top-60 flex-center">
        <div class="icon-40 margin-left-30">
          <img alt="" src="{{uploadpath}}resource/{{res.photo}}" class="radius-50" />
        </div>
        <div class="margin-left-20 f16 txt-black">{{item.member_id_name}}</div>
      </div>
      <div class="f12 margin-left-30 margin-top" style="color: #8a8a8a">{{item.pr_date_dateformat}}</div>
      <div class="f12 txt-black margin-left-30 margin-top">{{item.content}}
      </div>
    </div>


   
    </ion-card>

  </div>

  <div class="d1"></div>
</ion-content>
<div class="flex-row" style="position: fixed;bottom:0">
  <div class="d1" style="background-color: #F0F2F5">
    <div class="icon-30 margin-left-30 margin-top-10">
      <img src='{{uploadpath}}resource/{{res.gouwuche}}' />
    </div>
    <div class="f12 txt-black margin-left-20" (click)="cart()">购物车</div>
  </div>
  <div class="d2 txt-black text-center" (click)="addcart()" style="background-color: #8a8a8a">加入购物车</div>
  <div class="d2 txt-white text-center" (click)="order()" style="background-color:#0E858D">立即购买</div>

</div>