@function rpx($px) {
    @return ($px * 100vw) / 750;
  }
.ion-icon{
    height:rpx(24*2);
    width:rpx(24*2)
}
.card{
    background-color:white;    
    border-top-left-radius: rpx(37);
    border-top-right-radius: rpx(37);
    padding-top: rpx(30);
    margin-top:rpx(-40)
    
  }
  .red{
  position: fixed;
  width: rpx(40);
  height: rpx(40);
  line-height: rpx(40);
  left:rpx(70);
  border-radius: 50%;
  background: red;
  text-align: center;
  color:white;
z-index: 999;

  }
  .bc{
    background:   #268B73;
  }
.height-110{
    height: rpx(110);
  }
  .height-40{
    height: rpx(40);
    margin-top:rpx(110);
  }

.icon-32{
    width:rpx(28);
    height: rpx(28);}
.ion-card{
//   margin-top: rpx(0);
  width: rpx(340*2);
  height:rpx(212*2);
  margin-left: rpx(35);
  border-radius: rpx(20)
}
.bg{
    width:100%;
    height:rpx(100);
    background-size: cover;
  }
.ion-card1{
  padding-top: rpx(20);
  // padding-bottom: rpx(20);
  
}
.ion-card2{
    padding-top: rpx(20);
    padding-bottom: rpx(20);
}
.p1{
    color:#F7555A;
    font-size: rpx(36);
    font-weight: bold;
    margin-left:rpx(30);
}
.p2{
    color:black;
    font-size: rpx(32);
    font-weight: bold;
    margin-left:rpx(30);
    margin-top:rpx(-10)
}
.p3{
    color:#8A8A8A;
    font-size: rpx(24);
    margin-left:rpx(30);
    width: rpx(320*2);
    margin-top:rpx(-10)
}
.p4{
    font-size: rpx(32);
    font-weight: bold;
    color: black;
    margin-left:rpx(30);
}
.p5{
    width: rpx(64*2);
    height: rpx(30);
    margin-left:rpx(30);
    margin-top: rpx(-50);
    border-radius: rpx(10);
    background-color: #0F848D;
}
.d1{
    width:rpx(55.5*2);
    height: rpx(100);
}
.d2{
    width:rpx(160*2);
    height: rpx(100);
    line-height: rpx(100)
}
.horizontalbar{
  display: block;
  margin-top:rpx(-18);
  width:rpx(50*2);
  height:rpx(6);
  margin-left:rpx(30);
  // margin-bottom: rpx(-30);
}