<ion-header>
    <ion-toolbar color="primary">
        <ion-icon name="arrow-back" class="ion-icon" (click)="back()"></ion-icon>
        <ion-title>
          健康商城
        </ion-title>
        <ion-icon name="close" slot="end" class="ion-icon"></ion-icon>
      </ion-toolbar>
</ion-header>

<ion-content>
  <div style="background-color: #11838D" class="padding-top-15">
    <div class="card">
      <img alt="" class="ion-card" src="{{uploadpath}}drugs/{{drugsinfo.photo}}"/>
      <ion-card class="ion-card1">
        <p class="p1">￥ {{drugsinfo.price}}<span style="text-decoration:line-through;color: #BFBFBF;" class="margin-left-30 f12">原价 ￥{{drugsinfo.onprice}}</span></p>
        <p class="p2">{{drugsinfo.name}}</p>
        <p class="p3">{{drugsinfo.introduce}}</p>
        <p class="p4">
            商品详情
        </p>
        <p class="p5"></p>
        <div class="flex-row">
          <div class="h6 txt-gray margin-left-30">【药品名称】</div>
          <div class="h6 flex-1 txt-black">{{drugsinfo.name}}</div>
        </div>
        <div class="flex-row margin-top-10">
          <div class=" h6 txt-gray margin-left-30">【成分】</div>
          <div class="h6 flex-1 txt-black">{{drugsinfo.component}}</div>
        </div>
        <div class="flex-row margin-top-10">
          <div class=" h6 txt-gray margin-left-30">【药理作用】</div>
          <div class="h6 flex-1 txt-black">{{drugsinfo.pharmacology}}</div>
        </div>
      </ion-card>
      <ion-card class="ion-card2">
        <p class="p4">
            用户评价
        </p>
        <p class="p5"></p>
        <div class="flex-row margin-top-60 flex-center">
          <div class="icon-40 margin-left-30">
            <img alt="" src="{{uploadpath}}resource/{{res.photo}}" class="radius-50" />
          </div>
          <div class="margin-left-20 f16 txt-black">陈XX</div>
        </div>
        <div class="f12 margin-left-30 margin-top" style="color: #8a8a8a">2019/09/08</div>
        <div class="f12 txt-black margin-left-30 margin-top">本品为复方制剂,每粒含盐酸伪麻黄碱90毫克,马来酸氯苯那敏4毫克。撒旦法阿萨德暗室逢灯阿发阿斯顿发阿萨德发送到阿萨德</div>
        <div class="flex-row margin-top-60 flex-center">
            <div class="icon-40 margin-left-30">
              <img alt="" src="{{uploadpath}}resource/{{res.photo2}}" class="radius-50" />
            </div>
            <div class="margin-left-20 f16 txt-black">小了白了兔</div>
          </div>
          <div class="f12 margin-left-30 margin-top" style="color: #8a8a8a">2019/09/08</div>
          <div class="f12 txt-black margin-left-30 margin-top">本品为复方制剂,每粒含盐酸伪麻黄碱90毫克,马来酸氯苯那敏4毫克。撒旦法阿萨德暗室逢灯阿发阿斯顿发阿萨德发送到阿萨德</div>
      </ion-card>
    
    </div>
  </div>
  <div class="d1"></div>
</ion-content>
<div class="flex-row" style="position: fixed;bottom:0">
    <div class="d1" style="background-color: #F0F2F5">
      <div class="icon-30 bg-primary margin-left-30 margin-top-10"></div>
      <div class="f12 txt-black margin-left-20" (click)="cart()">购物车</div>
    </div>
    <div class="d2 txt-white text-center" (click)="addcart()" style="background-color:#0E858D">加入购物车</div>
    <div class="d2 txt-white bg-p text-center" (click)="order()">立即购买</div>
   
  </div>
