<ion-header>
    <!-- <ion-toolbar color="primary">
        <ion-icon name="arrow-back" class="ion-icon" (click)="back()"></ion-icon>
        <ion-title>
          活动详情         
        </ion-title>
        <ion-icon name="close" slot="end" class="ion-icon"></ion-icon>
      </ion-toolbar> -->
    <div [style.background-image]="'url('+uploadpath+'resource/'+res.headpicture+')'" class="bg" ></div>
    <div style="background: #0F848D ; width:100%;" class="padding-top-40 height-110">
        <div class="" style="text-align:center">
            <div class="f16 txt-white">活动详情</div>
        </div>
        <div class="flex-row flex-center margin-left-30 mt" >
            <div class="mtt" (click)="back()">
                <img src="{{uploadpath}}resource/{{res.leftarrow}}" class="icon-32" />
            </div>
            <div class="f12 txt-white margin-left-5" (click)="back()">上一步</div>
        </div>
    </div>
</ion-header>

<ion-content>

    <div style="background: #0F848D;width: 100%;" class="height-40" ></div>
    <div class="card">
      <ion-card class="ion-card" style="background-size: cover;"
      [style.background-image]="'url('+uploadpath+'activity/'+activity.activitycover+')'">
   
      </ion-card>
      <div class="p1">{{activity.activityname}}</div>
      <div class="p2">
          活动时间
      </div>
      <img src="{{uploadpath}}resource/{{res.horizontalbar}}" class="horizontalbar" />
      <div class="p4">{{activity.activitytime}}</div>
      <hr/>
      <div class="p2">
          活动地点
      </div>
      <img src="{{uploadpath}}resource/{{res.horizontalbar}}" class="horizontalbar" />
      <div class="p4">{{activity.activitysite}}</div>
      <hr/>
      <div class="p2">
          活动简介
      </div>
      <img src="{{uploadpath}}resource/{{res.horizontalbar}}" class="horizontalbar" />
      <div [innerHtml]="activity.activitybrief" class="p4 p5">   
        </div>
      <hr/>
      <div class="p2">
          报名须知
      </div>
      <img src="{{uploadpath}}resource/{{res.horizontalbar}}" class="horizontalbar" />
      <div class="p4">本次报名人数限制：{{activity.xianzhi}}人</div>
      <div   [innerHtml]="activity.appnotes" class="p4"></div>
      <div class="height-100"></div>


    </div>
  
</ion-content>
<div  *ngIf="activity.price>=0">
<div class="div1 flex-row flex-center" *ngIf="show==true">
    <div class="p6">{{activity.price==0?'免费':'￥'+activity.price+'.00'}}</div>
    <div class="p7" (click)="application(activity.id)">我要报名</div>
</div>
<div class="div1 flex-row flex-center" *ngIf="show==false">
    <div class="p6">{{activity.price==0?'免费':'￥'+activity.price+'.00'}}</div>
    <div class="p7">报名已过期</div>
</div>
</div>


