<ion-header>
    <ion-toolbar color="primary">
        <ion-icon name="arrow-back" class="ion-icon" (click)="back()"></ion-icon>
        <ion-title>
          活动详情         
        </ion-title>
        <ion-icon name="close" slot="end" class="ion-icon"></ion-icon>
      </ion-toolbar>
</ion-header>

<ion-content>
  <div style="background-color: #11838D" class="padding-top-15">
    <div class="card">
      <ion-card style="
      background-image: url(https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=743289129,1076801085&fm=26&gp=0.jpg);"
      class="ion-card"
      >
      </ion-card>
      <p class="p1">第二届医疗健康知识讲座肿瘤篇</p>
      <p class="p2">
          活动时间
      </p>
      <p class="p3"></p>
      <p class="p4">2019年8月27日 09：00</p>
      <hr/>
      <p class="p2">
          活动地点
      </p>
      <p class="p3"></p>
      <p class="p4">广东省广州市白云区白云五路1111号港和大厦</p>
      <hr/>
      <p class="p2">
          活动简介
      </p>
      <p class="p3"></p>
      <p class="p4 p5">   
        港和医疗白云分部始建于2016年，医院拥有内容后台管理员可自行编辑，内容后台管理员可自行编辑，内容后台管理员可自行编辑，内容后台管理员可自行编辑，内容后台管理员可自行编辑，
        内容后台管理员可自行编辑，内容后台管理员可自行编辑，内容后台管理员可自行编辑，内容后台管理员可自行编辑，内容后台管理员可自行编辑。</p>
      <hr/>
      <p class="p2">
          报名须知
      </p>
      <p class="p3"></p>
      <p class="p4">本次报名人数限制：200人</p>
      <p class="p4">内容后台管理员可自行编辑，内容后台管理员可自行编辑。内容后台管理员可自行编辑，内容后台管理员可自行编辑。内容后台管理员可自行编辑，内容后台管理员可自行编辑。
        内容后台管理员可自行编辑，内容后台管理员可自行编辑。</p>
      <div class="div1">
        <p class="p6">免费</p>
        <p class="p7" (click)="application()">我要报名</p>
      </div>
    </div>
  </div>
</ion-content>
