<ion-header>
    <ion-toolbar color="primary">
        <ion-icon name="arrow-back" class="ion-icon" (click)="back()"></ion-icon>
        <ion-title>
          购物车
        </ion-title>
      </ion-toolbar>
</ion-header>

<ion-content>
  <div style="background-color: #11838D" class="padding-top-15">
    <div class="card flex-row flex-column">
        <div class="bg-primary icon-150" style="margin-top:50%"></div>
        <div class="h5 txt-gw margin-top-60" >购物车空空如也</div>
        <div class="h5 txt-gw margin-top">您可以点击下方立即购买</div>       
        <div class="txt-white f16 bg-p radius-20 d1 margin-top-80">去逛逛</div>
    </div>
  </div>
  
</ion-content>
