@function rpx($px) {
    @return ($px * 100vw) / 750;
  }
.card{   
    border-top-left-radius: rpx(37);
    border-top-right-radius: rpx(37);
    padding-top: rpx(37);
}
.height-81{
  height: rpx(81*2);
}

hr{
  border: #aaaaaa solid rpx(0.01*2);
  background-color: #aaaaaa;
  opacity: 0.2;
}