<div class="container-fluid mt-5">

  <h1 class="h3 mb-4 text-gray-800">日程管理</h1>
  <div>
    <tabset [justified]="true">
      <tab heading="月">

        <div class="tabbody padding-20 ">
          <div class=" primary-block  text-white ">
            <div class="flex-row flex-center ">
              <div class="h3 padding-20" (click)="addMonth(-1)">
                <i class="fa fa-angle-left"></i>
              </div>
              <div class="flex-1 text-center">{{myear}}年{{mmonth}}月</div>
              <div class="h3 padding-20" (click)="addMonth(1)">
                <i class="fa fa-angle-right "></i>
              </div>
            </div>
          </div>
          <div class="flex-row  primary-block  text-white">
            <div class="flex-1 h6 txt-bold padding-20">星期天</div>
            <div class="flex-1 h6 txt-bold padding-20">星期一</div>
            <div class="flex-1 h6 txt-bold padding-20">星期二</div>
            <div class="flex-1 h6 txt-bold padding-20 ">星期三</div>
            <div class="flex-1 h6 txt-bold  padding-20">星期四</div>
            <div class="flex-1 h6 txt-bold padding-20">星期五</div>
            <div class="flex-1 h6 txt-bold padding-20">星期六</div>
          </div>
          <div class="flex-row " *ngFor="let w of mcal">
            <div class="flex-1" *ngFor="let d of w;let i=index;">
              <div class="mdate padding-20" [class.issat]="i==6" [class.pass]='d.pass==true' [class.today]='d.today==true'>
                <div class=" ">{{d.today?"今天":d.d}}</div>
              </div>
            </div>
          </div>
        </div>

      </tab>
      <tab heading="周" [active]="true">
          <div class="tabbody padding-20 ">
              <div class=" primary-block  text-white ">
                  <div class="flex-row flex-center ">
                    <div class="h3 padding-20" (click)="addWeek(-1)">
                      <i class="fa fa-angle-left"></i>
                    </div>
                    <div class="flex-1 text-center">{{myear}}年{{mmonth}}月</div>
                    <div class="h3 padding-20" (click)="addWeek(1)">
                      <i class="fa fa-angle-right "></i>
                    </div>
                  </div>
                </div>
                <div class="flex-row  " >
                    <div class="flex-1">
                      <div class=" primary-block text-white padding-20">时间</div>
                      <div *ngFor="let t of wtimeline;">
                        <div  class="wtime pass" [class.under]='t.minute==30' >{{t.hour}}:{{t.minute}}</div>
                      </div>
                    </div>
                    <div class="flex-1" *ngFor="let d of wcal;let i=index;">
                      <div class="" [class.issat]="i==6" [class.today]='d.today==true'>
                        <div class=" primary-block text-white  padding-20">{{d.today?"今天":d.d}}</div>
                        <div class="" *ngFor="let t of d.timeline;">
                          <div class="wtime"  [class.under]='t.minute==30'  [class.today]='d.today==true' [class.tpass]='t.pass==true' ></div>
                        </div>
                      </div>
                    </div>
                </div>
          </div>
      </tab>
    </tabset>
  </div>


</div>
