@function rpx($px) {
    @return ($px * 100vw) / 750;
  }
.ion-icon{
    height:rpx(24*2);
    width:rpx(24*2)
}
.bg{
  width:100%;
  height:rpx(100);
  background-size: cover;
}
.txt-g {
  color:#11838D;
}
.card{
    background-color:white;    
    border-top-left-radius: rpx(37);
    border-top-right-radius: rpx(37);
    padding-top: rpx(37);
    text-align: center;
    margin-top:rpx(-40)
  }

.height-110{
    height: rpx(110);
  }
  .height-40{
    height: rpx(40);
    margin-top:rpx(110);
  }
.icon-32{
    width:rpx(28);
    height: rpx(28);
  }
  .span1{
    font-weight:bold;
  }
  .p1{
    width:rpx(90);
    height:rpx(6);
    background-color: #11838D;
    margin-top: rpx(0);
    margin-left:rpx(252)
  }
  .ion-card-header{
    height: rpx(163*2);
    background-size: cover
  }
  ion-card-content{
    height: rpx(96*2);
    padding-top:rpx(10)
  }
  .p2{
    font-weight: bold;
    color:black;
    font-size:rpx(16*2);
    margin-left: rpx(-15);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .p3{
    margin-top:rpx(20);
    margin-left:rpx(-20)
  }
  .span2{
    color:#aaaaaa;
    margin-left:rpx(10);
    font-size:rpx(24);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .bar{
    width:rpx(90);
    height:rpx(6);
    background-color: #11838D;
    margin-top: rpx(-22);
    margin-left:rpx(402)
  }

  .icon-36{
    width:rpx(36);
    height: rpx(36);
  }

  .icon-55{
    width:rpx(38);
    height: rpx(38);
    margin-left:rpx(5)
  }

  .p4{
      margin-top:rpx(12);
      margin-left:rpx(-27)   
  }