<ion-header>
  <ion-toolbar color="primary">
    <ion-icon name="arrow-back" class="ion-icon"></ion-icon>
    <ion-title>
      健康管理
    </ion-title>
    <ion-icon name="close" slot="end" class="ion-icon"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div style="background-color: #11838D" class="padding-top-15">
        <div class="card">
            <span style="font-weight:bold;color:#6B3689;" (click)="show=false">
                最新活动
            </span>
            <span class="span1" (click)="show=true">
                往期活动
            </span>
            <p class="p1"></p>
        </div>
    </div>
    <div *ngIf="show==false">
        <ion-card *ngFor="let ac of activity1;let i=index;" (click)="activityDetails(ac.id)">
            <ion-card-header class="ion-card-header"  [style.background-image]="'url('+uploadpath+'activity/'+ac.activityCover+')'" ></ion-card-header>                                         
            <ion-card-content>
              <div class="p2">{{ac.activityName}}</div>
              <div class="p3">
                  <ion-icon name="time"></ion-icon>
                  <span class="span2">{{ac.activityTime}}</span>
              </div>
              <div class="p3">
                  <ion-icon name="compass"></ion-icon>
                  <span class="span2">{{ac.activitySite}}</span>
              </div>
            </ion-card-content>
        </ion-card>

    </div>

    <div *ngIf="show==true">
        <ion-card *ngFor="let ac of activity2;let i=index;" (click)="activityDetails(ac.id)">
                <ion-card-header class="ion-card-header"  [style.background-image]="'url('+uploadpath+'activity/'+ac.activityCover+')'" ></ion-card-header>                                         
                <ion-card-content>
                  <div class="p2">{{ac.activityName}}</div>
                  <div class="p3">
                      <ion-icon name="time"></ion-icon>
                      <span class="span2">{{ac.activityTime}}</span>
                  </div>
                  <div class="p3">
                      <ion-icon name="compass"></ion-icon>
                      <span class="span2">{{ac.activitySite}}</span>
                  </div>
                </ion-card-content>
        </ion-card>
    </div>
       

    
</ion-content>
