<ion-header>
  <ion-toolbar color="primary">
    <ion-icon name="arrow-back" class="ion-icon"></ion-icon>
    <ion-title>
      健康管理
    </ion-title>
    <ion-icon name="close" slot="end" class="ion-icon"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div style="background-color: #11838D">
        <div class="card">
            <span style="font-weight:bold;color:#6B3689;">
                最新活动
            </span>
            <span class="span1">
                往期活动
            </span>
            <p class="p1"></p>
        </div>
    </div>
    <div>
        <ion-card>
            <ion-card-header class="ion-card-header" 
            style="background-image: url(https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=2331250180,1322677064&fm=26&gp=0.jpg)">                
            </ion-card-header>
            <ion-card-content>
              <p class="p2">第二届医疗健康知识讲座肿瘤篇</p>
              <p class="p3">
                  <ion-icon name="time"></ion-icon>
                  <span class="span2">2019年8月27日 09：00</span>
              </p>
              <p class="p3">
                  <ion-icon name="compass"></ion-icon>
                  <span class="span2">广东省广州市白云区白云五路1111号港和大厦</span>
              </p>
            </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-card-header class="ion-card-header"
             style="background-image: url(https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=743289129,1076801085&fm=26&gp=0.jpg);">                
            </ion-card-header>
            <ion-card-content>
              <p class="p2">XXXXXXXXXXXXXXXX</p>
              <p class="p3">
                  <ion-icon name="time"></ion-icon>
                  <span class="span2">2019年8月27日 09：00</span>
              </p>
              <p class="p3">
                  <ion-icon name="compass"></ion-icon>
                  <span class="span2">XXXXXXXXXXXXXXXXXXXXX</span>
              </p>
            </ion-card-content>
        </ion-card>

    </div>
       

    
</ion-content>
