<ion-header>
  <!-- <ion-toolbar color="primary">
        <ion-icon name="arrow-back" class="ion-icon" (click)="back()"></ion-icon>
        <ion-title>
          确认预约         
        </ion-title>
        <ion-icon name="close" slot="end" class="ion-icon"></ion-icon>
      </ion-toolbar> -->
  <div [style.background-image]="'url('+uploadpath+'resource/'+res.headpicture+')'" class="bg"></div>
</ion-header>

<ion-content>
  <div style="background: #0F848D ; position:fixed;width:100%" class="padding-top-40 height-110">
    <div class="flex-row flex-center">
      <div class="marginTop margin-left-30" (click)="back()">
        <img src="{{uploadpath}}resource/{{res.leftarrow}}" class="icon-32" />
      </div>
      <div class="f12 txt-white margin-left-10" (click)="back()">上一步</div>
      <div class="f16 txt-white margin-left-200">确认预约</div>

    </div>
  </div>
  <div style="background: #0F848D;width: 100%;" class="height-40"></div>
  <div class="card">

    <div class="flex-row flex-center margin-left-30">
      <div class="txt-gw f16">费用</div>
      <div class="txt-bold f16 margin-left-20" style="color: #DF4747;">￥{{doctor.price}}</div>
    </div>
    <div class="flex-row margin-top-40 margin-left-30">
      <div class="marginTop1">
        <img src="{{uploadpath}}resource/{{res.zhensuo}}" class="icon-10" />
      </div>
      <div class="f16 txt-gw margin-left-30">诊所：</div>
      <div class="f16 txt-black margin-left-30">{{hospital.name}}</div>
    </div>
    <div class="flex-row margin-top-40 margin-left-30">
      <div class="marginTop1">
        <img src="{{uploadpath}}resource/{{res.time}}" class="icon-10" />
      </div>
      <div class="f16 txt-gw margin-left-30">时间：</div>
      <div class="f16 txt-black margin-left-30">{{schedule.fdate}} {{schedule.ftime}}</div>
    </div>
    <div class="flex-row margin-top-40 margin-left-30">
      <div class="marginTop1">
        <img src="{{uploadpath}}resource/{{res.yisheng}}" class="icon-10" />
      </div>
      <div class="f16 txt-gw margin-left-30">医生：</div>
      <div class="f16 txt-black margin-left-30">{{doctor.name}} {{doctor.title}}</div>
    </div>
    <div class="flex-row margin-top-40 margin-left-30 flex-center">
      <div class="marginTop1">
        <img src="{{uploadpath}}resource/{{res.jiuzhen}}" class="icon-10" />
      </div>
      <div class="f16 txt-gw margin-left-30">就诊人：</div>
      <input placeholder="请输入就诊人" [(ngModel)]='patientname' class="marginTop2 margin-left-5"
        style="outline: none;border: none;" />
    </div>
    <div class="flex-row margin-top-40 margin-left-30 flex-center">
      <div class="marginTop1">
        <img src="{{uploadpath}}resource/{{res.dianhua}}" class="icon-10" />
      </div>
      <div class="f16 txt-gw margin-left-30">电话：</div>
      <input placeholder="请输入电话" [(ngModel)]='patientmobile' class="marginTop2 margin-left-30"
        style="outline: none;border: none;" />
    </div>
    <div class="flex-row margin-top-40 margin-left-30 flex-center">
      <div class="marginTop1">
        <img src="{{uploadpath}}resource/{{res.tuijian}}" class="icon-10" />
      </div>
      <div class="f16 txt-gw margin-left-30">推荐人：</div>
      <input placeholder="请输入推荐人" [(ngModel)]='tuijianren' class="marginTop2 margin-left-5"
        style="outline: none;border: none;" />

    </div>
    <!-- <div class="txt-black f16 txt-bold margin-left-30 margin-top-40">专业擅长</div>
    <img src="{{uploadpath}}resource/{{res.horizontalbar}}" class="horizontalbar" /> -->
    <div class="margin-left-30 txt-gw f16 margin-top-30">上传能提现病情的病历照片\患处照片\检查结果等</div>

    <div class="flex-row flex-wrap margin-top-40">
      <div class="margin-left-30" *ngFor="let item of photolist;let idx=index">
        <img (click)="shanchu(idx)" src="{{uploadpath}}appointment/{{item}}" class="icon-50" />

      </div>
      <div class="margin-left-30" *ngIf="photolist.length<9">
        <img src="{{uploadpath}}resource/{{res.upload}}" class="icon-50" />
        <input type="file" (change)='upload($event)' class="fileupload icon-50" />
      </div>
    </div>



  </div>
  <div class="p4 txt-bold margin-left-26" (click)="successfulReservation()">确认支付</div>
  
</ion-content>