<ion-header>
  <!-- <ion-toolbar color="primary">
        <ion-icon name="arrow-back" class="ion-icon" (click)="back()"></ion-icon>
        <ion-title>
          确认预约         
        </ion-title>
        <ion-icon name="close" slot="end" class="ion-icon"></ion-icon>
      </ion-toolbar> -->
  <div [style.background-image]="'url('+uploadpath+'resource/'+res.headpicture+')'" class="bg"></div>
</ion-header>

<ion-content>
  <div style="background: #0F848D ; position:fixed;width:100%" class="padding-top-40 height-110">
    <div class="flex-row flex-center">
      <div class="marginTop margin-left-30" (click)="back()">
        <img src="{{uploadpath}}resource/{{res.leftarrow}}" class="icon-32" />
      </div>
      <div class="f12 txt-white margin-left-10" (click)="back()">上一步</div>
      <div class="f16 txt-white margin-left-200">确认预约</div>

    </div>
  </div>
  <div style="background: #0F848D;width: 100%;" class="height-40"></div>
  <div class="card">

    <div class="flex-row flex-center margin-left-30">
      <div class="txt-gw f12">费用</div>
      <div class="txt-bold f16 margin-left-20" style="color: #DF4747;">￥{{doctor.price}}</div>
    </div>
    <div class="flex-row margin-top-40 margin-left-30">
      <div class="marginTop1">
        <img src="{{uploadpath}}resource/{{res.zhensuo}}" class="icon-10" />
      </div>
      <div class="f12 txt-gw margin-left-30">诊所：</div>
      <div class="f12 txt-black margin-left-30">{{hospital.name}}</div>
    </div>
    <div class="flex-row margin-top-40 margin-left-30">
      <div class="marginTop1">
        <img src="{{uploadpath}}resource/{{res.time}}" class="icon-10" />
      </div>
      <div class="f12 txt-gw margin-left-30">时间：</div>
      <div class="f12 txt-black margin-left-30">{{schedule.fdate}} {{schedule.ftime}}</div>
    </div>
    <div class="flex-row margin-top-40 margin-left-30">
      <div class="marginTop1">
        <img src="{{uploadpath}}resource/{{res.yisheng}}" class="icon-10" />
      </div>
      <div class="f12 txt-gw margin-left-30">医生：</div>
      <div class="f12 txt-black margin-left-30">{{doctor.name}} {{doctor.title}}</div>
    </div>
    <div class="flex-row margin-top-40 margin-left-30 flex-center">
      <div class="marginTop1">
        <img src="{{uploadpath}}resource/{{res.jiuzhen}}" class="icon-10" />
      </div>
      <div class="f12 txt-gw margin-left-30">就诊人：</div>
      <input placeholder="请输入就诊人" [(ngModel)]='patientname' class="marginTop2 margin-left-5" style="outline: none;border: none;" />
    </div>
    <div class="flex-row margin-top-40 margin-left-30 flex-center">
      <div class="marginTop1">
        <img src="{{uploadpath}}resource/{{res.dianhua}}" class="icon-10" />
      </div>
      <div class="f12 txt-gw margin-left-30">电话：</div>
      <input placeholder="请输入电话" [(ngModel)]='patientmobile' class="marginTop2 margin-left-30" style="outline: none;border: none;" />
    </div>
    <div class="flex-row margin-top-40 margin-left-30 flex-center">
      <div class="marginTop1">
        <img src="{{uploadpath}}resource/{{res.tuijian}}" class="icon-10" />
      </div>
      <div class="f12 txt-gw margin-left-30">推荐人：</div>
      <input placeholder="请输入推荐人" [(ngModel)]='tuijianren' class="marginTop2 margin-left-5" style="outline: none;border: none;" />

    </div>
    <!-- <div class="txt-black f16 txt-bold margin-left-30 margin-top-40">专业擅长</div>
    <img src="{{uploadpath}}resource/{{res.horizontalbar}}" class="horizontalbar" /> -->
    <div class="margin-left-30 txt-gw f16 margin-top-30">上传能提现病情的病历照片\患处照片\检查结果等</div>

    <div class="flex-row flex-wrap margin-top-40">
      <div  class="margin-left-30" *ngFor="let item of photolist">
        <img src="{{uploadpath}}appointment/{{item}}" class="icon-50" />
        
      </div>
      <div class="margin-left-30" *ngIf="photolist.length<9">
        <img src="{{uploadpath}}resource/{{res.upload}}" class="icon-50" />
        <input type="file" (change)='upload($event)' class="fileupload icon-50" />
      </div>
    </div>

    <div class="p4 txt-bold margin-left-26" (click)="successfulReservation()" >确认支付</div>

  </div>

  <!-- <div style="background-color: #11838D" class="padding-top-15">
        <div class="card">
          <p class="p1">{{date.qwe.fdate}}（周四） {{date.qwe.ftime}} - {{hour}}:{{minute}}</p>
          <p class="p1" *ngIf="hospital!=null">{{hospital.name}}</p>
          <p class="p1">儿科，{{yishen.name}}，{{yishen.title}}</p>
          <hr/>
        </div>
    </div>
    <div class="div1">
        <span class="span1">费用</span>
        <span class="span2">￥{{yishen.price}}</span>
    </div>
    <hr/>
    <div class="div1 flex-row flex-center">
        <span class="span1">就诊人</span>
        <div class="flex-1"></div>
        <input placeholder="请填写就诊人" class="margin-left-40 h5" [value]='jiuzhenren' (change)='jiuzhenren=$event.target.value'
        style="border:none;outline:medium;color: #262626;text-align: right;" />
        <div class="width-40"></div>
    </div>
        


    <hr/>
    <div class="div1 flex-row flex-center">
      <span class="span1">手机号</span>
      <div class="flex-1"></div>
      <input placeholder="请填写手机号" class="margin-left-40 h5" [value]='shoujihao' (change)='shoujihao=$event.target.value'
      style="border:none;outline:medium;color: #262626;text-align: right;" />
      <div class="width-40"></div>
  </div>
    <hr/>
    <div class="div1 flex-row flex-center">
        <span class="span1">推荐人</span>
        <span class="span4">（非必填）</span>
        <div class="flex-1"></div>
        <input placeholder="请填写推荐人" class="margin-left-40 h5" [value]='tuijianren' (change)='tuijianren=$event.target.value'
        style="border:none;outline:medium;color: #262626;text-align: right;" />
        <div class="width-40"></div>
    </div>
    <div class="div2">
      <span class="span1">图片资料</span>
      <span class="span4">（非必填）</span>
    </div>
    <div>
      <p class="p2">上传能体现病情的病历照片、患处照片、检验结果等</p>
      <img class="img1" />
    </div>
    <div class="div3">
      <p class="p3">重要提示：</p>
      <p class="p3">1、支持多行文字，文字内容后台编辑。支持多行文字，文字内容后台编辑。</p>
      <div class="p4" (click)="successfulReservation()" style="position:fixed;bottom:0">确认支付</div>
    </div> -->
</ion-content>