@function rpx($px) {
    @return ($px * 100vw) / 750;
  }
.ion-icon{
    height:rpx(24*2);
    width:rpx(24*2)
}
.card{
    background-color:white;    
    border-top-left-radius: rpx(37);
    border-top-right-radius: rpx(37);
    padding-top: rpx(20)
  }
  hr{
    border: #aaaaaa solid rpx(0.01*2);
    background-color: #aaaaaa;
    opacity: 0.2;
  }
  .width-40{
      width: rpx(40);
  }
  .p1{
      font-size: rpx(32);
      color:black;
      margin-left: rpx(30)
  }
  .div1{
    margin-top:rpx(30);
    margin-bottom:rpx(30)
}
.span1{
    font-size: rpx(32);
    color: black;
    margin-left: rpx(30);
}
.span2{
  font-size: rpx(32);
  color: black;
  margin-left: rpx(500)
}
.span3{
    font-size: rpx(32);
    color: black;
    margin-left: rpx(358) 
}
.div2{
    height: rpx(120);
    background-color:rgba($color: #aaaaaa, $alpha: 0.2); 
    line-height: rpx(120)
}
.span4{
    font-size: rpx(28);
    color: #8a8a8a;
    margin-left: rpx(20) 
}
.p2{
    font-size: rpx(28);
    color: #8a8a8a;
    margin-left: rpx(30)
}
.img1{
    height: rpx(140);
    width: rpx(140);
    margin-left: rpx(30)
}
.p3{
    font-size: rpx(24);
    color: #8a8a8a;
    margin-left: rpx(30)
}
.div3{
    height: rpx(300);
    background-color:rgba($color: #aaaaaa, $alpha: 0.2); 
    padding-top: rpx(10)
}
.p4{
  
    height: rpx(90);
    background-color: #6b3689;
    color:white;
    text-align: center;
    line-height: rpx(90);
    width: 100%;
}

