@function rpx($px) {
    @return ($px * 100vw) / 750;
  }
.ion-icon{
    height:rpx(24*2);
    width:rpx(24*2)
}
.card{
    background-color:white;    
    border-top-left-radius: rpx(37);
    border-top-right-radius: rpx(37);
    padding-top: rpx(37);
}
.ion-card{
  margin-top: rpx(20);
  height:rpx(166*2);
}
input{
  height: rpx(33*2);
  width:rpx(344*2);
  text-align: center;
  border-radius: rpx(40);
  font-size: rpx(13*2);
  margin-left: rpx(15*2);
  background-color: #EBEBEB;
  border-style: none;
}
.ion-icon1{
    position: relative;
    left:rpx(-338*2);
    top:rpx(3*2)
  }
  .p1{
    font-weight: bold;
    font-size: rpx(32);
    color:#6b3689;
  }
  .p2{
    width: rpx(90);
    height: rpx(6);
    background-color: #6b3689;
    margin-left: rpx(15);
    margin-top:rpx(-25)
  }
  .p3{
    font-size: rpx(28);
    color:black;
    margin-top: rpx(36)
  }
  .div1{
    float: left;
    margin-left: rpx(54);
    margin-top:rpx(-35)
  }
  .ion-card1{
    height: rpx(130*2);
    margin-top: rpx(0)
  }
.div2{
  float: left;
  margin-top: rpx(35);
  margin-left: rpx(30)
}
.img1{
  height: rpx(98*2);
  width: rpx(120*2);
} 
.p4{
  font-size: rpx(28);
  color:black;
  font-weight: bold;
  margin-top:rpx(0)
}
.p5{
  font-size: rpx(24);
  color:#8a8a8a;
  width: rpx(181*2);
  margin-top:rpx(-10)
}
.p6{
  font-size: rpx(28);
  color: #F7555A;
  font-weight: bold;
  margin-top:rpx(-10)
}
.img2{
  width: rpx(120);
  height: rpx(120);
  position:absolute;
  top:rpx(1370);
  right: rpx(35)
}
.span1{
  color: #BFBFBF;
  font-size: rpx(24);
  text-decoration:line-through;
  margin-left:rpx(60)
}