<ion-header>
    <ion-toolbar color="primary">
        <ion-icon name="arrow-back" class="ion-icon" (click)="back()"></ion-icon>
        <ion-title>
          购物车
        </ion-title>
        <span slot="end" class="h5">编辑</span>
      </ion-toolbar>
</ion-header>

<ion-content>
  <div style="background-color: #11838D" class="padding-top-15">
    <div class="card">
      <ion-card class="card1 flex-row flex-center">
        <div class="flex-1"></div>
        <div class="icon-24 radius-50 border-g"></div>
        <div class="icon-90 bg-p margin-left-20"></div>
        <div class="margin-left-20 marginTop">
          <div class="f16 txt-black txt-bold">对乙酰氨基酚片</div>
          <div class="h5 txt-gg margin-top-30">规格：0.5g*12片</div>
          <div class="flex-row flex-center margin-top-40">
            <div class="f16 txt-bold " style="color: #F7555A">￥ 68.0</div>
            <div class="flex-row flex-center margin-left-50">
              <div class="h5 txt-black icon-24 border-bw border-lr text-center line-height-24" 
              style="background-color:#F5F7FA">
              -
            </div>
              <div class="h5 txt-black border-bt text-center">
                1
              </div>
              <div class="h5 txt-black icon-24 border-bw border-rr text-center line-height-24" 
              style="background-color:#F5F7FA">
              +
            </div>
            </div>
          </div>
        </div>
        <div class="flex-1"></div>
      </ion-card>

      <ion-card class="card1 flex-row flex-center">
          <div class="flex-1"></div>
          <div class="icon-24 radius-50 text-center line-height-24 txt-white" style="background-color: #F7555A">√</div>
          <div class="icon-90 bg-p margin-left-20"></div>
          <div class="margin-left-20 marginTop">
            <div class="f16 txt-black txt-bold">999感冒灵颗粒</div>
            <div class="h5 txt-gg margin-top-30">规格：0.5g*12片</div>
            <div class="flex-row flex-center margin-top-40">
              <div class="f16 txt-bold " style="color: #F7555A">￥ 88.0</div>
              <div class="flex-row flex-center margin-left-50">
                <div class="h5 txt-black icon-24 border-bw border-lr text-center line-height-24" 
                style="background-color:#F5F7FA">
                -
              </div>
                <div class="h5 txt-black border-bt text-center">
                  1
                </div>
                <div class="h5 txt-black icon-24 border-bw border-rr text-center line-height-24" 
                style="background-color:#F5F7FA">
                +
              </div>
              </div>
            </div>
          </div>
          <div class="flex-1"></div>
        </ion-card>

        <ion-card class="card1 flex-row flex-center">
            <div class="flex-1"></div>
            <div class="icon-24 radius-50 text-center line-height-24 txt-white" style="background-color: #F7555A">√</div>
            <div class="icon-90 bg-p margin-left-20"></div>
            <div class="margin-left-20 marginTop">
              <div class="f16 txt-black txt-bold">艾附暖宫丸</div>
              <div class="h5 txt-gg margin-top-30">规格：0.5g*12片</div>
              <div class="flex-row flex-center margin-top-40">
                <div class="f16 txt-bold " style="color: #F7555A">￥ 188.0</div>
                <div class="flex-row flex-center margin-left-50">
                  <div class="h5 txt-black icon-24 border-bw border-lr text-center line-height-24" 
                  style="background-color:#F5F7FA">
                  -
                </div>
                  <div class="h5 txt-black border-bt text-center">
                    1
                  </div>
                  <div class="h5 txt-black icon-24 border-bw border-rr text-center line-height-24" 
                  style="background-color:#F5F7FA">
                  +
                </div>
                </div>
              </div>
            </div>
            <div class="flex-1"></div>
          </ion-card>
    </div>
  </div>
  <div class="flex-row">
    <div class="d1 flex-row flex-center">
      
      <div class="icon-24 radius-50 border-w margin-left-40"></div>
      <div class="txt-white f16 margin-left-100">合计：￥276.0</div>
      
    </div>
    <div class="d2 text-center txt-white f16" (click)="order()">
      去结算
    </div>
  </div>
</ion-content>
