@function rpx($px) {
    @return ($px * 100vw) / 750;
  }
.ion-icon{
    height:rpx(24*2);
    width:rpx(24*2)
}
.card{
    background-color:white;    
    border-top-left-radius: rpx(37);
    border-top-right-radius: rpx(37);
    padding-top: rpx(37)
  }
  .ion-card{
    margin-top: rpx(0);
    height:rpx(200*2);
  }
  .img1{
      height:rpx(48) ;
      width:rpx(48);
      margin-left: rpx(170)
  }
  .span1{
      font-size: rpx(18*2);
      color :black;
      font-weight: bold;
      position: relative;
      top:rpx(-10);
      margin:0 rpx(10) 0 rpx(10); 
  }
  .p1{
      font-size: rpx(32);
      font-weight: bold;
      color: black;
      margin-left:rpx(40);
  }
  .p2{
      width: rpx(64*2);
      height: rpx(30);
      margin-left:rpx(40);
      margin-top: rpx(-50);
      border-radius: rpx(10);
      background-color: #B872E1;
  }
  .img2{
      width:rpx(80);
      height: rpx(80);
  }
  .p3{
      font-size: rpx(24);
      margin-top:rpx(-5);
      margin-left: rpx(-5)
  }
  .div0{
      float: left;
      margin-left: rpx(70)
  }
  .div1{
    float: left;
    margin-left: rpx(80)
  }
  hr{
    border: #aaaaaa solid rpx(0.01*2);
    background-color: #aaaaaa;
    opacity: 0.2;
  }
  .img3{
      height: rpx(128*2);
      width:rpx(128*2);
  }
  .span2{
      color: black;
      font-weight: bold;
      font-size: rpx(28);
  }
  .span3{
      color:#8a8a8a;
      font-size: rpx(24);
      margin-left:rpx(10)
  }
  .p4{
      margin-top:rpx(-8)
  }
  .p5{
    color:#8a8a8a;
    width:rpx(133*2);
    margin-top: rpx(-30);
    font-size: rpx(24);
  }
  .div2{
      float: left;
      margin-left:rpx(30);
  }
  .p6{
      font-size: rpx(28);
      color:black;
      margin-left: rpx(50)
  }
  .p7{
    font-size: rpx(28);
    color:black;
    margin-left: rpx(20);
    width: rpx(266*2)
  }
  .img4{
      height: rpx(174*2);
      width:rpx(342*2);
      margin-left:rpx(30)
  }
  .compass{
    height: rpx(60);
    width:rpx(60);
    margin-left: rpx(30)
  }
  .address{
      font-size: rpx(28);
      color:black;
      margin-left:rpx(20);
      position: relative;
      top:rpx(-20)
  }