<ion-header>
    <ion-toolbar color="primary">
        <ion-icon name="arrow-back" class="icon-24" (click)="back()"></ion-icon>
        <ion-title>
          我的预约
        </ion-title>
        <ion-icon name="close" slot="end" class="icon-24"></ion-icon>
      </ion-toolbar>
</ion-header>

<ion-content>
  <div style="background-color: #11838D">
    <div class="card">
      <div class="flex-row flex-center margin-left-30">
          <div>
            <div class="f18 txt-g txt-bold">全部</div>
            <div class="icon-26 bg-p margin-top-10"></div>
          </div>
          <div class="h5 txt-bold margin-left-80">待付款</div>
          <div class="h5 txt-bold margin-left-80">已完成</div>
          <div class="h5 txt-bold margin-left-80">已取消</div>
      </div>

      <div class="flex-row flex-column margin-top-200">
          <div>
            <img alt="" class="icon-200"/>
          </div>
          <div class="h5 txt-gw margin-top-30">暂无预约记录</div>
          <div class="h5 txt-gw margin-top-20">您可以点击下方进行预约</div>
      </div>


      <div class="icon-349 txt-white bg-p text-center">去预约</div>




    </div>
  </div>
</ion-content>
