<ion-header>
    <ion-toolbar color="primary">
        <ion-icon name="arrow-back" class="ion-icon" (click)="back()"></ion-icon>
        <ion-title>
         
        </ion-title>
        <ion-icon name="close" slot="end" class="ion-icon"></ion-icon>
      </ion-toolbar>
</ion-header>

<ion-content>
  <div style="background-color: #11838D">
      <div class="card">
        <p class="p1">
          <span class="span1">A套餐</span>
          <span class="span2">男性</span>
        </p>
        <p class="p1">
          <span class="span3">肝功能</span>
          <span class="span3 span4">肾功能</span>
          <span class="span3 span4">心电图</span>
          <span class="span3 span4">耳鼻喉</span>
        </p>
        <hr/>
      </div>
  </div>
</ion-content>
