<ion-header>
    <ion-toolbar color="primary">
        <ion-icon name="arrow-back" class="ion-icon" (click)="back()"></ion-icon>
        <ion-title>
         
        </ion-title>
        <ion-icon name="close" slot="end" class="ion-icon"></ion-icon>
      </ion-toolbar>
</ion-header>

<ion-content>
  <div style="background-color: #11838D" class="padding-top-15">
      <div class="card">
        <p class="p1">
          <span class="span1">A套餐</span>
          <span class="span2">男性</span>
        </p>
        <p class="p1">
          <span class="span3">肝功能</span>
          <span class="span3 span4">肾功能</span>
          <span class="span3 span4">心电图</span>
          <span class="span3 span4">耳鼻喉</span>
        </p>
        <hr/>
        <p>
          <span class="span5">预约诊所</span>
          <span class="span6">港和医疗白云分部</span>
        </p>
        <hr/>
      </div>
  </div>
  <div>
    <p class="p2">2019年9月</p>
    <p>
       <span class="span7">日</span>  
       <span class="span8">一</span>
       <span class="span8">二</span>
       <span class="span8">三</span> 
       <span class="span8">四</span>
       <span class="span8">五</span>
       <span class="span8">六</span>
    </p> 
    <p class="p3">
       <span class="span9">1</span>  
       <span class="span10">2</span>
       <span class="span10">3</span>
       <span class="span10">4</span> 
       <span class="span10">5</span>
       <span class="span10">6</span> 
       <span class="span10">7</span> 
    </p>
    <hr/>  
  </div>
  <div class="div1">
    <p class="p4"></p>
    <p class="p5">
      预约日期
      <span class="project">共3项检查项</span>
    </p>
    <p class="p6">一般检查</p>
    <p class="p7">身高、体重、腰围</p>
    <p class="p8">用仪器检查身高、体重、腰围，根据BMI指数和腰围判断是否存在偏瘦、中心性肥胖及评估相关性疾病的风险</p>
    <p class="p6">耳鼻喉科</p>
    <p class="p7">耳鼻喉科</p>
    <p class="p8">通过对耳、鼻咽、扁桃喉等器官的常规检查，初步筛查常见疾病</p>
    <p class="p6">肾功能</p>
    <p class="p7">肾功能二项</p>
    <p class="p8">主要用于诊断各种肾脏疾病、痛风以及高血压、糖尿病等的辅助诊断</p>
    <hr/>
    <p class="p7">血尿酸</p>
    <p class="p8">检测尿酸含量，用于痛风的诊断</p>
    <hr/>
  </div>
  <div class="div1">
    <p class="p4"></p>
    <p class="p5">
        体检须知
    </p>
    <p class="p9">支持多行文字，文字内容后台编辑。支持多行文字，文字内容后台编辑。</p>
    <div class="div1 flex-row flex-center" style="position: fixed;bottom:0">
      <div class="p10">合计：<span class="p2" style="color: red">￥288.00</span></div>
      <div class="p11" (click)="physicalExaminationAppointment()">立即预约</div>
    </div>
  </div>
</ion-content>
