@function rpx($px) {
    @return ($px * 100vw) / 750;
  }
.ion-icon{
    height:rpx(24*2);
    width:rpx(24*2)
}
.card{
    background-color:white;    
    border-top-left-radius: rpx(37);
    border-top-right-radius: rpx(37);
    padding-top: rpx(25)
  }
  hr{
    border: #aaaaaa solid rpx(0.01*2);
    background-color: #aaaaaa;
    opacity: 0.2;
  }
  .span1{
    font-size: rpx(32);
    color: black;
    font-weight: bold
}
.span2{
  font-size: rpx(24);
  color: #8a8a8a;
  margin-left: rpx(20)
}
.span3{
    background-color: #F0F2F5;
    font-size: rpx(24);
    color: #8a8a8a;
    border-radius: rpx(100);
    padding:rpx(6) rpx(16)
}
.span4{
    margin-left: rpx(10);
}
.p1{
    margin-left:rpx(30)
}
.span5{
  font-size: rpx(32);
  color:black;
  margin-left:rpx(30)
}
.span6{
  font-size: rpx(32);
  color:black;
  margin-left:rpx(300)
}
.p2{
  font-size: rpx(16*2);
  color:black;
  text-align: center;
  // margin-top:rpx(-5*2);
}
.span7{
  color:#aaaaaa;
  margin-left: rpx(38);
  font-size: rpx(28)
}
.span8{
  color:#aaaaaa;
  margin-left: rpx(40*2);
  font-size: rpx(28)
}
.p3{
  margin-bottom: rpx(40)
}
.span9{
  color:black;
  margin-left: rpx(38);
  font-size: rpx(28);
  width:rpx(60);
  height: rpx(60);
  border:solid #aaaaaa rpx(2);
  border-radius: 50%;
  padding:rpx(4)
}
.span10{
  color:black;
  margin-left: rpx(40*2);
  font-size: rpx(28);
  width:rpx(60);
  height: rpx(60);
  border:solid #aaaaaa rpx(2);
  border-radius: 50%;
  padding:rpx(4)
}
.p4{
  width:rpx(6);
  height:rpx(30);
  background-color: #6B3689;
  margin-top:rpx(36);
  margin-left:rpx(24);
  display: inline-block;
  margin-bottom:0
}
.p5{
  font-size: rpx(16*2);
  font-weight:bold;
  color:black;
  display: inline-block;
  margin-left:rpx(10);
}
.div1{
  margin-top:rpx(-15);
}
.project{
  font-size: rpx(28);
  margin-left:rpx(390);
  font-weight: normal;
}
.p6{
  width: rpx(346*2);
  height: rpx(50);
  background-color: #6b3689;
  color:white;
  margin-top:rpx(0);
  text-align: center;
  font-size: rpx(28);
  line-height: rpx(50);
  margin-left: rpx(25)
}
.p7{
  font-size: rpx(28);
  margin-left:rpx(30)
}
.p8{
  color:#b9b9b9;
  font-size: rpx(24);
  margin-left:rpx(30);
  margin-top:rpx(-20)
}
.p9{
  font-size: rpx(24);
  color:black;
  margin-left: rpx(30);
  margin-top: rpx(-5)
}
.p10{
  width: rpx(187*2);
  height: rpx(90);
  background-color: #F9F8F8;
  color:black;
  text-align: center;
  font-size: rpx(32);
  line-height: rpx(90);

}
.p11{
  width: rpx(187*2);
  height: rpx(90);
  background-color: #6b3689;
  color:white;
  text-align: center;
  font-size: rpx(32);
  line-height: rpx(90);

}
