<ion-header>
    <ion-toolbar color="primary">
        <ion-icon name="arrow-back" class="icon-24" (click)="back()"></ion-icon>
        <ion-title>
          我的体检
        </ion-title>
        <ion-icon name="close" slot="end" class="icon-24"></ion-icon>
      </ion-toolbar>
</ion-header>

<ion-content>
  <div style="background-color: #11838D" class="padding-top-15">
    <div class="card">
        <div class="flex-row flex-center margin-left-30">
            <div>
              <div class="f18 txt-g txt-bold">全部</div>
              <div class="icon-26 bg-p margin-top-10"></div>
            </div>
            <div class="h5 txt-bold margin-left-80">待付款</div>
            <div class="h5 txt-bold margin-left-80">已完成</div>
            <div class="h5 txt-bold margin-left-80">已取消</div>
          </div>



          <ion-card class="height-280" (click)="physicalExaminationCancelled()">
              <div class="margin-left-30 margin-top-40">
                <div class="flex-row flex-center"> 
                  <div class="h5 txt-bold txt-black">港和医疗白云分部</div>
                  <div class="h5 txt-gw margin-left-360">已取消</div>
                </div>
                <div class="h5 txt-black margin-top-30">体检，A套餐，男性</div>
                <div class="h5 txt-black margin-top-30">体检时间：2019/8/27（周四）11：30 - 12：00</div>
                <div class="h5 txt-black margin-top-30">体检人：张三</div>
              </div>
          </ion-card>


          <ion-card class="height-280" (click)="physicalExaminationPayment()">
              <div class="margin-left-30 margin-top-40">
                <div class="flex-row flex-center"> 
                  <div class="h5 txt-bold txt-black">港和医疗白云分部</div>
                  <div class="h5 margin-left-360" style="color: #FF9800">待付款</div>
                </div>
                <div class="h5 txt-black margin-top-30">体检，A套餐，男性</div>
                <div class="h5 txt-black margin-top-30">体检时间：2019/8/27（周四）11：30 - 12：00</div>
                <div class="h5 txt-black margin-top-30">体检人：张三</div>
              </div>
          </ion-card>









    </div>
  </div>

</ion-content>
