<ion-header>
    <!-- <ion-toolbar color="primary">
        <ion-icon name="arrow-back" class="icon-24" (click)="back()"></ion-icon>
        <ion-title>
          我的活动
        </ion-title>
        <ion-icon name="close" slot="end" class="icon-24"></ion-icon>
      </ion-toolbar> -->
      <div [style.background-image]="'url('+uploadpath+'resource/'+res.headpicture+')'" class="bg2" ></div>
</ion-header>

<ion-content>
    <div style="background: #0F848D ;position:fixed;width:100%;z-index: 1" class="padding-top-40 height-110">
        <div class="flex-row flex-center margin-left-30">
            <div (click)="back()">
                <img src="{{uploadpath}}resource/{{res.leftarrow}}" class="icon-32" />
            </div>
            <div class="f12 txt-white margin-left-5" (click)="back()">上一步</div>
            <div class="f16 txt-white margin-left-200">我的活动</div>
        </div>
    </div>
    <div style="background: #0F848D;width: 100%;" class="height-40" ></div>
    <div class="card">



        <div class="flex-row flex-center margin-left-30">
            <div (click)='qiehuan=0'>
              <div class="txt-bold" [class.f18]='qiehuan==0' [class.txt-g]='qiehuan==0'>全部</div>
              <div class="icon-26 bg-p margin-top-10" *ngIf='qiehuan==0'></div>
            </div>
            <div class="flex-row flex-column margin-left-80" (click)='qiehuan=1'>
              <div class="txt-bold" [class.f18]='qiehuan==1' [class.txt-g]='qiehuan==1'>已报名</div>
              <div class="icon-26 bg-p margin-top-10" *ngIf='qiehuan==1'></div>
            </div>
            <div class="flex-row flex-column margin-left-80" (click)='qiehuan=2'>
              <div class="txt-bold" [class.f18]='qiehuan==2' [class.txt-g]='qiehuan==2'>已取消</div>
              <div class="icon-26 bg-p margin-top-10" *ngIf='qiehuan==2'></div>
            </div>
        </div>






       <div *ngIf="qiehuan==0">
        <ion-card class="padding-30" *ngFor="let ac of activityinfo1" (click)="applicationDetails(ac.id)"  >
          <div class="flex-row">
              <div>
                <div>
                    <img alt="" class="img-124" src="{{uploadpath}}activity/{{ac.activity_activitycover}}"/>
                </div> 
                <div class="f12 txt-white icon-55 text-center op-50 bg" *ngIf="ac.zhuangtai=='A'">已报名</div>
                <div class="f12 txt-white icon-55 text-center op-50 bg1" *ngIf="ac.zhuangtai=='S'">已取消</div>
              </div>
              <div class="margin-left-20 margin-top-10">
                <div class="f16 txt-bold txt-black width-200" style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">{{ac.activity_activityname}}</div>
                <div class="h5 margin-top-20" style="color: #E51C23">{{ac.activity_price==0?'免费':'费用：￥'+ac.activity_price}}</div>
              </div>
            </div>
            <div class="margin-top-50">
              <div class="f12 txt-gw">时间：{{ac.activity_activitytime}}</div>
              <div class="f12 txt-gw margin-top-10" style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">地址：{{ac.activity_activitysite}}</div>
            </div>
        </ion-card>
       </div>

       <div *ngIf="qiehuan==1">
        <ion-card class=" padding-30" *ngFor="let ac of activityinfo2" (click)="applicationDetails(ac.id)"  >
          <div class="flex-row">
              <div>
                <div>
                    <img alt="" class="img-124" src="{{uploadpath}}activity/{{ac.activity_activitycover}}"/>
                </div> 
                <div class="f12 txt-white icon-55 text-center op-50 bg">已报名</div>
              </div>
              <div class="margin-left-20 margin-top-10">
                <div class="f16 txt-bold txt-black width-200" style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">{{ac.activity_activityname}}</div>
                <div class="h5 margin-top-20" style="color: #E51C23">{{ac.activity_price==0?'免费':'费用：￥'+ac.activity_price}}</div>
              </div>
            </div>
            <div class="margin-top-50">
              <div class="f12 txt-gw">时间：{{ac.activity_activitytime}}</div>
              <div class="f12 txt-gw margin-top-10" style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">地址：{{ac.activity_activitysite}}</div>
            </div>
        </ion-card>
       </div>


       <div *ngIf="qiehuan==2">
        <ion-card class="padding-30" *ngFor="let ac of activityinfo3" (click)="applicationDetails(ac.id)"  >
          <div class="flex-row">
              <div>
                <div>
                    <img alt="" class="img-124" src="{{uploadpath}}activity/{{ac.activity_activitycover}}"/>
                </div> 
                <div class="f12 txt-white icon-55 text-center op-50 bg1">已取消</div>
              </div>
              <div class="margin-left-20 margin-top-10">
                <div class="f16 txt-bold txt-black width-200" style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">{{ac.activity_activityname}}</div>
                <div class="h5 margin-top-20" style="color: #E51C23">{{ac.activity_price==0?'免费':'费用：￥'+ac.activity_price}}</div>
              </div>
            </div>
            <div class="margin-top-50">
              <div class="f12 txt-gw">时间：{{ac.activity_activitytime}}</div>
              <div class="f12 txt-gw margin-top-10" style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">地址：{{ac.activity_activitysite}}</div>
            </div>
        </ion-card>
       </div>
        
 




    </div>
  

</ion-content>
