<ion-header>
    <ion-toolbar color="primary">
        <ion-icon name="arrow-back" class="icon-24" (click)="back()"></ion-icon>
        <ion-title>
          我的活动
        </ion-title>
        <ion-icon name="close" slot="end" class="icon-24"></ion-icon>
      </ion-toolbar>
</ion-header>

<ion-content>
  <div style="background-color: #11838D" class="padding-top-15">
    <div class="card">



        <div class="flex-row flex-center margin-left-30">
            <div>
              <div class="f18 txt-g txt-bold">全部</div>
              <div class="icon-26 bg-p margin-top-10"></div>
            </div>
            <div class="h5 txt-bold margin-left-80">已报名</div>
            <div class="h5 txt-bold margin-left-80">已取消</div>
        </div>






        <ion-card class="height-148 padding-top-30 padding-left-30" *ngFor="let ac of activity1" (click)="applicationDetails(ac.id)"  >
            <div class="flex-row">
                <div>
                  <div>
                      <img alt="" class="img-124" src="{{uploadpath}}activity/{{ac.activityCover}}"/>
                  </div> 
                  <div class="f12 txt-white icon-55 text-center op-50">已报名</div>
                </div>
                <div class="margin-left-20 margin-top-10">
                  <div class="f16 txt-bold txt-black width-200" style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">{{ac.activityName}}</div>
                  <div class="h5 margin-top-20" style="color: #E51C23">{{ac.price==0?'免费':'费用：￥'+ac.price}}</div>
                </div>
              </div>
              <div class="margin-top-50">
                <div class="f12 txt-gw">时间：{{ac.activityTime}}</div>
                <div class="f12 txt-gw margin-top-10" style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">地址：{{ac.activitySite}}</div>
              </div>
        </ion-card>
        
 




    </div>
  </div>

</ion-content>
