<ion-header>
    <ion-toolbar color="primary">
        <ion-icon name="arrow-back" class="icon-24" (click)="back()"></ion-icon>
        <ion-title>
          我的活动
        </ion-title>
        <ion-icon name="close" slot="end" class="icon-24"></ion-icon>
      </ion-toolbar>
</ion-header>

<ion-content>
  <div style="background-color: #11838D" class="padding-top-15">
    <div class="card">

        <ion-card class="margin-top-20">
            <ion-card-header class="flex-row" 
            style="background-image: url();padding-right: 0">  
              <div class="flex-1"></div> 
              <div class="f12 txt-white bg-p icon-72 text-center" style="background-image: url()">已报名</div>                  
            </ion-card-header>
            <ion-card-content>
              <div class="marginTop">
                <div class="f16 txt-bold txt-black">第二届医疗健康知识讲座妇女健康篇</div>
                <div class="flex-row flex-center margin-top-20">
                  <img alt="" class="icon-18" />
                  <div class="f12 txt-gw margin-left-20">2019年8月27日 09：00</div>
                </div>
                <div class="flex-row flex-center margin-top-20">
                  <img alt="" class="icon-18" />
                  <div class="f12 txt-gw margin-left-20">广东省深圳市南山区创业五路1111号港和大厦</div>
                </div>
              </div>
            </ion-card-content>
        </ion-card>





    </div>
  </div>

</ion-content>
