@function rpx($px) {
    @return ($px * 100vw) / 750;
  }

.card{
    background-color:white;
    border-top-left-radius: rpx(37);
    border-top-right-radius: rpx(37);
    padding-top: rpx(37);
}
.bg{
  background-color: rgba(#6B3689, 0.6);
}
.bg1{
  background-color: rgba(#8a8a8a, 0.6);
}

.icon-55{
  width: rpx(55*2);
  height: rpx(25*2);
  margin-left:rpx(69*2);
  margin-top: rpx(-125);
  line-height: rpx(25*2);
  z-index: 1;
}
.icon-18{
  width: rpx(36);
  height: rpx(36)
}

.icon-26{
  width: rpx(26*2);
  height: rpx(6);
}

.img-124{
  width: rpx(124*2);
  height: rpx(140)
}

.height-148{
  height: rpx(148*2);
}

.bc{
  background-color: rgba(#8a8a8a, 0.6) !important;
}

.width-200{
  width:rpx(400);
}