@function rpx($px) {
    @return ($px * 100vw) / 750;
  }

  .card{
    background-color:white;    
    border-top-left-radius: rpx(37);
    border-top-right-radius: rpx(37);
    padding-top: rpx(30);
    margin-top:rpx(-40)
    
  }
.height-110{
    height: rpx(110);
  }
  .height-40{
    height: rpx(40);
    margin-top:rpx(110);
  }
.icon-32{
    width:rpx(28);
    height: rpx(28);}
.bg{
  background-color: rgba(#6B3689, 0.6);
}
.txt-g {
  color:#0F848D;
}
.bg-p{
  background-color: #0F848D;
}
.bg1{
  background-color: rgba(#8a8a8a, 0.6);
}
.bg2{
  width:100%;
  height:rpx(100);
  background-size: cover;
}

.icon-55{
  width: rpx(55*2);
  height: rpx(25*2);
  margin-left:rpx(69*2);
  margin-top: rpx(-125);
  line-height: rpx(25*2);
  z-index: 1;
}
.icon-18{
  width: rpx(36);
  height: rpx(36)
}

.icon-26{
  width: rpx(26*2);
  height: rpx(6);
}

.img-124{
  width: rpx(124*2);
  height: rpx(140);
  border-radius: rpx(10);
}

.height-148{
  height: rpx(148*2);
}

.bc{
  background-color: rgba(#8a8a8a, 0.6) !important;
}

.width-200{
  width:rpx(400);
}

.op-50 {
  opacity: 0.9;
}