<ion-header>
  <!-- <ion-toolbar color="primary">
    <ion-icon name="arrow-back" class="ion-icon"></ion-icon>
    <ion-title>
      {{InstInfo.name}}
    </ion-title>
    <ion-icon name="close" slot="end" class="ion-icon"></ion-icon>
  </ion-toolbar> -->
  <div [style.background-image]="'url('+uploadpath+'resource/'+res.headpicture+')'" class="bg" ></div>
</ion-header>

<ion-content>
    <div style="background: radial-gradient(#268B73,#0F848D) ;position:fixed;z-index: 1;" class="padding-top-40 height-240">
      <div (click)="search()">
        <input placeholder="搜索科室/药品名称"/>
        <img src="{{uploadpath}}resource/{{res.sousuo}}" class="ion-icon1"/>
      </div>
      <div class="txt-white f18 text-center margin-top-20">预约服务</div>
    </div>
    <div style="background: #0F848D;width: 100%;" class="height-40"></div>
      <div class="card">
         <div class="txt-black f16 txt-bold margin-left-30">预约科室</div>
         <img src="{{uploadpath}}resource/{{res.horizontalbar}}" class="horizontalbar"/>
      </div>
    

    <div class="margin-left-40">


      <div style="display:inline-block;" class="margin-left-70 margin-top-150">
        <div>
          <img src='{{uploadpath}}resource/{{res.neike}}' class="icon-60" />
        </div>
        <div class="margin-top-10 f16 margin-left-10">内科</div>
        <div class="xuanzhong">
          <img src='{{uploadpath}}resource/{{res.queren}}' class="icon-18"  />
        </div>
      </div>



      
    </div>

    
    <div class="margin-top-150">
      <div>
        <div class="txt-black f16 txt-bold margin-left-30">预约诊所</div>
        <img src="{{uploadpath}}resource/{{res.horizontalbar}}" class="horizontalbar"/>
      </div>
      <div (click)="information()">
        <div class="margin-top-30">
          <ion-card class="card1"  [style.background-image]="'url('+uploadpath+'resource/'+res.clinic+')'"></ion-card>
        </div>
        <div style="z-index: 1111;" class="marginTop">
          <ion-card class="card2 flex-row flex-center bg1">
            <div class="flex-column margin-left-30">
              <div class="oneline f18 txt-bold txt-black">港和医疗天河分部</div>
              <div class="txt-gw f12 margin-top ">020 - 88888888</div>
              <div class="oneline txt-gw f12 margin-top">广州市白云区粤海街道凤凰路美乐家115号</div>
            </div>
            <div>
              <img src="{{uploadpath}}resource/{{res.phone}}" class="icon-25 margin-left-40"/>
            </div>
          </ion-card> 
        </div>
      </div>
    </div>









    <!-- <div class="container-fluid mt-5 marginTop">

      <div>
      
            <div class="tabbody padding-20 ">
              <div class=" primary-block  text-white ">
                <div class="flex-row flex-center ">
                  <div class="h3 padding-20" (click)="addMonth(-1)">
                    <i class="fa fa-angle-left"></i>
                  </div>
                  <div class="flex-1 text-center">{{myear}}年{{mmonth}}月</div>
                  <div class="h3 padding-20" (click)="addMonth(1)">
                    <i class="fa fa-angle-right "></i>
                  </div>
                </div>
              </div>
              <div class="flex-row  primary-block  text-white">
                <div class="flex-1 h6 txt-bold padding-20 text-center">日</div>
                <div class="flex-1 h6 txt-bold padding-20 text-center">一</div>
                <div class="flex-1 h6 txt-bold padding-20 text-center">二</div>
                <div class="flex-1 h6 txt-bold padding-20 text-center">三</div>
                <div class="flex-1 h6 txt-bold  padding-20 text-center">四</div>
                <div class="flex-1 h6 txt-bold padding-20 text-center">五</div>
                <div class="flex-1 h6 txt-bold padding-20 text-center">六</div>
              </div>
              <div class="flex-row " *ngFor="let w of mcal">
                <div class="flex-1" *ngFor="let d of w;let i=index;">
                  <div class="mdate padding-20 text-center" (click)='asd(d,i)' [class.issat]="i==6"  [class.xzrq]='d.d==xzrq&&d.f==xzy' [class.pass]='d.pass==true' [class.today]='d.today==true'>
                    <div class=" ">{{d.today?"今":d.d}}</div>
                  </div>
                </div>
              </div>
            </div>
    
         
        
     
      </div>
    
    
    </div>
    
    <div>
        <p class="p1"></p>
        <p class="p2">服务类别</p>
        <div  class="flex-row flex-center flex-wrap marginTop">

          <div  (click)="xz=item.id;hospital(item.name)"  [class.lbxz]='xz==item.id' *ngFor='let item of department;let idx=index' class="lb" >{{item.name}}</div>
          <div  (click)="xz=-1;hospital('体检')" [class.lbxz]='xz==-1' class="lb" >体检</div>
        </div>
    
       
        
    </div>
    <div  *ngIf="xz!=-1">
        <p class="p1"></p>
        <p class="p2">预约诊所</p>
        <ion-card  *ngFor="let item of hostlist;let i=index;"  (click)="information(item.hospital_id)">
            <div>
              <div class="div1">
                <img src='{{uploadpath}}hospital/{{item.hospital_fmtupian}}'/>
              </div>
              <div class="div1">
                <ion-card-title>{{item.hospital_name}}</ion-card-title>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <p style="margin-top: 0">
                    <ion-icon name="call"></ion-icon>
                    <span style="color:#aaaaaa;">&nbsp;&nbsp;{{item.hospital_phone}}</span>
                </p>
              </div> 
              <div class="flex-row flex-center margin-left-20" style="clear: both;">
                <div>
                  <ion-icon name="compass" class="ion-icon2"></ion-icon>
                </div>
                <div class="span7">{{item.hospital_address}}</div>
              </div>
            </div>
          
        </ion-card>
        
   

      </div>
      <div *ngIf="xz==-1">
        <p class="p1"></p>
        <p class="p2">预约诊所</p>
        <ion-card  *ngFor="let item of hostlist;let i=index;"  (click)="tijian(item)">
            <div>
              <div class="div1">
                <img src='{{uploadpath}}hospital/{{item.fmtupian}}'/>
              </div>
              <div class="div1">
                <ion-card-title>{{item.name}}</ion-card-title>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <p style="margin-top: 0">
                    <ion-icon name="call"></ion-icon>
                    <span style="color:#aaaaaa;">&nbsp;&nbsp;{{item.phone}}</span>
                </p>
              </div> 
              <div class="flex-row flex-center margin-left-20" style="clear: both;">
                <div>
                  <ion-icon name="compass" class="ion-icon2"></ion-icon>
                </div>
                <div class="span7">{{item.address}}</div>
              </div>
            </div>
          
        </ion-card>
        
   

      </div>       -->



    <!-- <ion-list lines="none">
      <ion-list-header>
        <ion-label>Resources</ion-label>
      </ion-list-header>
      <ion-item href="https://ionicframework.com/docs/">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Ionic Documentation</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/building/scaffolding">
        <ion-icon slot="start" color="medium" name="build"></ion-icon>
        <ion-label>Scaffold Out Your App</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/layout/structure">
        <ion-icon slot="start" color="medium" name="grid"></ion-icon>
        <ion-label>Change Your App Layout</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/theming/basics">
        <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
        <ion-label>Theme Your App</ion-label>
      </ion-item>
    </ion-list> -->
   
</ion-content>


