@function rpx($px) {
  @return ($px * 100vw) / 750;
}
.ion-icon{
  height:rpx(24*2);
  width:rpx(24*2)
}
.card{
  background-color:white;    
  border-top-left-radius: rpx(37);
  border-top-right-radius: rpx(37);
  padding-top: rpx(30);
  margin-top:rpx(-40);
  margin-bottom: rpx(-80);
  
}
.div-340{
  width:rpx(340*2);
  height:rpx(166*2);
  border-radius:rpx(20);
  margin-left:rpx(35);
}
.img-340{
  width:rpx(340*2);
  height:rpx(166*2);
  border-radius:rpx(20);
  margin:0;
}
input{
  height: rpx(33*2);
  width:rpx(344*2);
  border-radius: rpx(40);
  font-size: rpx(13*2);
  margin-left: rpx(15*2);
  padding-left:rpx(55);
  background-color: #EBEBEB;
  border-style: none;
}

.height-240{
  height: rpx(240)
}
.height-110{
  height: rpx(110);
}

.height-40{
  height: rpx(40); 
  margin-top:rpx(110);
}

.marginTop{
  margin-top: rpx(-20);
}


.margin-top-10{
  margin-top:rpx(10);
}

.icon-60{
  width:rpx(66);
  height: rpx(34*2);
}

.ion-icon1{
  width:rpx(35);
  height: rpx(35);
  position: relative;
  left:rpx(38);
  top:rpx(-56)
}
.p1{
  width:rpx(6);
  height:rpx(30);
  background-color: #6B3689;
  margin-top:rpx(36);
  margin-left:rpx(24);
  display: inline-block;
  margin-bottom:0
}
// .p2{
//   font-size: rpx(16*2);
//   font-weight:bold;
//   color:black;
//   display: inline-block;
//   margin-left:rpx(30);
// }
.p3{
  font-size: rpx(16*2);
  color:black;
  text-align: center;
  margin-top:rpx(-5*2);
}
.span1{
  color:#aaaaaa;
  margin-left: rpx(38);
  font-size: rpx(28)
}
.span2{
  color:#aaaaaa;
  margin-left: rpx(40*2);
  font-size: rpx(28)
}
.p4{
  margin-bottom: rpx(40)
}
.span3{
  color:black;
  margin-left: rpx(38);
  font-size: rpx(28);
  width:rpx(60);
  height: rpx(60);
  border:solid #aaaaaa rpx(2);
  border-radius: 50%;
  padding:rpx(4)
}
.span4{
  color:black;
  margin-left: rpx(40*2);
  font-size: rpx(28);
  width:rpx(60);
  height: rpx(60);
  border:solid #aaaaaa rpx(2);
  border-radius: 50%;
  padding:rpx(4)
}
hr{
  border: #aaaaaa solid rpx(0.01*2);
  background-color: #aaaaaa;
  opacity: 0.2;
}
.span5{
  color:black;
  margin-left: rpx(38);
  font-size: rpx(24);
  width:rpx(61*2);
  height: rpx(26*2);
  border:solid #aaaaaa rpx(1);
  border-radius: rpx(40);
  padding-left:rpx(20);
  padding-right: rpx(20);
  padding-bottom:rpx(8);
  padding-top:rpx(8)
}
.lb{
  font-size: rpx(24);
  padding-left:rpx(20);
  padding-right: rpx(20);
  padding-bottom:rpx(8);
  padding-top:rpx(8);
  border-radius: rpx(40);
  border:solid #aaaaaa rpx(1);
  color:black;
  margin-left: rpx(38);
  margin-top:rpx(20);
}
.lbxz{
 color:white;
 background: #6B3689;

}
.bg{
  width:100%;
  height:rpx(100);
  background-size: cover;
}

.bg1{
  background-color: rgba($color: #ffffff, $alpha: 0.8);
}
.span6{
  color:black;
  margin-left: rpx(30*2);
  font-size: rpx(24);
  width:rpx(61*2);
  height: rpx(26*2);
  border:solid #aaaaaa rpx(1);
  border-radius: rpx(40);
  padding-left:rpx(20);
  padding-right: rpx(20);
  padding-bottom:rpx(8);
  padding-top:rpx(8)
}
.p5{
  margin-top: 0px;
  margin-bottom: rpx(40)
}

ion-card{
  height: rpx(129*2);
  margin-top:0
}
.div1{
  padding: rpx(20);
  margin-top:rpx(20);
  float:left;
  margin-bottom: rpx(-20)
}
// img{
//   width:rpx(109*2);
//   height:rpx(75*2);
// }
.horizontalbar{
  display: block;
  margin-top:rpx(5);
  width:rpx(50*2);
  height:rpx(6);
  margin-left:rpx(30);
}
.xuanzhong{
  margin-left:rpx(60);
  margin-top:rpx(-140);
}

.ml{
  margin-left:rpx(-10)
}
.div2{
  clear: both;
  padding-left:rpx(20);
}
.ion-icon2{
  height: rpx(40);
  width:rpx(40);
  margin-bottom: rpx(-14)
}
.span7{
  color:#aaaaaa;
  font-size:rpx(28);
  margin-left:rpx(10);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.tabbody{
  background: white;
  border:#dee2e6 solid 1px;
  border-radius: 0.25rem;
  border-top: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.mdate{
  height:rpx(80);
  border-left: #dee2e6 solid 1px;
  border-bottom: #dee2e6 solid 1px;
}

.wtime{
  height:40px;
  padding:10px;
}

.issat{
  border-right: #dee2e6 solid 1px;
}

.pass{
  background: #eeeeee;
}
.today{
  background: #6B3689;
}
.xzrq{
  background: red;
}
.tpass{
  background: #eeeeee;
}
.wtime{
  border-bottom: #dee2e6 1px dotted; 
}


.card3{
  width:rpx(280*2);

}
.icon-25{
  width:rpx(50);
  height: rpx(50);
}
.ceshi{
  width:20vw;
  margin-left: prx(35);
  margin-top: prx(40);
}
.image{
  width:rpx(96*2);
  height: rpx(96*2);
  border-radius: rpx(16);
  background-size: cover;
}
.image1{
  width:rpx(32*2);
  height: rpx(32*2);
  background-size: cover;
  margin-right: rpx(-25);
}
.hg{
  width:rpx(345*2);
  height: rpx(2);
  background: #F0F0F0;
}