<ion-header>
  <!-- <ion-toolbar color="primary">
    <ion-icon name="arrow-back" class="ion-icon"></ion-icon>
    <ion-title>
      {{InstInfo.name}}
    </ion-title>
    <ion-icon name="close" slot="end" class="ion-icon"></ion-icon>
  </ion-toolbar> -->
  <div [style.background-image]="'url('+uploadpath+'resource/'+res.headpicture+')'" class="bg" ></div>
</ion-header>

<ion-content>
    <div style="background: radial-gradient(#268B73,#0F848D) ;position:fixed;z-index: 1;" class="padding-top-40 height-240">
      <div (click)="search()">
        <input placeholder="搜索科室/药品名称"/>
        <img src="{{uploadpath}}resource/{{res.sousuo}}" class="ion-icon1"/>
      </div>
      <div class="txt-white f18 text-center margin-top-20">预约服务</div>
    </div>
    <div style="background: #0F848D;width: 100%;" class="height-40"></div>
      <div class="card">
         <div class="txt-black f16 txt-bold margin-left-30">预约科室</div>
         <img src="{{uploadpath}}resource/{{res.horizontalbar}}" class="horizontalbar"/>
      </div>
    

    <div class="margin-left-40">


      <div  (click)="hospital(item)"  *ngFor='let item of department;let idx=index' style="display:inline-block;" class="margin-left-70 margin-top-150">
        <div>
          <img src='{{uploadpath}}department/{{item.img}}' class="icon-60" />
        </div>
        <div class="margin-top-10 f16 margin-left-10">{{item.name}}</div>
        <div *ngIf="xz==item.id" class="xuanzhong">
          <img   src='{{uploadpath}}resource/{{res.queren}}' class="icon-18"  />

        </div>

        <div  *ngIf="xz!=item.id" class="xuanzhong">
          <img  src='' class="icon-18"  />
          
        </div>
      </div>



      
    </div>

    
    <div class="margin-top-150" *ngIf="item!=null" id="hostlist">
      <div>
        <div class="txt-black f16 txt-bold margin-left-30">预约诊所</div>
        <img src="{{uploadpath}}resource/{{res.horizontalbar}}" class="horizontalbar"/>
      </div>
      <div  *ngFor="let item of hostlist;let i=index;"  (click)="information(item.id)" >
        <div class="margin-top-30">
          <ion-card class="card1"  [style.background-image]="'url('+uploadpath+'hospital/'+item.fmtupian+')'"></ion-card>
        </div>
        <div style="z-index: 1111;" class="marginTop">
          <ion-card class="card2 flex-row flex-center bg1">
            <div class="flex-column margin-left-30">
              <div class="oneline f18 txt-bold txt-black">{{item.name}}</div>
              <div class="txt-gw f12 margin-top ">{{item.phone}}</div>
              <div class="oneline txt-gw f12 margin-top">{{item.summary}}</div>
            </div>
            <div>
              <img   src="{{uploadpath}}resource/{{res.phone}}" class="icon-25 margin-left-40"/>
            </div>
          </ion-card> 
        </div>
      </div>
    </div>



</ion-content>


