@function rpx($px) {
    @return ($px * 100vw) / 750;
  }
 
.bg{
  width:100%;
  height:rpx(100);
  background-size: cover;
}
.card{
  background-color:white;    
  border-top-left-radius: rpx(37);
  border-top-right-radius: rpx(37);
  padding-top: rpx(30);
  margin-top:rpx(-40)
  
}
.height-110{
  height: rpx(110);
}
.height-40{
  height: rpx(40);
  margin-top:rpx(110);
}
.horizontalbar{
  display: block;
  margin-top:rpx(5);
  width:rpx(50*2);
  height:rpx(6);
  margin-left:rpx(30);
  // margin-bottom: rpx(-30);
}
.icon-32{
  width:rpx(28);
  height: rpx(28);
}
hr{
  border: #aaaaaa solid rpx(0.01*2);
  background-color: #aaaaaa;
  opacity: 0.2;
}

.d1{
  width:rpx(6);
  height: rpx(30);
  background-color:#0F848D;
}

.border-bottom {
  border-bottom: rgba(#AAAAAA, 0.2) solid rpx(2)
}

.width-100{
  width: rpx(100);
  margin-right: rpx(55)
}
.bc{
  background-color: #0F848D;
}