<ion-header>
    <div [style.background-image]="'url('+uploadpath+'resource/'+res.headpicture+')'" class="bg" ></div>
</ion-header>

<ion-content>
    <div style="background: #0F848D ;position:fixed;width:100%" class="padding-top-40 height-110">
        <div class="flex-row flex-center margin-left-30">
            <div  (click)="back()">
                <img src="{{uploadpath}}resource/{{res.leftarrow}}" class="icon-32" />
            </div>
            <div class="f12 txt-white margin-left-5" (click)="back()">上一步</div>
            <div class="f16 txt-white margin-left-200">文章详情</div>
        </div>
      </div>
      <div style="background: #0F848D;width: 100%;" class="height-40" ></div>

      <div class="card">
       <div class="margin-20">
          <div class="h4 txt-bold">
              {{wenzhangdetail.name}}
            </div>
            <div class="margin-bottom-20">
              <span class="h6 txt-gray-8a margin-right-30">{{wenzhangdetail.time}}</span>
              <span class="h6 txt-gray-8a">来源网：<span>{{wenzhangdetail.from}}</span></span>
            </div>
            <div [innerHtml]='wenzhangdetail.content'></div> 
       </div>
        

      </div>
      <img alt="" class="img1"  src="{{uploadpath}}resource/{{res.souye}}" (click)='fanhui()' />
</ion-content>
