<ion-header>
    <!-- <ion-toolbar color="primary">
        <ion-icon name="arrow-back" class="ion-icon" (click)="back()"></ion-icon>
        <ion-title>
          确认报名         
        </ion-title>
        <ion-icon name="close" slot="end" class="ion-icon"></ion-icon>
      </ion-toolbar> -->
      <div [style.background-image]="'url('+uploadpath+'resource/'+res.headpicture+')'" class="bg" ></div>
     
</ion-header>

<ion-content>
  
    <div style="background: #0F848D ;position:fixed;width:100%" class="padding-top-40 height-110">
        <div class="" style="text-align: center;"><div class="f16 txt-white ">确认报名</div></div>
            <div class="flex-row flex-center margin-left-30 mt">
              <div class="mtt" (click)="back()">
                <img src="{{uploadpath}}resource/{{res.leftarrow}}" class="icon-32" />
              </div>
              <div class="f12 txt-white margin-left-5" (click)="back()">上一步</div>
            </div>
            
     
    </div>
    <div style="background: #0F848D;width: 100%;" class="height-40" ></div>
    <div class="card">
      <div class="div1">
        <img alt="" src='{{uploadpath}}activity/{{activity.activitycover}}'/>
      </div>
      <div class="div1">
        <div class="p1">{{activity.activityname}}</div>
        <div class="p2" *ngIf='activity.price>=0'>费用：{{activity.price==0?'免费':'￥'+activity.price+'.00'}}</div>
      </div>
      <div style="clear: both"></div>
    </div>
  
  <div class="div2">
    <span class="span1">报名人信息</span>
    <span class="span2">（必填）</span>
  </div>
  <div class="div3 flex-center flex-row">
      <span class="span1 flex-1">姓名</span>
      <input class="span3" placeholder="请输入报名人姓名" [value]='xingming' (change)='xingming=$event.target.value'/>
  </div>
  <hr/>
  <div class="div3 flex-row flex-center">
      <span class="span1">选择年龄段</span>
      <select class="span4" [(ngModel)]="age" (change)='aa($event)' >
          <option  *ngFor="let age of ages"  [value]='age.id' >{{age.name}}</option>
      </select>
      
  </div>
  <hr/>
  <div class="div3 flex-center flex-row">
      <span class="span1 flex-1">联系方式</span>
      <input class="span5" placeholder="请输入手机号码" [value]='shoujihao' (change)='shoujihao=$event.target.value;' maxlength="11" />
  </div>
  <hr/>
  <div class="div4">
      <div class="p3 margin-top">注意事项：</div>
      <div class="p3 p9">{{activity.show}}</div>
      
     
  </div>





  <div  *ngIf="activity.price>=0" class="flex-row flex-center " style="margin-top:100px" >
      <div class="p4">{{activity.price==0?'免费':'￥'+activity.price+'.00'}}</div>
      <div class="p5" (click)="successfulRegistration()">确认报名</div>
  </div>





</ion-content>
