@function rpx($px) {
    @return ($px * 100vw) / 750;
  }
.ion-icon{
    height:rpx(24*2);
    width:rpx(24*2)
}
.card{
  background-color:white;    
  border-top-left-radius: rpx(37);
  border-top-right-radius: rpx(37);
  padding-top: rpx(30);
  margin-top:rpx(-40)
  
}
.bg{
  width:100%;
  height:rpx(100);
  background-size: cover;
}
.height-110{
  height: rpx(110);
}
.height-40{
  height: rpx(40);
  margin-top:rpx(110);
}

.icon-32{
  width:rpx(28);
  height: rpx(28);}
  hr{
    border: #aaaaaa solid rpx(0.01*2);
    background-color: #aaaaaa;
    opacity: 0.2;
  }
  img{
    height: rpx(140);
    width: rpx(124*2);
    border-radius: rpx(10)
  }
  .div1{
    margin-left: rpx(30);
    float: left;
    margin-bottom:rpx(20)
  }
  .p1{
    font-size: rpx(32);
    color:black;
    font-weight: bold;
    width:rpx(212*2);
    margin-top:rpx(0);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .p2{
    font-size: rpx(28);
    color:black;
    margin-top:rpx(40)
  }
  .div2{
    height: rpx(120);
    background-color:rgba($color: #aaaaaa, $alpha: 0.2); 
    line-height: rpx(120)
  }
  .span1{
    font-size: rpx(32);
    color: black;
    margin-left: rpx(30);
  }
  .span2{
    font-size: rpx(28);
    color: #8a8a8a;
    margin-left: rpx(20) 
  }
  .div3{
    margin-top:rpx(30);
    margin-bottom:rpx(30)
  }
  .span3{
    font-size: rpx(32);
    color: black;
    border:none;
    margin-right:rpx(70);
    outline: none;
    text-align: right
  }
  .span4{
    font-size: rpx(32);
    margin-left: rpx(320);
  }
  .span5{
    font-size: rpx(32);
    color: black;
    border:none;
    margin-right:rpx(70);
    outline: none;
    text-align: right
  }
.p3{
    font-size: rpx(24);
    color: #8a8a8a;
    margin-left: rpx(30)
}
.div4{
    // height: rpx(300);
    background-color:rgba($color: #aaaaaa, $alpha: 0.2); 
    padding-top: rpx(10);
    height: 100%;
}
.p4{
  width: rpx(150*2);
  height: rpx(90);
  background-color:  #6b3689;
  color:white;
  text-align: center;
  // margin-top: rpx(300);
  font-size: rpx(32);
  line-height: rpx(90);

}
.p5{
  width: rpx(225*2);
  height: rpx(90);
  background-color: #0E858D;
  color:white;
  text-align: center;
  font-size: rpx(32);
  line-height: rpx(90);

}
.icon-24{
  width: rpx(48);
  height: rpx(48)
}
select{
  border:none;
  outline: none;
  background: transparent;
}

.yanse{
  color: #b9b9b9
}

