.tabbody{
    background: white;
    border:#dee2e6 solid 1px;
    border-radius: 0.25rem;
    border-top: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.mdate{
    height:20vh;
    border-left: #dee2e6 solid 1px;
    border-bottom: #dee2e6 solid 1px;
}

.wtime{
    height:40px;
    padding:10px;
}

.issat{
    border-right: #dee2e6 solid 1px;
}

.pass{
    background: #eeeeee;
}
.today{
    background: #d4f8b7;
}
.tpass{
    background: #eeeeee;
}
.wtime{
    border-bottom: #dee2e6 1px dotted; 
}