<div class="container-fluid mt-5">

  <h1 class="h3 mb-4 text-gray-800">日程管理</h1>
  <div>
    <tabset [justified]="true" >
      <tab heading="月">
          
        <div class="tabbody padding-20 ">
            <div class=" bg-primary  text-white ">
                <div class="flex-row flex-center ">
                    <div class="h3 padding-20">
                            <i class="fa fa-angle-left" ></i>
                    </div>
                    <div class="flex-1 text-center">2018年9月</div>
                    <div class="h3 padding-20">
                            <i class="fa fa-angle-right " ></i>
                    </div>
                </div>
            </div>
            <div class="flex-row bg-primary  text-white">
                <div class="flex-1 h6 txt-bold padding-20">星期天</div>
                <div class="flex-1 h6 txt-bold padding-20">星期一</div>
                <div class="flex-1 h6 txt-bold padding-20">星期二</div>
                <div class="flex-1 h6 txt-bold padding-20 ">星期三</div>
                <div class="flex-1 h6 txt-bold  padding-20">星期四</div>
                <div class="flex-1 h6 txt-bold padding-20">星期五</div>
                <div class="flex-1 h6 txt-bold padding-20">星期六</div>
            </div>
        </div>

      </tab>
      <tab heading="周">b</tab>
      <tab heading="日">c</tab>
    </tabset>
  </div>


</div>
