<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-4 mt-5 text-gray-800">医生日程</h1>
  <div class="padding-20">
    <div *ngFor="let doctor of doctorlist">
        <div class="tabbody padding-20 ">
          <div class="flex-row flex-center  mb-2">
            <div class="margin-right">
              <img class="photo" src="{{uploadpath}}doctor/{{doctor.photo}}" />
            </div>
            <div class="flex-1">{{doctor.name}} {{doctor.title}}</div>
          </div>
          <div class="flex-row ">
            <div class="flex-1">
              <div class=" primary-block text-white padding-20">时间</div>
              <div *ngFor="let t of wtimeline;">
                <div class="wtime pass" [class.under]='t.minute==30'>{{t.hour}}:{{t.minute}}</div>
              </div>
            </div>
            <div class="flex-1" *ngFor="let d of wcal;let i=index;">
              <div class="" [class.issat]="i==6" [class.today]='d.today==true'>
                <div class=" primary-block text-white  padding-20">{{d.today?"今天":d.dayname}}</div>
                <div class="" *ngFor="let t of d.timeline;">
                  <div class="wtime" (click)='setDate(doctor,d,t)' [class.under]='t.minute==30' [class.today]='d.today==true'
                    [class.tpass]='t.pass==true'></div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
